{% extends "base_editar.html" %}

{% block titulo %}

Ambiente por Tipo de Inmueble

{% endblock titulo %}

{% block titulo_form %}

Editar el ambiente ambiente por tipo de inmueble {{form.ambiente.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if ambienteportipoinmueble_previous %}

        <li class="previous">
            <a href="{% url 'uambientes:edit_ambienteportipoinmueble' ambienteportipoinmueble_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
        </li>

    {% else %}

       <li class="previousBloqueado"><a href="#">&larr; Anterior</a></li>

    {% endif %}

    {% if ambienteportipoinmueble_next %}

        <li class="next">
            <a href="{% url 'uambientes:edit_ambienteportipoinmueble' ambienteportipoinmueble_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
        </li>

    {% else %}

        <li class="nextBloqueado"><a href="#">Siguiente &rarr;</a></li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_p }}

<script type="text/javascript">
document.getElementById('id_ambiente').focus()
</script>

{% endblock cuerpo_form %}
