{% extends "base_ficha.html" %}

{% block ficha_basica %}

<ul class="paginacionEdit">

    {% if ambiente_previous %}

    <li class="anterior">
        <md-button href="{% url 'uambientes:edit_ambiente' ambiente_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; </md-button>
    </li>

    {% else %}

    <li class="anteriorBloqueado">
        <md-button href="#" ng-disabled="true" tabindex="-1">&larr; </md-button>
    </li>

    {% endif %}

    {% if ambiente_next %}

    <li class="siguiente">
        <md-button href="{% url 'uambientes:edit_ambiente' ambiente_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1"> &rarr;</md-button>
    </li>

    {% else %}

    <li class="siguienteBloqueado">
        <md-button href="#" ng-disabled="true" tabindex="-1"> &rarr;</md-button>
    </li>

    {% endif %}
</ul>
<form ng-controller="controlForm" action="" method="post" id="myformEdit">

    {% csrf_token %}

    <span class="msj alert alert-warning hidden"></span>
    <h3>Ficha del ambiente:
        <md-button class="md-primary md-fab botonGuardar hidden" type="submit" name="regEdit">
        <md-icon class="glyphicon glyphicon-ok"></md-icon>
        <md-tooltip md-direction="left">
        Guardar
    </md-tooltip>
</md-button>
</h3>
<div class="grupoInput">
    <!--  <label for="{{form.ambiente.id_for_label}}">{{form.ambiente.label}}</label> -->
    <md-input-container>
    <h2>
        {{form.ambiente}}</h2>
    </md-input-container>
    <md-input-container>
    <label for="{{form.ambiente.id_for_label}}">{{form.descripcion.label}}</label>
    {{form.descripcion}}
</md-input-container>
<md-input-container>
¿Ambiente contable? {{form.conteo_de_ambientes}}
</md-input-container>
</div>
</form>

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.ambiente = '{{form.ambiente.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.conteo_de_ambientes = {{form.conteo_de_ambientes.value|lower}};
//$('md-tooltip').focus();
// $('#id_ambiente').parent().addClass('md-input-focused');
$('input, textarea, h2').hover(function(){
    $(this).parent().addClass('md-input-focused');
}, function(){
    $(this).parent().removeClass('md-input-focused');
});
$('label[for=id_conteo_de_ambientes]').parent().each(function(){
    $(this).replaceWith( "<p>" + $(this).html() + "</p>" );
});
$('label[for=id_conteo_de_ambientes]').css('display','none');
setTimeout(function() {
    $("input[name='conteo_de_ambientes']").bootstrapSwitch();
    $('.bootstrap-switch').after('<label style="margin-left:20px;color:rgba(0,0,0,0.54);transform:translate3d(0, 6px, 0) scale(0.75);margin-bottom:10px;position:absolute;" for="id_conteo_de_ambientes">' + $('label[for=id_conteo_de_ambientes]').text() + '</label>');
}, 100);
$(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
$(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.ambiente.value}}');
tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.descripcion.value|truncatechars:"40"}}');
tr.children('td[id=td3_{{form.instance.pk}}]').text('{{form.conteo_de_ambientes.value|yesno:"Es contable,No es contable"}}');
});
</script>

{% endblock moduloAngularFicha %}
