{% extends "base_editar.html" %}

{% block titulo %}

Ambiente por Tipo de Inmueble

{% endblock titulo %}

{% block titulo_form %}

Agregar ambiente por tipo de inmueble

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {% csrf_token %}
  <div class="form-group">
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                <input type="checkbox" id="ch_var" name="ch_var">
                <select name="var1" id="var1">
                  {% for amb in variable1  %}

                    <option value="{{amb.id}}">{{amb.ambiente}}</option>

                  {% endfor %}
                </select>
                <select name="var2" id="var2">
                  {% for inmueble in variable2 %}

                    <option value="{{inmueble.id}}">{{inmueble.especificacion_de_inmueble}}</option>

                   {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
        <td>
          ambiente
        </td>
        <td>
          Especificación de inmueble
        </td>
        <td>
          Predefinido
        </td>
        <td>
            Agregar
        </td>
      </tr>
      {{ formset.management_form }}
      {% for form in formset %}
      {% if not forloop.last %}
      <tr id="{{forloop.counter}}">
        <td>{{form.ambiente}}</td>
        <td>{{form.especificacion_de_inmueble}}</td>
        <td>{{form.predeterminado}}</td>
        <td>{{form.ch_agregar}}</td>
      </tr>
      {% endif %}
      {% endfor %}

    </table>
  </div>

{% endblock cuerpo_form %}

{% block js_inferior %}

<script type="text/javascript">
$('form').removeClass('hidden');
{% if request.GET.var2 %}
  $('#var2 option[value={{request.GET.var2}}]').attr('selected','selected');
{% endif %}
{% if request.GET.var1 %}
  $('#var1 option[value={{request.GET.var1}}]').attr('selected','selected');
{% endif %}

{% if request.GET.ch_var %}

if ('{{request.GET.ch_var}}' == 'on'){
  document.getElementById("ch_var").checked = true;
}else{
  document.getElementById("ch_var").checked = false;
}

{% endif %}

$('input[name="ch_var"]').on('switchChange.bootstrapSwitch',
  function(event, state) {
    if (state == true) {
      var1 = $("#var1").val();
      ch_var = $("#ch_var").val();
      location.href='/ambiente/ambiente_por_tipo_de_inmueble/nuevo?var1='+var1+'&ch_var='+ch_var
      $('#var1 option[value='+var1+']').attr('selected','selected');

    }else{
      ch_var = $("#ch_var").val();
      var2 = $("#var2").val();
      location.href='/ambiente/ambiente_por_tipo_de_inmueble/nuevo?var2='+var2
      $('#var2 option[value='+var2+']').attr('selected','selected');
    }
});

$("#var2").on("change", function() {

    $("#ch_var").val('off');
    document.getElementById("ch_var").checked = false;
    ch_var = $("#ch_var").val();
    var2 = $("#var2").val();
    location.href='/ambiente/ambiente_por_tipo_de_inmueble/nuevo?var2='+var2
    $('#var2 option[value='+var2+']').attr('selected','selected');
});
$("#var1").on("change", function() {
    var1 = $("#var1").val();
    ch_var = $("#ch_var").val();
    location.href='/ambiente/ambiente_por_tipo_de_inmueble/nuevo?var1='+var1+'&ch_var='+ch_var
    $('#var1 option[value='+var1+']').attr('selected','selected');
      });
</script>

{% endblock js_inferior %}
