{% extends "base_ficha.html" %}

{% block titulo_ficha %}

'Ficha del ambiente: {{form.ambiente.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

{% if ambiente_previous %}

<li class="anterior">
    <md-button href="{% url 'uambientes:edit_ambiente' ambiente_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">&larr; anterior</md-button>
</li>

{% endif %}

{% if ambiente_next %}

<li class="siguiente">
    <md-button href="{% url 'uambientes:edit_ambiente' ambiente_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

    {{form.ambiente}}

</h3>
</md-input-container>
<md-input-container>
<label for="{{form.descripcion.id_for_label}}">

    {{form.descripcion.label}}

</label>

{{form.descripcion}}

</md-input-container>
<md-input-container ng-cloak>
<span class="labelSwitch">

{{form.conteo_de_ambientes.label}}

</span >

{{form.conteo_de_ambientes}}

</md-input-container>

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.ambiente = '{{form.ambiente.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.conteo_de_ambientes = {{form.conteo_de_ambientes.value|lower}};
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.ambiente = '{{form.ambiente.value}}';
        $scope.descripcion = '{{form.descripcion.value}}';
        $scope.conteo_de_ambientes = {{form.conteo_de_ambientes.value|lower}};
    };
    $scope.onChange = function() {
        controlSubmit(event);
    };
    setTimeout(function() {
        $("input[name='conteo_de_ambientes']").bootstrapSwitch();
    }, 1);
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.ambiente.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.descripcion.value|truncatechars:"40"}}');
    tr.children('td[id=td3_{{form.instance.pk}}]').text('{{form.conteo_de_ambientes.value|yesno:"Es contable,No es contable"}}');
});
</script>

{% endblock moduloAngularFicha %}
