{% extends "base_editar.html" %}

{% block titulo %}

Ambiente

{% endblock titulo %}

{% block titulo_form %}

Agregar un ambiente

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
      $('#id_ambiente').focus();
      $('#id_ambiente').parent().addClass('md-input-focused');
        $('label[for=id_conteo_de_ambientes]').parent().each(function(){
        $(this).replaceWith( "<p>" + $(this).html() + "</p>" );
    });
    $('label[for=id_conteo_de_ambientes]').css('display','none');
    setTimeout(function() {
        $("input[name='conteo_de_ambientes']").bootstrapSwitch();
        $('.bootstrap-switch').after('<label style="margin-left:20px;color:rgba(0,0,0,0.54);transform:translate3d(0, 6px, 0) scale(0.75);margin-bottom:10px;position:absolute;" for="id_conteo_de_ambientes">' + $('label[for=id_conteo_de_ambientes]').text() + '</label>');
    }, 100);
  });
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
