{% extends "base_editar.html" %}

{% block titulo %}

    Ambiente

{% endblock titulo %}

{% block titulo_form %}

    <h2>Agregar ambiente</h2>

{% endblock titulo_form %}

{% block formulario %}

<form action="" method="post" id="myformEdit">
    {% csrf_token %}

<div class="form-group">

  {{ form.as_p }}

</div>
<button type="submit" class="btn btn-default registrar" name="reg">Registrar</button>
<button type="submit" class="btn btn-default" name="regEdit">Registrar y seguir editando</button>
<script type="text/javascript">
document.getElementById('id_ambiente').focus()
</script>
</form>

{% endblock formulario %}
