{% extends "base_editar.html" %}

{% block titulo %}

Talonario

{% endblock titulo %}

{% block titulo_form %}

Editar el documento de talonario: {{form.numero.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if documentodeltalonario_previous %}

<li class="anterior">
    <md-button href="{% url 'utalonarios:edit_documentodeltalonario' documentodeltalonario_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
</li>

{% endif %}

{% if documentodeltalonario_next %}

<li class="siguiente">
    <md-button href="{% url 'utalonarios:edit_documentodeltalonario' documentodeltalonario_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.numero = '{{form.numero.value}}';
    $scope.estado = '{{form.estado.value}}';
    $scope.informacion_de_proceso = '{{form.informacion_de_proceso.value}}';
    $scope.informacion_de_beneficiari = '{{form.informacion_de_beneficiari.value}}';
    $scope.numero_final = '{{form.numero_final.value}}';
    $scope.talonario = '{{form.talonario.value}}';
    $('#id_talonario').focus();
});
</script>

{% endblock moduloAngular %}
