{% extends "base_editar.html" %}

{% block titulo %}

Talonario

{% endblock titulo %}

{% block titulo_form %}

Agregar un documento del talonario

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
      $('#id_talonario').focus();
  });
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
