{% extends "base_lista.html" %}

{% block titulo %}

Talonario

{% endblock titulo %}

{% block titulo_lista %}

<h2>Listado de talonarios</h2>
 <h6>Cantidad de talonarios encontrados:
    <span class="badge" id="count_reg">

        {{ talonarios.count }}

    </span>
</h6>

{% endblock titulo_lista %}

{% block paginacion_lista %}

{% if request.GET.page == "0" %}

<li><a href="?page=1">Paginar</a></li>

{% else %}

{% if page_obj.has_previous %}

{% if request.GET.order_by %}

<li>
    <a href="?page={{ page_obj.previous_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li>
    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
    <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
    <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% endif %}

{% if request.GET.page == "1" %}

<li class="btn-disabled">
    <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">Primero...</a>
</li>

{% else %}

<li class="">
    <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">Primero...</a>
</li>

{% endif %}

{% for p in page_range2 %}

{% if p == page_obj.number %}

<li class="active">
    <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{p}}</a>
</li>

{% else %}

<li>
    <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{p}}</a>
</li>

{% endif %}

{% endfor %}

{% if page_obj.paginator.num_pages %}

{% if request.GET.page == ultimo %}

<li class="btn-disabled">
    <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">...Ultimo</a>
</li>

{% else %}

<li class="">
    <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">...Ultimo</a>
</li>

{% endif %}

{% endif %}

{% if page_obj.has_next %}

{% if request.GET.order_by %}

<li>
    <a href="?page={{ page_obj.next_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li>
    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endif %}

<li><a href="?page=0">Ver todo</a></li>

{% endif %}

{% endblock paginacion_lista %}

{% block lista %}

{% if talonarios %}

<tr class="active">
    <th>
        Nombre del talonario

        {% if request.GET.page %}

        <a href="?order_by=talonario&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="talonario" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-talonario&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-talonario"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=talonario{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="talonario" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-talonario{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-talonario"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Descripción del talonario

        {% if request.GET.page %}

        <a href="?order_by=descripcion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="descripcion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-descripcion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-descripcion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=descripcion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="descripcion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-descripcion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-descripcion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Prefijo del talonario

        {% if request.GET.page %}

        <a href="?order_by=prefijo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="prefijo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-prefijo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-prefijo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=prefijo{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="prefijo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-prefijo{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-prefijo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Separador del talonario

        {% if request.GET.page %}

        <a href="?order_by=separador&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="separador" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-separador&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-separador"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=separador{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="separador" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-separador{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-separador"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Desde el numero

        {% if request.GET.page %}

        <a href="?order_by=numero_desde&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="numero_desde" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-numero_desde&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-numero_desde"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=numero_desde{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="numero_desde" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-numero_desde{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-numero_desde"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Hasta el numero

        {% if request.GET.page %}

        <a href="?order_by=numero_hasta&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="numero_hasta" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-numero_hasta&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-numero_hasta"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=numero_hasta{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="numero_hasta" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-numero_hasta{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-numero_hasta"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Separador del sufijo del talonario

        {% if request.GET.page %}

        <a href="?order_by=separado_sufijo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="separado_sufijo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-separado_sufijo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-separado_sufijo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=separado_sufijo{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="separado_sufijo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-separado_sufijo{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-separado_sufijo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Numeración correlativa

        {% if request.GET.page %}

        <a href="?order_by=numeracion_correlativa&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="numeracion_correlativa" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-numeracion_correlativa&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-numeracion_correlativa"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=numeracion_correlativa{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="numeracion_correlativa" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-numeracion_correlativa{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-numeracion_correlativa"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Numero del documento del talonario

        {% if request.GET.page %}

        <a href="?order_by=numero_de_documento&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="numero_de_documento" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-numero_de_documento&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-numero_de_documento"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=numero_de_documento{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="numero_de_documento" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-numero_de_documento{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-numero_de_documento"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Cantidad fija del talonario

        {% if request.GET.page %}

        <a href="?order_by=cantidad_fija&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="cantidad_fija" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-cantidad_fija&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-cantidad_fija"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=cantidad_fija{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="cantidad_fija" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-cantidad_fija{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-cantidad_fija"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Tipo de documento impreso

        {% if request.GET.page %}

        <a href="?order_by=tipo_de_documento_impreso&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="tipo_de_documento_impreso" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-tipo_de_documento_impreso&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-tipo_de_documento_impreso"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=tipo_de_documento_impreso{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="tipo_de_documento_impreso" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-tipo_de_documento_impreso{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-tipo_de_documento_impreso"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
</tr>

{% for i in talonarios %}

<tr id="tr{{i.pk}}" data-url="{% url 'utalonarios:edit_talonario' i.pk %}?next={{request.get_full_path}}" class="btnFicha">
    <td id="td1_{{i.pk}}">

        {{ i.talonario }}

    </td>
    <td id="td2_{{i.pk}}">

        {{ i.descripcion }}

    </td>
    <td id="td3_{{i.pk}}">

        {{ i.prefijo }}

    </td>
    <td id="td4_{{i.pk}}">

        {{ i.separador }}

    </td>
    <td id="td5_{{i.pk}}">

        {{ i.numero_desde }}

    </td>
    <td id="td6_{{i.pk}}">

        {{ i.numero_hasta }}

    </td>
    <td id="td7_{{i.pk}}">

        {{ i.separado_sufijo }}

    </td>
    <td id="td8_{{i.pk}}">

        {{ i.numeracion_correlativa|yesno:"Numeración correlativa,No numeración correlativa" }}

    </td>
    <td id="td9_{{i.pk}}">

        {{ i.numero_de_documento }}

    </td>
    <td id="td10_{{i.pk}}">

        {{ i.cantidad_fija|yesno:"Cantidad fija,No es cantidad fija" }}

    </td>
    <td id="td11_{{i.pk}}">

        {{ i.tipo_de_documento_impreso }}

    </td>
    <td class="c_td">
            <a title="Eliminar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'utalonarios:eliminar_talonario' i.pk %}?next={{request.get_full_path}}" class="iconoRemover"></a>
            <span class="iconoGrupoControl"></span>
    </td>
</tr>

{% endfor %}

{% else %}

<tr>
    <td> No se encontraron registros</td>
</tr>

{% endif %}

<script>
    $(document).on('ready',function(){
        ocultarASCDesc('talonario');
        ocultarASCDesc('descripcion');
        ocultarASCDesc('prefijo');
        ocultarASCDesc('separador');
        ocultarASCDesc('numero_desde');
        ocultarASCDesc('numero_hasta');
        ocultarASCDesc('separado_sufijo');
        ocultarASCDesc('numeracion_correlativa');
        ocultarASCDesc('numero_de_documento');
        ocultarASCDesc('cantidad_fija');
        ocultarASCDesc('tipo_de_documento_impreso');
    });
</script>

{% endblock lista %}
