{% extends "base_ficha.html" %}

{% block titulo_ficha %}

'Ficha del talonario: {{form.talonario.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if talonario_previous %}

        <li class="anterior">
            <a href="{% url 'utalonarios:edit_talonario' talonario_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</a>
        </li>

    {% else %}

        <li class="anteriorBloqueado"><a href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</a></li>

    {% endif %}

    {% if talonario_next %}

        <li class="siguiente">
            <a href="{% url 'utalonarios:edit_talonario' talonario_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</a>
        </li>

    {% else %}

<li class="siguienteBloqueado">
  <a href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</a>
</li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

{{ form.as_p }}

{% endblock ficha_basica %}

{% block jsFicha %}

<script type="text/javascript">
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    var scroll = $(parent.document.getElementsByClassName("page-content-wrapper"));
    var pos = $(tr).position();
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.talonario.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.descripcion.value|truncatechars:"30"}}');
    tr.children('td[id=td3_{{form.instance.pk}}]').text('{{form.prefijo.value}}');
    tr.children('td[id=td4_{{form.instance.pk}}]').text('{{form.separador.value}}');
    tr.children('td[id=td5_{{form.instance.pk}}]').text('{{form.numero_desde.value}}');
    tr.children('td[id=td6_{{form.instance.pk}}]').text('{{form.numero_hasta.value}}');
    tr.children('td[id=td7_{{form.instance.pk}}]').text('{{form.separado_sufijo.value}}');
    tr.children('td[id=td8_{{form.instance.pk}}]').text('{{form.numeracion_correlativa.value|yesno:"Numeración correlativa,No numeración correlativa"}}');
    tr.children('td[id=td9_{{form.instance.pk}}]').text('{{form.numero_de_documento.value}}');
    tr.children('td[id=td10_{{form.instance.pk}}]').text('{{form.cantidad_fija.value|yesno:"Cantidad fija,No es cantidad fija"}}');
    tr.children('td[id=td11_{{form.instance.pk}}]').text('{{talonario.tipo_de_documento_impreso}}');
    $(scroll).animate({ scrollTop: pos.top - 250 }, 1000);
</script>

{% endblock jsFicha %}
