{% extends "base_editar.html" %}

{% block titulo %}

Talonario

{% endblock titulo %}

{% block titulo_form %}

Editar el tipo de documento impreso: {{form.tipo_de_documento_impreso.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if tipodedocumentoimpreso_previous %}

<li class="anterior">
    <md-button href="{% url 'utalonarios:edit_tipodedocumentoimpreso' tipodedocumentoimpreso_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado"><md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button></li>

{% endif %}

{% if tipodedocumentoimpreso_next %}

<li class="siguiente">
    <md-button href="{% url 'utalonarios:edit_tipodedocumentoimpreso' tipodedocumentoimpreso_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.tipo_de_documento_impreso = '{{form.tipo_de_documento_impreso.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $('#id_tipo_de_documento_impreso').focus();
});
</script>

{% endblock moduloAngular %}
