{% extends "base_lista.html" %}

{% block titulo %}

Mueble

{% endblock titulo %}

{% block titulo_lista %}

<h2>Listado de especificación de Muebles</h2>
<h6>Cantidad de especificación de Muebles encontrados:
  <span class="badge" id="count_reg">

    {{ especificacionesdemueble.count }}

  </span>
</h6>

{% endblock titulo_lista %}

{% block paginacion_lista %}

{% if request.GET.page == "0" %}

<li><a href="?page=1">Paginar</a></li>

{% else %}

{% if page_obj.has_previous %}

{% if request.GET.order_by %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
  <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
  <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% endif %}

{% if request.GET.page == "1" %}

<li class="btn-disabled">
  <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">Primero...</a>
</li>

{% else %}

<li class="">
  <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">Primero...</a>
</li>

{% endif %}


{% for p in page_range2 %}

{% if p == page_obj.number %}

<li class="active">
  <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{p}}</a>
</li>

{% else %}

<li>
  <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{p}}</a>
</li>

{% endif %}


{% endfor %}

{% if page_obj.paginator.num_pages %}

{% if request.GET.page == ultimo %}

<li class="btn-disabled">
  <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">...Ultimo</a>
</li>

{% else %}

<li class="">
  <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">...Ultimo</a>
</li>

{% endif %}

{% endif %}

{% if page_obj.has_next %}

{% if request.GET.order_by %}

<li>
  <a href="?page={{ page_obj.next_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li>
  <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
  <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
  <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endif %}

<li><a href="?page=0">Ver todo</a></li>

{% endif %}

{% endblock paginacion_lista %}

{% block lista %}

{% if especificacionesdemueble %}

<th>
  Especificación de mueble

  {% if request.GET.page %}

  <a href="?order_by=especificacion_de_mueble&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="especificacion_de_mueble" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-especificacion_de_mueble&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-especificacion_de_mueble"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% else %}

  <a href="?order_by=especificacion_de_mueble{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="especificacion_de_mueble" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-especificacion_de_mueble{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-especificacion_de_mueble"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% endif %}

</th>
<th>
  Descripción de la especificación

  {% if request.GET.page %}

  <a href="?order_by=descripcion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="descripcion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-descripcion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-descripcion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% else %}

  <a href="?order_by=descripcion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="descripcion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-descripcion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-descripcion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% endif %}

</th>
<th>
  Ancho del mueble

  {% if request.GET.page %}

  <a href="?order_by=ancho&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="ancho" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-ancho&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-ancho"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% else %}

  <a href="?order_by=ancho{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="ancho" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-ancho{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-ancho"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% endif %}

</th>
<th>
  Largo del mueble

  {% if request.GET.page %}

  <a href="?order_by=largo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="largo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-largo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-largo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% else %}

  <a href="?order_by=largo{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="largo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-largo{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-largo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% endif %}

</th>
<th>
  Alto del mueble

  {% if request.GET.page %}

  <a href="?order_by=alto&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="alto" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-alto&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-alto"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% else %}

  <a href="?order_by=alto{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="alto" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-alto{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-alto"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% endif %}

</th>
<th>
  Ocupación en el camión

  {% if request.GET.page %}

  <a href="?order_by=volumen_en_camion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="volumen_en_camion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-volumen_en_camion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-volumen_en_camion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% else %}

  <a href="?order_by=volumen_en_camion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="volumen_en_camion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-volumen_en_camion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-volumen_en_camion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% endif %}

</th>
<th>
  Mueble predefinido

  {% if request.GET.page %}

  <a href="?order_by=predefinido&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="predefinido" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-predefinido&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-predefinido"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% else %}

  <a href="?order_by=predefinido{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="predefinido" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-predefinido{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-predefinido"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% endif %}

</th>
<th>
  Nombre del mueble

  {% if request.GET.page %}

  <a href="?order_by=mueble&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="mueble" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-mueble&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-mueble"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% else %}

  <a href="?order_by=mueble{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="mueble" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
  <a href="?order_by=-mueble{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-mueble"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>

  {% endif %}

</th>
</tr>

{% for i in especificacionesdemueble %}

<tr id="tr{{i.pk}}" data-url="{% url 'umuebles:edit_especificaciondemueble' i.pk %}?next={{request.get_full_path}}" class="btnFicha">
  <td id="td1_{{i.pk}}">

    {{ i.especificacion_de_mueble }}

  </td>
  <td id="td2_{{i.pk}}">

    {{ i.descripcion|truncatechars:"40" }}

  </td>
  <td id="td3_{{i.pk}}">

    {{ i.ancho }}

  </td>
  <td id="td4_{{i.pk}}">

    {{ i.largo }}

  </td>
  <td id="td5_{{i.pk}}">

    {{ i.alto }}

  </td>
  <td id="td6_{{i.pk}}">

    {{ i.volumen_en_camion }} <span>m<sup>3</sup></span>

  </td>
  <td id="td7_{{i.pk}}">

    {{ i.predefinido|yesno:"Es predefinido,No es predefinido" }}

  </td>
  <td id="td8_{{i.pk}}">

    {{ i.mueble }}

  </td>
  <td class="c_td">
            <a title="Eliminar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'umuebles:eliminar_especificaciondemueble' i.pk %}?next={{request.get_full_path}}" class="iconoRemover"></a>
            <span class="iconoGrupoControl"></span>
    </td>
</tr>

{% endfor %}

{% else %}

<tr>
  <td> No se encontraron registros</td>
</tr>

{% endif %}

<script>
$(document).on('ready',function(){
ocultarASCDesc('especificacion_de_mueble');
ocultarASCDesc('descripcion');
ocultarASCDesc('ancho');
ocultarASCDesc('largo');
ocultarASCDesc('alto');
ocultarASCDesc('mueble');
ocultarASCDesc('predefinido');
ocultarASCDesc('volumen_en_camion');
});
</script>

{% endblock lista %}

