{% extends "base_editar.html" %}

{% block titulo_form %}

Editar el especificación de mueble: {{ form.especificacion_de_mueble.value|lower }}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if especificaciondemueble_previous %}

        <li class="anterior">
            <md-button href="{% url 'umuebles:edit_especificaciondemueble' especificaciondemueble_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if especificaciondemueble_next %}

        <li class="siguiente">
            <md-button href="{% url 'umuebles:edit_especificaciondemueble' especificaciondemueble_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguiente">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.mueble = '{{form.mueble.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.ancho = '{{form.ancho.value}}';
    $scope.largo = '{{form.largo.value}}';
    $scope.alto = '{{form.alto.value}}';
    $scope.especificacion_de_mueble = '{{form.especificacion_de_mueble.value}}'
    $scope.volumen_en_camion = '{{form.volumen_en_camion.value}}'
    $scope.predefinido = {{form.predefinido.value|lower}};
    $('#id_mueble').focus();
    //$('#especificacion_de_mueble').parent().addClass('md-input-focused');
    $('label[for=id_predefinido]').parent().each(function(){
        $(this).replaceWith( "<p>" + $(this).html() + "</p>" );
    });
    $('label[for=id_predefinido]').css('display','none');
    setTimeout(function() {
        $("input[name='predefinido']").bootstrapSwitch();
        $('.bootstrap-switch').after('<label style="margin-left:20px;color:rgba(0,0,0,0.54);transform:translate3d(0, 6px, 0) scale(0.75);margin-bottom:10px;position:absolute;" for="id_predefinido">' + $('label[for=id_predefinido]').text() + '</label>');
    }, 100);
});
</script>

{% endblock moduloAngular %}
