{% extends "base_editar.html" %}

{% block titulo %}

Mueble

{% endblock titulo %}

{% block titulo_form %}

Agregar un mueble

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

<md-input-container>
<span class="labelSwitch" for="{{form.tipo_de_mueble.id_for_label}}">

  {{form.tipo_de_mueble.label}}

</span>

{{form.tipo_de_mueble}}

</md-input-container>
<md-input-container>
<label for="{{form.mueble.id_for_label}}">

  {{form.mueble.label}}

</label>

{{form.mueble}}


</md-input-container>
<md-input-container>
<label for="{{form.ambiente.id_for_label}}">

  {{form.descripcion.label}}

</label>

{{form.descripcion}}

</md-input-container>
<md-input-container>
<span class="labelSwitch">
  {{form.trasladable.label}}
</span >

{{form.trasladable}}

</md-input-container>


{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
  function enterNone(elemento) {
    $(elemento).keypress(function(e){
      if(e.which == 13){
        return false;
      }
    });
  }
  setTimeout(function() {
    $("#id_tipo_de_mueble").zelect();
    $("input[name='trasladable']").bootstrapSwitch();
    enterNone('form');
    $('.zelected').click();
  }, 100);
});
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
