{% extends "base_editar.html" %}

{% block titulo %}

Mueble

{% endblock titulo %}

{% block titulo_form %}

Agregar tipo de mueble

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {{ form.as_p }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
      $('#id_tipo_de_mueble').focus();
  });
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
