{% extends "base_editar.html" %}

{% block titulo_form %}

Editar el tipo de mueble: {{form.tipo_de_mueble.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if tipodemueble_previous %}

<li class="anterior">
    <md-button ng-href="{% url 'umuebles:edit_tipodemueble' tipodemueble_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado">
    <md-button ng-href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
</li>

{% endif %}

{% if tipodemueble_next %}

<li class="siguiente">
 <md-button ng-href="{% url 'umuebles:edit_tipodemueble' tipodemueble_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button ng-href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.tipo_de_mueble = '{{form.tipo_de_mueble.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.$watch('tipo_de_mueble', function(newV){
      newV && $('#id_tipo_de_mueble').focus();
    },true);
  });
</script>

{% endblock moduloAngular %}
