{% extends "base.html" %}

{% block header %}{% endblock header %}

{% block titulo %}

Mueble

{% endblock titulo %}

{% block acceso_rapido %}

<a title="Volver" class="md-icon-button" href="{% if request.GET.next = None %}../{% else %}{{request.GET.next}}{% endif %}" tabindex="-1">
<span class="iconoVolver"></span>
</a>

{% endblock acceso_rapido %}

{% block contenido %}

<div class="columna12">
    <h2>

        {% block titulo_form %}{% endblock titulo_form %}

    </h2>
</div>
<div class="columna6">
    <ul class="paginacionEdit">

        {% block nav_lista_form %}{% endblock nav_lista_form %}

    </ul>
    <form ng-controller="controlForm" action="" method="post" id="myformEdit" ng-cloak>

        {% csrf_token %}

        <div class="grupoInput">

            {% block cuerpo_form %}{% endblock cuerpo_form %}

        </div>
        <div class="botonRegistrar">
            <button type="submit" name="reg">Registrar</button>
            <button type="submit" name="regEdit">Registrar y seguir editando</button>
        </div>
    </form>
    <br>

    {% block contenido_relacionado %}{% endblock contenido_relacionado %}

</div>

{% endblock contenido %}
