{% extends "base.html" %}

{% block acceso_rapido %}

<md-button title="Volver" class="md-icon-button" ng-href="../" tabindex="-1">
<md-icon class="iconoVolver"></md-icon>
</md-button>
<md-button title="Nuevo" class="md-icon-button" ng-href="nuevo/" tabindex="-1">
<md-icon class="iconoPlus"></md-icon>
</md-button>
<md-button title="Imprimir" class="md-icon-button" ng-href="#" onclick="window.print();" tabindex="-1">
<md-icon class="iconoImprimir"></md-icon>
</md-button>
<md-button title="Descarga" id ="cmd" class="md-icon-button" ng-href="generar_pdf/">
    <md-icon class="iconoDescargar"></md-icon>
</md-button>

{% endblock acceso_rapido %}

{% block contenido %}

<div class="columna12">
    <br>

    <form method="get" id="frmSearch" action="{{request.get_full_path}}">
        {% csrf_token %}
        <div ng-controller="buscar">
            <md-input-container class="buscarEnLista">
            <label for="search">Buscar...</label>
            <input ng-model="search" type="search" id="search" name="search" md-autofocus>
            <md-button type="submit" name="bt-search" style="display: inline-block;position: absolute;top: 20px;right: -15px;" title="Buscar" class="md-icon-button" tabindex="-1">
            <md-icon class="glyphicon glyphicon-search"></md-icon>
            </md-button>
            </md-input-container>
        </div>
    </form>
 
{% block titulo_lista %}{% endblock titulo_lista %}

<nav class="paginacionLista">
    <ul>

        {% block paginacion_lista %}{% endblock paginacion_lista %}

    </ul>
</nav>
<table class="tablaLista">

    {% block lista %}{% endblock lista %}

</table>
<script type="text/javascript">
function ocultarASCDesc(id){
    if ('{{request.GET.order_by}}' == id){
        $('#'+id).css('display', 'none');
    }else{
        $('#-'+id).css('display', 'none');
    }
}
document.body.onselectstart = function() { return false; }
</script>
</div>

{% endblock contenido %}
{% block js_inferior %}
<script>
    app.controller('buscar',function($scope){
        $('#search').focus();
        $('#search').parent().addClass('md-input-focused');
        $scope.search = '{{request.GET.search}}';
    });
</script>
{% endblock js_inferior %}
