{% load staticfiles %}

<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Ficha
    </title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    {% include "jquery.html" %}

    {% block js_superior %}{% endblock js_superior %}

</head>
<body>

    <div class="contenedorFicha">

        <ul class="paginacionEdit">

            {% block paginacionFicha %}{% endblock paginacionFicha %}

        </ul>

        <form action="" method="post" id="myformEdit">

            {% csrf_token %}

            <span class="msj hidden"></span>
            <div class="botonGuardarf">
                <a tabindex="-1" onclick="restForm('myformEdit');" title="Cancelar" data-toggletooltip="tooltip" data-placement="bottom">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
                 <button tabindex="-1" type="submit" name="regEdit" title="Guardar" data-toggletooltip="tooltip" data-placement="bottom">
                    <span class="glyphicon glyphicon-ok"></span>

                </button>
            </div>
            <span>
                <a href="#"></a>
            </span>

    <div class="grupoInput">

        {% block ficha_basica %}{% endblock ficha_basica %}

    </div>

</form>

</div>

{% include "script.html" %}

{% include "mensajeFicha.html" %}

{% block jsFicha %}{% endblock jsFicha %}

<script>
{% if messages %}

{% for message in messages %}

{% if message.extra_tags %}

   parent.location.href = '{{message.extra_tags}}?ficha={{request.get_full_path}}?page=0&page=0';

{% endif %}

{% endfor %}

{% endif %}
var lificha = $(parent.document.getElementById("Ficha"));
tamanoFicha();
//removeHandler();
$(lificha).children('.cabecera-panel').children('.titulo-panel').text(

    {% block titulo_ficha %}{% endblock titulo_ficha %}

    );

</script>
</body>
</html>
