{% load staticfiles %}

<!DOCTYPE html>
<html lang="es-AR" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Ficha
    </title>
    <link rel="stylesheet" href="{% static 'css/material.css' %}">

    {% include "jquery.html" %}

    {% block js_superior %}{% endblock js_superior %}

    <script src="{% static 'js/funcionesjsFTB.js' %}"></script>

</head>
<body ng-app="AppMudarte">

    <div class="contenedorFicha">

        <h4 class="tituloFicha">

        {% block titulo_ficha %}{% endblock titulo_ficha %}

        </h4>
        <ul class="paginacionEdit">

            {% block paginacionFicha %}{% endblock paginacionFicha %}

        </ul>
        <form ng-controller="controlForm" action="" method="post" id="myformEdit">

            {% csrf_token %}

            <span class="msj hidden"></span>
            <h6>
                <md-button tabindex="-1" class="md-fab botonGuardar hidden" type="submit" name="regEdit">
                <md-icon class="glyphicon glyphicon-ok"></md-icon>
                <md-tooltip md-direction="buttom">
                Guardar
            </md-tooltip>
        </md-button>
        <md-button tabindex="-1" class="md-fab botonCancelar hidden" ng-click="CancelarCambios();">
        <md-icon class="iconoRemover"></md-icon>
        <md-tooltip md-direction="buttom">
        Cancelar
    </md-tooltip>
</md-button>
</h6>
<div class="grupoInput">

    {% block ficha_basica %}{% endblock ficha_basica %}

</div>
</form>
</div>

{% include "script.html" %}

{% include "mensajeFicha.html" %}

{% block moduloAngularFicha %}{% endblock moduloAngularFicha %}

<script src="{% static 'js/scriptTB.js' %}"></script>
</body>
</html>
