{% extends "base.html" %}

{% block acceso_rapido %}

<a title="Volver" class="span-button" ng-href="../" tabindex="-1">
<span ng-cloak class="iconoVolver"></span>
</a>
<a title="Nuevo" class="agregar" data-url="nuevo/" tabindex="-1">
<span ng-cloak class="iconoPlus"></span>
</a>
<a title="Imprimir" class="span-button" ng-href="#" onclick="window.print();" tabindex="-1">
<span ng-cloak class="iconoImprimir"></span>
</a>
<a title="Descarga" id ="cmd" class="span-button" ng-href="generar_pdf/">
    <span ng-cloak class="iconoDescargar"></span>
</a>

{% endblock acceso_rapido %}

{% block contenido %}

<div class="columna12">
    <form method="get" id="frmSearch" action="{{request.get_full_path}}">
        {% csrf_token %}
        <div>
            <div class="buscarEnLista">
            <label for="search"></label>
            <input type="search" id="search" name="search" placeholder="Buscar...">
            <a type="submit" name="bt-search" title="Buscar" class="span-button" tabindex="-1" aria-label="User input">
            <span class="glyphicon glyphicon-search"></span>
            </a>
            </div>
        </div>
    </form>
    <div class="alertaLista " role="alert" id="mensaje">
  <button type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p class="msjSuccess"></p>
</div>
{% block titulo_lista %}{% endblock titulo_lista %}

<nav class="paginacionLista">
    <ul>

        {% block paginacion_lista %}{% endblock paginacion_lista %}

    </ul>
</nav>
<table class="tablaLista">

    {% block lista %}{% endblock lista %}

</table>
<script type="text/javascript">
function ocultarASCDesc(id){
    if ('{{request.GET.order_by}}' == id){
        $('#'+id).css('display', 'none');
    }else{
        $('#-'+id).css('display', 'none');
    }
}
</script>
</div>

{% endblock contenido %}

{% block js_inferior %}

<script>
        $('#search').focus();
        {% if request.GET.ficha %}

urlSuccess('{{request.GET.ficha}}');
sidebarBtn(2);
actutamanoFrame();

{% endif %}
</script>

{% endblock js_inferior %}
