{% extends "base.html" %}

{% block titulo %}
    Pagina inicial
{% endblock titulo %}

{% block contenido %}
{% if user.is_authenticated  %}

    <a target="_blank" href="{% url 'uclientes:add_cliente' %}?next={{request.get_full_path}}&cotizacion=cotizacion" class="btn btn-default">Cotización</a>

{% else %}

    <a target="_blank" href="{% url 'uclientes:add_cliente' %}?next={{request.get_full_path}}&cotizacion=cotizacion" class="btn btn-default disabled">Cotización</a>

{% endif %}

{% endblock contenido %}
