{% load staticfiles %}

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/material/material.js' %}"></script>
<script src="{% static 'js/material/ripples.js' %}"></script>
<script src="{% static 'js/angular.js' %}"></script>
<script src="{% static 'js/angular-animate.js' %}"></script>
<script src="{% static 'js/angular-aria.js' %}"></script>
<script src="{% static 'js/angular-mensaje.js' %}"></script>
<script src="{% static 'js/angular-material.js' %}"></script>
<script src="{% static 'js/material.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
