{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<style>
  body {
    background-color: #fff;
  }
  .pEliminar {
    font-size: 18px;
    color: #333;
  }
</style>
<br>
<form action="" method="post">{% csrf_token %}

    <p class="pEliminar">¿Desea eliminar el registro <strong>"{{ object }}"</strong>?</p>

    <div class="botonRegistrar hidden">
        <a href="{{request.GET.next}}">Cancelar</a>
        <button type="submit">Confirmar</button>
    </div>
</form>
