{% block titulo %}

<title>Direccion</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar direccion</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_direccion.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_calle').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <p>Las <strong>Direcciones</strong> son unos de los requisitos clave para la mudanza  </strong>.</p>
    <p>Edite cada campo del formulario de dirección y luego presione registrar.</p>
    <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
</div>

{% endblock%}
