{% extends "base_editar.html" %}

{% block titulo %}

  País

{% endblock titulo %}

{% block titulo_form %}

Editar el país {{form.pais.value|lower}}

{% endblock titulo_form %}

{% block nav_lista %}

    {% if pais_previous %}

        <li class="previous">
            <a href="{% url 'udirecciones:edit_pais' pais_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
        </li>

    {% else %}

        <li class="previousBloqueado"><a href="#">&larr; Anterior</a></li>

    {% endif %}

    {% if pais_next %}

        <li class="next">
            <a href="{% url 'udirecciones:edit_pais' pais_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
        </li>

    {% else %}

        <li class="nextBloqueado"><a href="#">Siguiente &rarr;</a></li>

   {% endif %}

{% endblock nav_lista %}

{% block formulario %}

{{ form.as_p }}

<script type="text/javascript">
document.getElementById('id_pais').focus()
</script>

{% endblock formulario %}
