{% extends "base_editar.html" %}

{% block titulo %}

  País

{% endblock titulo %}

{% block titulo_form %}

Editar el país: {{form.pais.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if pais_previous %}

        <li class="anterior">
            <md-button href="{% url 'udirecciones:edit_pais' pais_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if pais_next %}

        <li class="siguiente">
            <md-button href="{% url 'udirecciones:edit_pais' pais_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

   {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.pais = '{{form.pais.value}}';
    $scope.codigo_telefonico = '{{form.codigo_telefonico.value}}'
      $('#id_pais').focus();
      $('#id_pais').parent().addClass('md-input-focused');
  });
</script>

{% endblock moduloAngular %}
