<title>Provincia</title>

<h2>Listado de provincias</h2>

 <div id="search-results">
   {% include "provincia_lista_search.html" %}
 </div>

{% comment %}
  <script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'udirecciones:search_provincia' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data);
}

</script>
{% endcomment %}

