{% extends "base_editar.html" %}

{% block titulo %}

Dirección

{% endblock titulo %}

{% block titulo_form %}

  Editar la Provincia: {{form_edit_provincia.provincia.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if provincia_previous %}

        <li class="anterior">
            <md-button href="{% url 'udirecciones:edit_provincia' provincia_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</md-button>
        </li>

    {% else %}

       <li class="anteriorBloqueado">
        <md-button href="#" ng-disabled="true">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if provincia_next %}

        <li class="siguiente">
            <md-button href="{% url 'udirecciones:edit_provincia' provincia_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.pais = '{{form.pais.value}}';
    $scope.provincia = '{{form.provincia.value}}';
    $scope.codigo_telefonico = '{{form.codigo_telefonico.value}}';
    $('#id_provincia').focus();
    $('#id_provincia').parent().addClass('md-input-focused');
});
</script>

{% endblock moduloAngular %}
