{% extends "base_ficha.html" %}

{% block titulo_ficha %}

  'Ficha de la Provincia: {{form.provincia.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if provincia_previous %}

        <li class="anterior">
            <md-button href="{% url 'udirecciones:edit_provincia' provincia_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

       <li class="anteriorBloqueado">
        <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if provincia_next %}

        <li class="siguiente">
            <md-button href="{% url 'udirecciones:edit_provincia' provincia_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

    {{form.provincia}}

</h3>
</md-input-container>
<md-input-container>
<label for="{{form.codigo_telefonico.id_for_label}}">

    {{form.codigo_telefonico.label}}

</label>

{{form.codigo_telefonico}}

</md-input-container>
<md-input-container>
<label for="{{form.pais.id_for_label}}">

    {{form.pais.label}}

</label>

    {{form.pais}}

</md-input-container>

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.pais = '{{form.pais.value}}';
    $scope.provincia = '{{form.provincia.value}}';
    $scope.codigo_telefonico = '{{form.codigo_telefonico.value}}';
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.provincia.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.codigo_telefonico.value}}');
    //tr.children('td[id=td3_{{form.instance.pk}}]').text('{{form.pais.value}}');
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.mueble = '{{form.pais.value}}';
        $scope.codigo_telefonico = '{{form.codigo_telefonico.value}}';
    }
    $scope.onChange = function() {
        controlSubmit(event);
    };
});
</script>

{% endblock moduloAngularFicha %}
