{% extends "base_editar.html" %}

{% block titulo_form %}

  Editar la Provincia {{form_edit_provincia.provincia.value|lower}}

{% endblock titulo_form %}

{% block nav_lista %}

    {% if provincia_previous %}

        <li class="previous">
            <a href="{% url 'udirecciones:edit_provincia' provincia_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
        </li>

    {% else %}

        <li class="previous disabled"><a href="#">&larr; Anterior</a></li>

    {% endif %}

    {% if provincia_next %}

        <li class="next">
            <a href="{% url 'udirecciones:edit_provincia' provincia_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
        </li>

    {% else %}

        <li class="next disabled"><a href="#">Siguiente &rarr;</a></li>

    {{% endif %}

{% endblock nav_lista %}

{% block formulario %}

{{ form.as_p }}

<script type="text/javascript">
document.getElementById('id_provincia').focus()
</script>

{% endblock formulario %}
