{% extends "base_editar.html" %}

{% block titulo_form %}

Editar el tipo de inmueble {{form.tipo_de_inmueble.value|lower}}

{% endblock titulo_form %}

{% block nav_lista %}

    {% if tipodeinmueble_previous %}

        <li class="previous">
            <a href="{% url 'udirecciones:edit_tipo_de_inmueble' tipodeinmueble_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
        </li>

    {% else %}

        <li class="previous disabled"><a href="#">&larr; Anterior</a></li>

    {% endif %}

    {% if tipodeinmueble_next %}

        <li class="next">
            <a href="{% url 'udirecciones:edit_tipo_de_inmueble' tipodeinmueble_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
        </li>

    {% else %}

        <li class="next disabled"><a href="#">Siguiente &rarr;</a></li>

    {% endif %}

{% endblock nav_lista %}

{% block formulario %}

{{ form.as_p }}

<script type="text/javascript">
document.getElementById('id_tipo_de_inmueble').focus()
</script>

{% endblock formulario %}
