{% extends "base_editar.html" %}

{% block titulo %}

Trabajador

{% endblock titulo %}

{% block titulo_form %}

Editar el trabajador: {{form.nombre.value|lower}} {{form.apellido.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if trabajador_previous %}

<li class="anterior">
    <md-button href="{% url 'utrabajadores:edit_trabajador' trabajador_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
</li>

{% endif %}

{% if trabajador_next %}

<li class="siguiente">
    <md-button href="{% url 'utrabajadores:edit_trabajador' trabajador_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
  <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
  $scope.cargo_trabajador = '{{form.cargo_trabajador.value}}';
  $scope.dni = '{{form.dni.value}}';
  $scope.nombre = '{{form.nombre.value}}';
  $scope.apellido = '{{form.apellido.value}}';
  $scope.direccion = '{{form.direccion.value}}';
  $scope.telefono = '{{form.telefono.value}}';
  $scope.email = '{{form.email.value}}';
  $scope.codigo_telefonico = '{{form.codigo_telefonico.value}}';
  $scope.volumen_en_camion = '{{form.volumen_en_camion.value}}';
  $('#id_cargo_trabajador').focus();
});
</script>

{% endblock moduloAngular %}
