{% include "jquery.html" %}

<script>

{% if messages %}

{% for message in messages %}

var alerta = $(parent.document.getElementById("mensaje"));
var tr = $(parent.document.getElementById("tr"+{{obj}}));
var msj = $(parent.document.getElementsByClassName("msjSuccess"));
var cerrar = $(parent.document.getElementById("modalCerrar"));

setTimeout(function() {
    $(cerrar).click();
    tr.remove();
    parent.location.href= '{{message.extra_tags}}';
  }, 1000);
$(msj).text('{{ message|truncatechars:"40" }}');
$(alerta).css('opacity', '1');
setTimeout(function() {
    $(alerta).css('opacity', '0');
}, 6000);

{% endfor %}

{% endif %}

</script>


{% if messages %}

{% for message in messages %}

<div id="msjDeNotificacion" class="alert alert-success animated fadeInUp" role="alert">{{ message }}</div>

<script>
setTimeout(function(){
    $('#msjDeNotificacion').addClass('fadeOutDown');
}, 6000);

// var scroll = $(document.getElementsByClassName("page-content-wrapper"));
// var element = $('#datosDireccion');
// var pos = element.position();

// if (element.attr('id').trim() === $('#datosBasicos').attr('id').trim()) {
// $(scroll).animate({ scrollTop: pos.top - 250 }, 1000);
// element.addClass('regGuardado');
// setTimeout(function(){
//     element.removeClass('regGuardado');
// }, 6000);
// }else{
// $(scroll).animate({ scrollTop: pos.top - 250 }, 1000);
// element.siblings('div.'+element.attr("id").trim()+'').children('.'+3+'').addClass('regGuardado');
// setTimeout(function(){
//     element.siblings('div.'+element.attr("id").trim()+'').children('.'+3+'').removeClass('regGuardado');
// }, 6000);
// }
</script>

{% endfor %}

{% endif %}
