{% if messages %}

{% for message in messages %}

<div ng-controller="AppCtrl" layout-fill layout="column" class="inset" ng-cloak></div>
<script>
app.controller('AppCtrl', function($scope, $mdToast, $document) {
    function toast(type, msg){
        $mdToast.show({
            template: '<md-toast class="md-toast ' + type +'" style=" background-color: #323232;z-index:2000;">' + msg + '</md-toast>',
            hideDelay: 6000,
            position: 'bottom letf'
        });
    }
    setTimeout(function() {
        toast('tipo', '{{ message }}');
    }, 100);
});
</script>

{% endfor %}

{% endif %}

