{% include "jquery.html" %}

<script>

{% if messages %}

{% for message in messages %}

var alerta = $(parent.document.getElementById("mensaje"));
var tr = $(parent.document.getElementById("tr"+{{obj}}));
var msj = $(parent.document.getElementsByClassName("msjSuccess"));
var cerrar = $(parent.document.getElementById("modalCerrar"));

setTimeout(function() {
    $(cerrar).click();
    tr.remove();
    parent.location.href= '{{message.extra_tags}}';
  }, 1000);
$(msj).text('{{ message|truncatechars:"40" }}');
$(alerta).css('opacity', '1');
setTimeout(function() {
    $(alerta).css('opacity', '0');
}, 6000);

{% endfor %}

{% endif %}

</script>

{% include "script.html" %}
