{% extends "base_editar.html" %}

{% block titulo %}

Mensaje

{% endblock titulo %}

{% block titulo_form %}

Editar el mensaje: {{form.mensaje.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if mensaje_previous %}

        <li class="anterior">
            <md-button href="{% url 'umensajes:edit_mensaje' mensaje_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if mensaje_next %}

        <li class="siguiente">
            <md-button href="{% url 'umensajes:edit_mensaje' mensaje_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.codigo = '{{form.codigo.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.mensaje = '{{form.mensaje.value}}';
    $('#id_tipo_de_mensaje').focus();
    $('#id_tipo_de_mensaje').parent().addClass('md-input-focused');
});
</script>

{% endblock moduloAngular %}
