{% extends "base_lista.html" %}

{% block titulo %}

Mensaje

{% endblock titulo %}

{% block titulo_lista %}

<h2>Listado de Mensajes</h2>
 <h6>Cantidad de Mensajes encontrados:
    <span class="badge" id="count_reg">

        {{ mensajes.count }}

    </span>
</h6>

{% endblock titulo_lista %}

{% block paginacion_lista %}

{% if request.GET.page == "0" %}

<li><a href="?page=1">Paginar</a></li>

{% else %}

{% if page_obj.has_previous %}

{% if request.GET.order_by %}

<li>
    <a href="?page={{ page_obj.previous_page_number }}&order_by={{request.GET.order_by}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li>
    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
    <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
    <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% endif %}

{% if request.GET.page == "1" %}

<li class="btn-disabled">
    <a href="?page=1&order_by={{request.GET.order_by}}">Primero...</a>
</li>

{% else %}

<li class="">
    <a href="?page=1&order_by={{request.GET.order_by}}">Primero...</a>
</li>

{% endif %}

{% for p in page_range2 %}

{% if p == page_obj.number %}

<li class="active">
    <a href="?page={{p}}&order_by={{request.GET.order_by}}">{{p}}</a>
</li>

{% else %}

<li>
    <a href="?page={{p}}&order_by={{request.GET.order_by}}">{{p}}</a>
</li>

{% endif %}

{% endfor %}

{% if page_obj.paginator.num_pages %}

{% if request.GET.page == ultimo %}

<li class="btn-disabled">
    <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}">...Ultimo</a>
</li>

{% else %}

<li class="">
    <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}">...Ultimo</a>
</li>

{% endif %}

{% endif %}

{% if page_obj.has_next %}

{% if request.GET.order_by %}

<li>
    <a href="?page={{ page_obj.next_page_number }}&order_by={{request.GET.order_by}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li>
    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endif %}

<li><a href="?page=0">Ver todo</a></li>

{% endif %}

{% endblock paginacion_lista %}

{% block lista %}

{% if mensajes %}

<tr class="active">
        <th>
        Código del mensaje

        {% if request.GET.page %}

        <a href="?order_by=codigo&page={{request.GET.page}}" id="codigo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-codigo&page={{request.GET.page}}" id="-codigo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=codigo" id="codigo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-codigo" id="-codigo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Texto del mensaje

        {% if request.GET.page %}

        <a href="?order_by=mensaje&page={{request.GET.page}}" id="mensaje" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-mensaje&page={{request.GET.page}}" id="-mensaje"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=mensaje" id="mensaje" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-mensaje" id="-mensaje"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Descripción del mensaje

        {% if request.GET.page %}

        <a href="?order_by=descripcion&page={{request.GET.page}}" id="descripcion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-descripcion&page={{request.GET.page}}" id="-descripcion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=descripcion" id="descripcion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-descripcion" id="-descripcion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Tipo de mensaje

        {% if request.GET.page %}

        <a href="?order_by=tipo_de_mensaje&page={{request.GET.page}}" id="tipo_de_mensaje" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-tipo_de_mensaje&page={{request.GET.page}}" id="-tipo_de_mensaje"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=tipo_de_mensaje" id="tipo_de_mensaje" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-tipo_de_mensaje" id="-tipo_de_mensaje"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th class="controlLista">Ficha</th>
    <th class="controlLista">Editar</th>
    <th class="controlLista">Eliminar</th>
</tr>

{% for i in mensajes %}

<tr id="tr{{i.pk}}">
    <td>

        {{ i.codigo }}

    </td>
    <td>

        {{ i.mensaje }}

    </td>
    <td>

        {{ i.descripcion }}

    </td>
    <td>

        {{ i.tipo_de_mensaje }}

    </td>
    <td>
      <a title="Ver ficha" data-toggletooltip="tooltip" data-placement="left" href="#" class="iconoVerFicha"></a>
    </td>
    <td>
        <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'umensajes:edit_mensaje' i.pk %}?next={{request.get_full_path}}" class="iconoEditar"></a>
    </td>
    <td>
        <a title="Eliminar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'umensajes:eliminar_mensaje' i.pk %}?next={{request.get_full_path}}" class="iconoRemover"></a>
    </td>
</tr>

{% endfor %}

{% else %}

<tr>
    <td> No se encontraron registros</td>
</tr>

{% endif %}

<script>
    $(document).on('ready',function(){
        ocultarASCDesc('mensaje');
        ocultarASCDesc('codigo');
        ocultarASCDesc('descripcion');
        ocultarASCDesc('tipo_de_mensaje');
    })
</script>

{% endblock lista %}
