/*
 * componentes de crear nuevo y editar
 */
 @import "../stylesheets/_bootstrap.scss";
.botonRegistrar {
  width: 95%;
  bottom: 0;
  background: #eee;
  padding: 10px;
  float: right!important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  button, a {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-lg;
    float: right!important;
    margin-left: 15px!important;
  }
}
.botonGuardarf {
  @extend .btn-group;
  width: 100%!important;
  button, a {
    @extend .btn;
    @extend .btn-default;
    width: 50%!important;
  }
}
.paginacionEdit {
    @extend .pager;
    margin: 5px 0!important;
    .anteriorBloqueado {
        @extend .previous;
        @extend .disabled;
    }
    .siguienteBloqueado {
        @extend .next;
        @extend .disabled;
    }
    .anterior {
        @extend .previous;
    }
    .siguiente {
        @extend .next;
    }
}
.inputFocus{
  border: 1px solid #66afe9!important;
  outline: 0!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)!important;
}
.btnSuccess{
  color: #fff!important;
  background-color: #5cb85c!important;
  border-color: #4cae4c!important;
}
.grupoInput {
  padding: 10px;
  overflow-y: scroll;
  p, .inline{
    @extend .form-group;
    label {
        @extend .control-label;
    }
    input[type=text],
    input[type=number],
    input[type=password],
    input[type=email],
    input[type=date],
    select, textarea {
        @extend .form-control;
    }
}
ul {
  display: inline-flex;
  width: 100%;
  list-style: none;
  padding-left: 0;
  border: 1px solid transparent;
  li {
    flex: auto;
    background: #eee;
    border: 1px solid #dedede;
    label {
      padding: 10px;
      padding-right: 10px;
      display: block;
      height: 100%;
      margin: 0;
      text-align: center;
      font-family: inherit;
      font: inherit;
      input {
        opacity:0;
        position:absolute;
      }
      &.hover {
        background: rgba(255,255,255,0.2);
      }
    }
  }
}
}
.delete-row {
  @extend .glyphicon;
  @extend .glyphicon-remove;
  left: 97%;
  padding-top: 10px;
}
.add-row {
  @extend .glyphicon;
  @extend .glyphicon-plus;
  left: 97%;
}
.inline {
  border-bottom: 1px solid #dedede!important;
}
.alertaLista {
  @extend .alert;
  @extend .alert-success;
  @extend .alert-dismissible;
  opacity: 0;
  max-width: 420px;
  width: 420px;
  position: absolute;
  right: 15px;
  top: 65px;
  box-shadow: $sombra;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  button {
    @extend .close;
  }
  p {

  }
}
#msjDeNotificacion {
  z-index: 0!important;
  bottom: 0!important;
  position: fixed!important;
  margin-bottom: 0!important;
  width: 100%!important;
}
.regGuardado {
  border-color: $brand-primary!important;
  opacity: 1!important;
  box-shadow: $sombra!important;
  -webkit-transition: all 0.5s ease!important;
  -moz-transition: all 0.5s ease!important;
  -o-transition: all 0.5s ease!important;
  transition: all 0.5s ease!important;
}
.blockForm {
  @extend .col-md-12;
  @extend .col-lg-6;
  background: #fff;
  &.sub {
    border-left: 10px solid #ededed;
  }
}
.botonesCampos {
  border-bottom: 1px solid #dedede;
  margin-top: 5px;
  a.n1 {
    left: 97%;
  }
  a.n2 {
    left: 86%;
  }
  a.n3 {
    left: 82%;
  }
}
.errorlist {
  @extend .alert;
  @extend .alert-danger;
  @extend .alert-dismissible;
  li {
    background: transparent!important;
    border: transparent!important;
  }
}
/*
 * componentes botones
 */
.btnSuccess {
    @extend .btn;
    @extend .btn-success;
}
.btnDefault {
    @extend .btn;
    @extend .btn-default;
}
/*
 * componentes de listas
 */
.numRegistro {
    @extend .badge;
}
.btn-ordenarLista {
  float: right;
  font-size: 16px;
}
.buscarEnLista {
  @extend .hidden-print;
  max-width: 400px;
  width: 250px;
  float:right!important;
  input {
    @extend .form-control;
    padding-right: 25px!important;
    box-shadow: $sombra;
  }
  a.span-button {
    position: absolute;
    right: 20px;
    top: 28px;
    cursor: pointer;
  }
}
.paginacionLista {
    float: right;
    @extend .hidden-print;
    ul {
        @extend .pagination;
        box-shadow: $sombra;
    }
}
.tablaLista {
    @extend .table;
    @extend .table-hover;
    @extend .table-bordered;
    box-shadow: $sombra;
    text-align: center;
    background: #fff;
    tr {
      th, td {
        text-align: center;
        max-width: 300px;
        min-width: 250px;
        vertical-align: middle!important;
      }
      td {
        cursor: pointer;
      }
    }
}
.tablaListaRelacion {
    @extend .panel;
    @extend .panel-default;
    table {
        @extend .table;
    }
}
.controlLista {
    width: 80px;
    text-align: center;
}
.ascendenteAlfabetico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-alphabet;
     @extend .btn-ordenarLista;
}
.descendenteAlfabetico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-alphabet-alt;
     @extend .btn-ordenarLista;
}
.ascendenteNumerico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-order;
     @extend .btn-ordenarLista;
}
.descendenteNumerico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-order-alt;
     @extend .btn-ordenarLista;
}
.controlFicha {
  float: right;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  a {
  right: 0;
  top: 0;
  font-size: 20px;
  visibility: hidden;
  padding-right: 50px;
  color: #000;
  }
  span {
    font-size: 20px;
    opacity: 1!important;
  }
  &:hover a {
    display: inline-block;
    visibility: visible;
    opacity: 1!important;
  }
}
.c_td {
  display: block!important;
  min-width: 0!important;
  width: 40px!important;
  background: transparent!important;
  border: none!important;
  opacity: 1!important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.c_td a.iconoRemover {
  right: 50px;
  top: 10px;
  font-size: 16px;
  visibility: hidden;
  padding-right: 50px;
}
.c_td a.iconoEditar {
  right: 100px;
  top: 30px;
  font-size: 16px;
  visibility: hidden;
  padding-right: 50px;
}
.c_td span {
  color: rgb(63,81,181);
  font-size: 16px;
  top: -10px;
}
.c_td:hover {
  background: transparent!important;
}
.c_td:hover a {
  display: inline-block;
  visibility: visible;
  opacity: 1!important;
}
.c_td_hover {
  opacity: .2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.seleccion {
  background: $brand-primary;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.seleccion:hover {
  background: $brand-primary!important;
  color: #fff!important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.seleccion .c_td a, .seleccion .c_td span {
  color: #fff!important;
}
/*
 * iconos
 */
.iconoPlus {
    @extend .glyphicon;
    @extend .glyphicon-plus;
}
.iconoVolver {
    @extend .glyphicon;
    @extend .glyphicon-chevron-left;
}
.iconoImprimir {
    @extend .glyphicon;
    @extend .glyphicon-print;
}
.iconoEditar {
    @extend .glyphicon;
    @extend .glyphicon-edit;
}
.iconoRemover {
    @extend .glyphicon;
    @extend .glyphicon-remove;
}
.iconoVerFicha {
    @extend .glyphicon;
    @extend .glyphicon-file;
}
.iconoDescargar {
    @extend .glyphicon;
    @extend .glyphicon-download-alt;
}
.iconoCarpetaAbierta {
    @extend .glyphicon;
    @extend .glyphicon-folder-open;
}
.iconoExpandirLeft {
  @extend .glyphicon;
  @extend .glyphicon-menu-left;
}
.iconoExpandirRight {
  @extend .glyphicon;
  @extend .glyphicon-menu-right;
}
.iconoExpandirFull {
  @extend .glyphicon;
  @extend .glyphicon-fullscreen;
}
.iconoGrupoControl {
  @extend .glyphicon;
  @extend .glyphicon-option-horizontal;
  cursor: default;
}

/*!
 * navbar
 */
.navbarApp {
    @extend .navbar;
    @extend .navbar-default;
    background: rgb(63,81,181)!important;
    color: #fff!important;
    div {
      @extend .container-fluid;
      div {
        @extend .navbar-header;
        width: 100%!important;
        ul {
          @extend .nav;
          @extend .navbar-nav;
          width: 100%;
        }
        a {
          @extend .navbar-brand;
          cursor: pointer;
        }
      }
    }
}
.menuSidebar {
    @extend .glyphicon;
    @extend .glyphicon-menu-hamburger;
    @extend .navbar-brand;
    z-index:1;
    float: right!important;
    margin-right: -15px;
}
span.barDivide {
    @extend .navbar-brand;
    height: $navbar-height;
    border-left: 1px solid #fff;
    margin:0;
    margin-left: 0;
}
/*!
 * sidebar
 */
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.wrapper.toggled {
    padding-right: 250px;
}

.sidebar-wrapper {
    z-index: 2;
    position: fixed;
    right: -20px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    padding: 5px;
    background: $brand-primary;
    box-shadow: $sombra;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
    right: 0;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    height: calc(100% - 50px);
    overflow-y: scroll;
    background: $body-bg;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.wrapper.toggled .page-content-wrapper {
    width: calc(100% - 250px);
    position: absolute;
    margin-right: -250px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    .submit {
      right: 30%;
    }
    .botonRegistrar{
      position: fixed;
      width: 100%;
      left: 0;
      padding-right: 300px;
    }
}
.expandirNivel2, .expandirNivel1 {
    z-index: 1002;
}
.expandirNivel2 md-icon, .expandirNivel1 md-icon {
    color: #fff;
}
.wrapper.toggled.nivel2 .page-content-wrapper {
    width: calc(100% - 500px);
    position: absolute;
    margin-right: -500px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    .submit {
      right: 50%;
    }
    .botonRegistrar{
      position: fixed;
      width: 100%;
      left: 0;
      padding-right: 550px;
    }
}
.wrapper.toggled.nivel2 .sidebar-wrapper {
    width: 500px;
    right: 0;
}
.wrapper.toggled.nivel2 {
    padding-right: 500px;
}

/* Sidebar Styles */
.headerSidebar {
  display: inline-block;
  height: $navbar-height;
  margin-bottom: -5px;
  width: 100%;
  a {
    @extend .navbar-brand;
    color: #fff!important;
    margin-top: -3px;
    cursor: pointer;
    span {

      }
    }
  a.cerrarSidebar {
    float: right;
  }
  }

.sidebarWidget {
    display: block;
    height: calc(100% - 50px);
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebarWidget li {
    float: left;
    cursor: move;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sidebarWidget li span {
  float: right;
  cursor: default;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
    &:hover {
        color:#fff;
        background: none;
    }
}
/*!
 * general
 */
.btn-disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}
body{
    overflow-y: hidden;
}
.contenedor {
    @extend .container-fluid;
}
.contenedorFila {
    @extend .row;
}
.columna12 {
    @extend .col-md-12;
}
.columna6 {
    @extend .col-md-6;
}
.columna1 {
    @extend .col-md-1;
}
.columna2 {
    @extend .col-md-2;
}
.columna3 {
    @extend .col-md-3;
}
.columna4 {
    @extend .col-md-4;
}
.columna5 {
    @extend .col-md-5;
}
.columna7 {
    @extend .col-md-7;
}
.columna8 {
    @extend .col-md-8;
}
.columna9 {
    @extend .col-md-9;
}
.columna10 {
    @extend .col-md-10;
}
.columna11 {
    @extend .col-md-11;
}
.fixed-panel {
min-height: 38px;
max-height: 129px;
width: 205px;
overflow-y: hidden;
margin-left: 15px;
}
.titulo-panel{
  margin-top: -6px;
  margin-bottom: -7px;
  font-size: 12px;
  color: #191970;
}
.forma-panel {
    margin-bottom: 30px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 12px;
    border-color: #809fff;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.size-panel{
    height: 40px;
    width: 175px;
    margin-left: 15px;
}
.size-transaccion{
    width: 140px;
}
.contenido {
width: 10px;
}
.botonGuardar {

    position: absolute;
    right: 150px;
    top: -45px;
    background: #5cb85c!important;
    z-index: 2001!important;
}
.botonCancelar {

    position: absolute;
    right: 250px;
    top: -45px;
    background: #777!important;
    z-index: 2001!important;
}
.tituloFicha {
    display: inline-block;
}
.contenedorFicha {
    margin-right: 5px;
    padding: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    form {
      h6 {
        margin: 0;
      }
    }
}
.dynamic-form {
  border-bottom: 1px solid #eee;
}
@media (max-width:230px) {
  .contenedorFicha {
    padding: 0;
    margin-right: 5px;
  }
  .paginacionEdit{
  }
  .botonGuardar{
    position: relative;
    right: -140px;
    top: -20px;
  }
  .botonCancelar {
    position: relative;
    right: 80px;
    top: -20px;
  }
}
.msj{
  @extend .alert;
  @extend .alert-warning;
}
/*!
 * ficha del cliente
 */
.fichaCliente {
  @extend .panel;
  @extend .panel-default;
  div {
    @extend .panel-body;
    div {
      @extend .container-fluid;
      div {
        @extend .row;
      }
    }
  }
}
legend.legendas {
  cursor: pointer;
  &:hover {
    background: #fff;
  }
}

.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;

  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: $brand-primary;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #fff;
  background: #337ab7;
}
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.1s;
  -o-transition: margin-left 0.1s;
  transition: margin-left 0.1s;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  width: 100%!important;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .select2-container .select2-selection--single .select2-selection__clear {
      position: relative; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 34px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }
    .select2-container--classic .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #888 transparent;
      border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }
  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none; }

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }

.select2-container--classic .select2-dropdown--below {
  border-top: none; }

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }
