/*
 * componentes de crear nuevo y editar
 */
.botonRegistrar > button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-raised!optional;
}
.paginacionEdit {
    @extend .pager;
    .anteriorBloqueado {
        @extend .previous;
        @extend .disabled;
    }
    .siguienteBloqueado {
        @extend .next;
        @extend .disabled;
    }
    .anterior {
        @extend .previous;
    }
    .siguiente {
        @extend .next;
    }
}
.grupoInput p {
    @extend .form-group;
    @extend .is-empty!optional;
    label {
        @extend .control-label;
    }
    input[type=text],
    input[type=number],
    input[type=password],
    input[type=email],
    input[type=date],
    select, textarea {
        @extend .form-control;
    }
}
/*
 * componentes botones
 */
.btnSuccess {
    @extend .btn;
    @extend .btn-success;
}
.btnDefault {
    @extend .btn;
    @extend .btn-default;
}
/*
 * componentes de listas
 */
.numRegistro {
    @extend .badge;
}
.btn-ordenarLista {
  float: right;
  font-size: 16px;
}
.buscarEnLista {
    @extend .form-control;
    @extend .hidden-print;
    max-width: 250px;
    float:right!important;
}
.paginacionLista {
    float: right;
    @extend .hidden-print;
    ul {
        @extend .pagination;
    }
}
.tablaLista {
    @extend .table;
    @extend .table-hover;
    @extend .table-bordered;
    text-align: center;
    background: #fff;
    th {
        text-align: center;
    }
}
.tablaListaRelacion {
    @extend .panel;
    @extend .panel-default;
    table {
        @extend .table;
    }
}
.controlLista {
    width: 80px;
    text-align: center;
}
.ascendenteAlfabetico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-alphabet;
     @extend .btn-ordenarLista;
}
.descendenteAlfabetico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-alphabet-alt;
     @extend .btn-ordenarLista;
}
.ascendenteNumerico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-order;
     @extend .btn-ordenarLista;
}
.descendenteNumerico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-order-alt;
     @extend .btn-ordenarLista;
}

/*
 * iconos
 */
.iconoPlus {
    @extend .glyphicon;
    @extend .glyphicon-plus;
}
.iconoVolver {
    @extend .glyphicon;
    @extend .glyphicon-chevron-left;
}
.iconoImprimir {
    @extend .glyphicon;
    @extend .glyphicon-print;
}
.iconoEditar {
    @extend .glyphicon;
    @extend .glyphicon-edit;
}
.iconoRemover {
    @extend .glyphicon;
    @extend .glyphicon-remove;
}

/*!
 * navbar
 */
.navbarApp {
    @extend .navbar;
    @extend .navbar-default!optional;
    div a {
        @extend .navbar-brand;
    }
}
.menuSidebar {
    @extend .glyphicon;
    @extend .glyphicon-menu-hamburger;
    @extend .navbar-brand;
    z-index:1;
    float: right!important;
    margin-right: -15px;
}
.divide {
    height: $navbar-height;
    border-left: 1px solid #fff;
    @extend .navbar-brand;
    margin:0 -15px 0 0;
}
/*!
 * sidebar
 */
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.wrapper.toggled {
    padding-right: 250px;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #265A88;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    height: calc(100% - 70px);
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .page-content-wrapper {
    width: calc(100% - 250px);
    position: absolute;
    margin-right: -250px;
    height: calc(100% - 70px);
    overflow-y: auto;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
    &:hover {
        color:$navbar-default-brand-hover-color;
        background: none;
    }
}
.menu-toggle {
    @extend .glyphicon;
    @extend .glyphicon-remove;
    @extend .navbar-brand;
    z-index:1;
    color:#fff;
    float: right;
    &:hover {
        color:$navbar-default-brand-hover-color;
    }
}
/*!
 * general
 */
.btn-disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}
body{
    overflow-y: hidden;
}
.contenedor {
    @extend .container-fluid;
}
.contenedorFila {
    @extend .row;
}
.columna12 {
    @extend .col-md-12;
}
.columna6 {
    @extend .col-md-6;
}
.columna1 {
    @extend .col-md-1;
}
.columna2 {
    @extend .col-md-2;
}
.columna3 {
    @extend .col-md-3;
}
.columna4 {
    @extend .col-md-4;
}
.columna5 {
    @extend .col-md-5;
}
.columna7 {
    @extend .col-md-7;
}
.columna8 {
    @extend .col-md-8;
}
.columna9 {
    @extend .col-md-9;
}
.columna10 {
    @extend .col-md-10;
}
.columna11 {
    @extend .col-md-11;
}
