{% extends "base_lista.html" %}

{% block titulo %}

Complejidad y riesgo

{% endblock titulo %}

{% block titulo_lista %}

<h2>Listado de niveles de complejidad y riesgos</h2>
 <h6>Cantidad de niveles de complejidad y riesgos:
    <span class="badge" id="count_reg">

        {{ nivelcomplejidadriesgos.count }}

    </span>
</h6>

{% endblock titulo_lista %}

{% block paginacion_lista %}

{% if request.GET.page == "0" %}

<li><a href="?page=1">Paginar</a></li>

{% else %}

{% if page_obj.has_previous %}

{% if request.GET.order_by %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
  <a href="#" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
  <a href="#" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% endif %}

{% if request.GET.page == "1" %}

<li class="btn-disabled">
  <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">Primero...</a>
</li>

{% else %}

<li class="">
  <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">Primero...</a>
</li>

{% endif %}

{% for p in page_range2 %}

{% if p == page_obj.number %}

<li class="active">
  <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">{{p}}</a>
</li>

{% else %}

<li>
  <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">{{p}}</a>
</li>

{% endif %}

{% endfor %}

{% if page_obj.paginator.num_pages %}

{% if request.GET.page == ultimo %}

<li class="btn-disabled">
  <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">...Ultimo</a>
</li>

{% else %}

<li class="">
  <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">...Ultimo</a>
</li>

{% endif %}

{% endif %}

{% if page_obj.has_next %}

{% if request.GET.order_by %}

<li>
  <a href="?page={{ page_obj.next_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li>
  <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
  <a href="#" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
  <a href="#" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endif %}

<li><a href="?page=0" tabindex="-1">Ver todo</a></li>

{% endif %}

{% endblock paginacion_lista %}

{% block lista %}

{% if nivelcomplejidadriesgos %}

<tr class="active">
    <th>
        Nivel de complejidad y riesgo

        {% if request.GET.page %}

        {% if request.GET.order_by == "nivel_complejidad_riesgo" %}

        <a href="?order_by=-nivel_complejidad_riesgo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-nivel_complejidad_riesgo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=nivel_complejidad_riesgo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="nivel_complejidad_riesgo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "nivel_complejidad_riesgo" %}

        <a href="?order_by=-nivel_complejidad_riesgo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-nivel_complejidad_riesgo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=nivel_complejidad_riesgo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="nivel_complejidad_riesgo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}
    </th>
    <th>
        Factor inicial del nivel de complejidad y riesgo

        {% if request.GET.page %}

        {% if request.GET.order_by == "factor_inicial" %}

        <a href="?order_by=-factor_inicial&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-factor_inicial"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=factor_inicial&page={{request.GET.page}}" id="factor_inicial" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "factor_inicial" %}

        <a href="?order_by=-factor_inicial{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-factor_inicial"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=factor_inicial{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="factor_inicial" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        factor final del nivel de complejidad y riesgo

        {% if request.GET.page %}

        {% if request.GET.order_by == "factor_final" %}

        <a href="?order_by=-factor_final&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-factor_final"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=factor_final&page={{request.GET.page}}" id="factor_final" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "factor_final" %}

        <a href="?order_by=-factor_final{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-factor_final"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=factor_final{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="factor_final" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        porcentaje del nivel de complejidad y riesgo

        {% if request.GET.page %}

        {% if request.GET.order_by == "porcentaje" %}

        <a href="?order_by=-porcentaje&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-porcentaje"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=porcentaje&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="porcentaje" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "porcentaje" %}

        <a href="?order_by=-porcentaje&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-porcentaje"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=porcentaje&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="porcentaje" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
</tr>
<tbody>
{% for i in nivelcomplejidadriesgos %}

<tr id="tr{{i.pk}}" data-url="{% url 'ucomplejidadriesgos:edit_nivelcomplejidadriesgo' i.pk %}?next={{request.get_full_path}}" class="btnFicha">
    <td id="td1_{{i.pk}}">

        {{ i.nivel_complejidad_riesgo }}

    </td>
    <td id="td2_{{i.pk}}">

        {{ i.factor_inicial }} UND

    </td>
    <td id="td3_{{i.pk}}">

        {{ i.factor_final }} UND

    </td>
        <td id="td4_{{i.pk}}">

        {{ i.porcentaje }} %

    </td>
    <td class="c_td">
      <a title="Eliminar" data-toggletooltip="tooltip" data-placement="left" data-url="{% url 'ucomplejidadriesgos:eliminar_nivelcomplejidadriesgo' i.pk %}?next={{request.get_full_path}}" data-id="{{ i.id }}" data-nombre="{{ i.nivelcomplejidadriesgos }}" class="iconoRemover btnEliminar" data-toggle="modal" data-target="#modalEliminar" id="eliminar{{i.id}}"></a>
      <span class="iconoGrupoControl"></span>
    </td>
</tr>

{% endfor %}

{% else %}

<tr>
    <td> No se encontraron registros</td>
</tr>

{% endif %}

{% endblock lista %}
