{% extends "base_editar.html" %}

{% block titulo %}

Nivel de complejidad y riesgo

{% endblock titulo %}

{% block titulo_form %}

Editar el nivel de complejidad y riesgo: {{form.nivel_complejidad_riesgo.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if nivelcomplejidadriesgo_previous %}

        <li class="anterior">
            <md-button href="{% url 'ucomplejidadriesgos:edit_nivelcomplejidadriesgo' nivelcomplejidadriesgo_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if nivelcomplejidadriesgo_next %}

        <li class="siguiente">
            <md-button href="{% url 'ucomplejidadriesgos:edit_nivelcomplejidadriesgo' nivelcomplejidadriesgo_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.nivel_complejidad_riesgo = '{{form.nivel_complejidad_riesgo.value}}';
    $scope.factor_inicial = '{{form.factor_inicial.value}}';
    $scope.factor_final = '{{form.factor_final.value}}';
    $scope.porcentaje = '{{form.porcentaje.value}}';
    $('#id_nivel_complejidad_riesgo').focus();
    $('#id_nivel_complejidad_riesgo').parent().addClass('md-input-focused');
});
</script>

{% endblock moduloAngular %}
