{% extends "base_editar.html" %}

{% block titulo %}

Complejidad y riesgo

{% endblock titulo %}

{% block titulo_form %}

Agregar un nivel de complejidad y riesgo

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
      $('#id_nivel_complejidad_riesgo').focus();
      $('#id_nivel_complejidad_riesgo').parent().addClass('md-input-focused');
  });
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
