{% extends "base_ficha.html" %}

{% block titulo_ficha %}

Ficha del nivel de complejidad y riesgo: <small>{{form.nivel_complejidad_riesgo.value|lower}}</small>

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if nivelcomplejidadriesgo_previous %}

        <li class="anterior">
            <md-button href="{% url 'ucomplejidadriesgos:edit_nivelcomplejidadriesgo' nivelcomplejidadriesgo_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if nivelcomplejidadriesgo_next %}

        <li class="siguiente">
            <md-button href="{% url 'ucomplejidadriesgos:edit_nivelcomplejidadriesgo' nivelcomplejidadriesgo_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

    {{form.nivel_complejidad_riesgo}}

</h3>
</md-input-container>
<md-input-container>
<label for="{{form.factor_inicial.id_for_label}}">

    {{form.factor_inicial.label}}

</label>

{{form.factor_inicial}}

</md-input-container>
<md-input-container>
<label for="{{form.factor_final.id_for_label}}">

    {{form.factor_final.label}}

</label>

{{form.factor_final}}

</md-input-container>
<md-input-container>
<label for="{{form.porcentaje.id_for_label}}">

    {{form.porcentaje.label}}

</label>

{{form.porcentaje}}

</md-input-container>

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.nivel_complejidad_riesgo = '{{form.nivel_complejidad_riesgo.value}}';
    $scope.factor_inicial = '{{form.factor_inicial.value}}';
    $scope.factor_final = '{{form.factor_final.value}}';
    $scope.porcentaje = '{{form.porcentaje.value}}';
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.nivel_complejidad_riesgo = '{{form.nivel_complejidad_riesgo.value}}';
        $scope.factor_inicial = '{{form.factor_inicial.value}}';
        $scope.factor_final = '{{form.factor_final.value}}';
        $scope.porcentaje = '{{form.porcentaje.value}}';
    }
    $scope.onChange = function() {
        controlSubmit(event);
    };
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.nivel_complejidad_riesgo.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.factor_inicial.value}} UND');
    tr.children('td[id=td3_{{form.instance.pk}}]').text('{{form.factor_final.value}} UND');
    tr.children('td[id=td4_{{form.instance.pk}}]').text('{{form.porcentaje.value}} %');
});
</script>

{% endblock moduloAngularFicha %}
