{% extends "base_editar.html" %}

{% block titulo %}

Servicio

{% endblock titulo %}

{% block titulo_form %}

Editar la complejidad de servicio: {{form.descripcion.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if complejidadservicio_previous %}

<li class="anterior">
    <md-button href="{% url 'uservicios:edit_complejidadservicio' complejidadservicio_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado"><md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button></li>

{% endif %}

{% if complejidadservicio_next %}

<li class="siguiente">
    <md-button href="{% url 'uservicios:edit_complejidadservicio' complejidadservicio_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.servicio = '{{form.servicio.value}}';
    $scope.porcentaje = '{{form.porcentaje.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.predefinido = {{form.predefinido.value|lower}};
    $('#id_servicio').focus();
});
</script>

{% endblock moduloAngular %}
