{% extends "base_editar.html" %}

{% block titulo %}

Servicio

{% endblock titulo %}

{% block titulo_form %}

Editar el precio del servicio: {{form.servicio.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if preciodeservicio_previous %}

        <li class="anterior">
            <md-button href="{% url 'uservicios:edit_preciodeservicio' preciodeservicio_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if preciodeservicio_next %}

        <li class="siguiente">
            <md-button href="{% url 'uservicios:edit_preciodeservicio' preciodeservicio_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

<li class="siguienteBloqueado">
  <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
  $scope.servicio = '{{form.servicio.value}}';
  $scope.user_aprobador = '{{form.user_aprobador.value}}';
  $scope.user_preparador = '{{form.user_preparador.value}}';
  $scope.fecha_aprobacion = '{{form.fecha_aprobacion.value}}';
  $scope.aprobado = {{form.aprobado.value|lower}};
  $scope.infinito = {{form.infinito.value|lower}};
  $scope.fecha_hasta = '{{form.fecha_hasta.value}}';
  $scope.fecha_desde = '{{form.fecha_desde.value}}';
  $scope.redondeo = '{{form.redondeo.value}}';
  $scope.porcentaje_3 = '{{form.porcentaje_3.value}}';
  $scope.intervalo_3 = '{{form.intervalo_3.value}}';
  $scope.porcentaje_2 = '{{form.porcentaje_2.value}}';
  $scope.intervalo_2 = '{{form.intervalo_2.value}}';
  $scope.porcentaje_1 = '{{form.porcentaje_1.value}}';
  $scope.intervalo_1 = '{{form.intervalo_1.value}}';
  $scope.cantidad_de_gracia = '{{form.cantidad_de_gracia.value}}';
  $scope.precio_base = '{{form.precio_base.value}}';
  $('#id_servicio').focus();
});
</script>

{% endblock moduloAngular %}
