
{% block acceso_rapido %}

<a title="Volver" class="navbar-brand" href="/index/"><span class="glyphicon glyphicon-chevron-left"></span></a>

{% endblock acceso_rapido %}

{% block titulo %}

<title>Login</title>

{% endblock titulo %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 animated fadeIn">
            <h2>Login</h2>

            {% if form.errors %}

            <p class="alert-danger">El usuario y contraseña no coinciden. Por favor intente de nuevo.</p>

            {% endif %}

            <form method="post" action="{% url 'uusuarios:django.contrib.auth.views.login' %}">

                {% csrf_token %}

                <div class="form-group">
                    <p>

                        {{ form.username.label_tag }}

                    </p>
                    <p>

                        {{ form.username }}

                    </p>
                    <p>

                        {{ form.password.label_tag }}

                    </p>
                    <p>

                        {{ form.password }}

                    </p>
                    <script type="text/javascript">
                    document.getElementById('id_username').focus()
                    </script>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" class="btn btn-success" value="Ingresar"/>
                <a href="/index/" class="btn btn-default">Cancelar</a>
            </form>
            <br>
            <p><a href="#">Password olvidado?</a></p>
            <p><a href="/signup">Crear una cuenta</a></p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}

