{% extends "base.html" %}

{% block contenido %}

<div class="col-md-6">
    <h2>

        {% block titulo_form %}{% endblock titulo_form %}

    </h2>
    <ul class="pager">

        {% block nav_lista %}{% endblock nav_lista %}

    </ul>
    <form action="" method="post" id="myformEdit">

        {% csrf_token %}

        <div class="form-group">

            {% block formulario %}{% endblock formulario %}

        </div>
        <button type="submit" class="btn btn-default registrar" name="reg">Registrar</button>
        <button type="submit" class="btn btn-default" name="regEdit">Registrar y seguir editando</button>
    </form>
</div>

{% endblock contenido %}
