{% extends "base.html" %}

{% block acceso_rapido %}

<a title="Volver" class="navbar-brand" role="button" aria-expanded="true" href="{% if request.GET.next = None %}../{% else %}{{request.GET.next}}{% endif %}"><span class="volver"></span></a>

{% endblock acceso_rapido %}

{% block contenido %}

<div class="col-md-6">
    <h2>

        {% block titulo_form %}{% endblock titulo_form %}

    </h2>
    <ul class="pager">

        {% block nav_lista %}{% endblock nav_lista %}

    </ul>
    <form action="" method="post" id="myformEdit">

        {% csrf_token %}

            {% block formulario %}{% endblock formulario %}

        <button class="botonRegistrar" type="submit" name="reg">Registrar</button>
        <button class="botonRegistrar" type="submit" name="regEdit">Registrar y seguir editando</button>
    </form>
</div>

{% endblock contenido %}
