{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>

        {% block titulo %}{% endblock titulo %}

    </title>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    {% include "jquery.html" %}

    {% block js_superior %}{% endblock js_superior %}

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a href="#menu-toggle" class="glyphicon glyphicon-remove navbar-brand menu-toggle btn-menuSidebar" id="" title="Cerrar"></a>
                <li class="sidebar-brand">

                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>

                {% block link_navegacion %}

                <li>
                    <a href="/mueble/tipo_de_mueble/">Tipo de muebles</a>
                </li>

                {% endblock link_navegacion %}

                {% block sidebar_widget %}{% endblock sidebar_widget %}

            </ul>

            {% block widget_sidebar %}{% endblock widget_sidebar %}

        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <!--<img alt="" src="...">-->
                </a>

                {% block acceso_rapido %}{% endblock acceso_rapido %}

                <a href="#menu-toggle" class="glyphicon glyphicon-menu-hamburger navbar-brand menu-toggle" id="menuSidebar"></a>
            </div>
        </nav>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">

                    {% block encabezado %}{% endblock encabezado %}

                    {% block contenido %}{% endblock contenido %}

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    {% include "script.html" %}

    {% block js_inferior %}{% endblock js_inferior %}

</body>
</html>
