

                <li><a href="#"><span><i></i></span>Inicio</a></li>
                <li><a href="#"><span><i></i></span>Ambiente</a>
                </li>
                <li><a href="#"><span><i></i></span>Cliente</a></li>
                <li><a href="#"><span><i></i></span>Contenedor</a></li>
                <li><a href="#"><span><i></i></span>Cotizacion</a></li>
                <li><a href="#"><span><i></i></span>Direccion</a></li>
                    <ul>
                        <li><a href="#">Barrio</a></li>
                        <li><a href="#">Provincia</a></li>
                        <ul>
                             <li><a href="#">Agregar Provincia</a></li>
                             <li><a href="#">Editar Provincia</a></li>
                        </ul>
                        <li><a href="#">Ciudad</a></li>
                        <li><a href="#">Pais</a></li>
                    </ul>
                <li><a href="#"><span><i></i></span>Estado de Registro</a></li>
                <li><a href="#"><span><i></i></span>Gestion de Documento</a></li>
                <li><a href="#"><span><i></i></span>Mueble</a></li>
                <li><a href="#"><span><i></i></span>Servicio</a></li>



