{% load widgets_extras %}
{% include "jquery.html" %}

<div id="panelautofiltro" class="{% configurar_Widget 'Autofiltros' %}">
    <div class="{% configurar_WidgetColor 'Autofiltros' %}">
        <h8 class="titulo-panel">Autofiltros</h8>
        <button title="Expandir" class="glyphicon glyphicon-fullscreen"></button>
        <button id="cerrarAutofiltro" title="Cerrar" class="glyphicon glyphicon-remove-circle" onclick="controlWidgetCerrar('panelautofiltro', 'Autofiltros');"></button>
    </div>
    <div class="panel-body">
    <ul class="demo" ></ul>
    </div>
</div>
