{% extends 'base_widget.html' %}
{% load widgets_extras %}

{% block idContenedor %}liautofiltros{% endblock idContenedor %}

{% block clasesContenedor %}
{% configurar_WidgetColumna 'Autofiltros' %} {% configurar_WidgetColor 'Autofiltros' %}
{% endblock clasesContenedor %}

{% block idPanel %}controlWidgetCerrar('liautofiltros', 'Autofiltros');{% endblock idPanel %}

{% block titulo_widget %}
Auto-filtros
{% endblock titulo_widget %}

{% block botones_widget %}{% endblock botones_widget %}

{% block contenido_widget %}
        <div class="cuerpo-panel">
            <ul class="demo" ></ul>
        </div>
{% endblock contenido_widget %}

