{% extends 'base_widget.html' %}
{% load widgets_extras %}

{% block idContenedor %}Ficha{% endblock idContenedor %}

{% block clasesContenedor %}
{% configurar_WidgetColumna 'Ficha' %} {% configurar_WidgetColor 'Ficha' %}
{% endblock clasesContenedor %}

{% block btnCerrar %}controlWidgetCerrar('Ficha', 'Ficha');{% endblock btnCerrar %}

{% block btnMinimizar %}minimizarColumna('Ficha', 'Ficha');{% endblock btnMinimizar %}

{% block idbtnEN1 %}Ficha-btnEN1{% endblock idbtnEN1 %}

{% block idbtnEN2 %}Ficha-btnEN2{% endblock idbtnEN2 %}

{% block btnExpandir1 %}actualizarColumna1('Ficha-btnEN1', 'Ficha-btnEN2', 'Ficha', 'Ficha');{% endblock btnExpandir1 %}

{% block btnExpandir2 %}actualizarColumna2('Ficha-btnEN1', 'Ficha-btnEN2', 'Ficha', 'Ficha');{% endblock btnExpandir2 %}

{% block titulo_widget %}
Ficha
{% endblock titulo_widget %}

{% block botones_widget %}{% endblock botones_widget %}

{% block contenido_widget %}

    <iframe class="iframeW" style="box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);overflow: hidden;" src="" height="" width="" scroll="no" frameborder="0" scrolling="no" id="divFrame">
    </iframe>

{% endblock contenido_widget %}
