{% extends 'base_widget.html' %}
{% load widgets_extras %}

{% block idContenedor %}Filtros-Rápidos{% endblock idContenedor %}

{% block clasesContenedor %}
{% configurar_WidgetColumna 'Filtros Rápidos' %} {% configurar_WidgetColor 'Filtros Rápidos' %}
{% endblock clasesContenedor %}

{% block btnCerrar %}controlWidgetCerrar('Filtros-Rápidos', 'Filtros Rápidos');{% endblock btnCerrar %}

{% block btnMinimizar %}minimizarColumna('Filtros-Rápidos', 'Filtros Rápidos');{% endblock btnMinimizar %}

{% block idbtnEN1 %}FiltrosRápidos-btnEN1{% endblock idbtnEN1 %}

{% block idbtnEN2 %}FiltrosRápidos-btnEN2{% endblock idbtnEN2 %}

{% block btnExpandir1 %}actualizarColumna1('FiltrosRápidos-btnEN1', 'FiltrosRápidos-btnEN2', 'Filtros-Rápidos', 'FiltrosRápidos');{% endblock btnExpandir1 %}

{% block btnExpandir2 %}actualizarColumna2('FiltrosRápidos-btnEN1', 'FiltrosRápidos-btnEN2', 'Filtros-Rápidos', 'FiltrosRápidos');{% endblock btnExpandir2 %}

{% block titulo_widget %}
Filtros Rápidos
{% endblock titulo_widget %}

{% block botones_widget %}{% endblock botones_widget %}

{% block contenido_widget %}

    <div id='panelfiltrosrapidos' class="">
        <div class="panel-body">
            <select class="demo2" ></select>
            <input type="text" value="" id="filtro" onkeypress="controlarFiltroRapido()"/>
        </div>
    </div>

{% endblock contenido_widget %}
