{% extends "base_lista.html" %}

{% block titulo %}

Widget

{% endblock titulo %}

{% block titulo_lista %}

<h2>Administración de Widgets</h2>

{% endblock titulo_lista %}

{% block lista %}
<form ng-controller="controlForm" action="" method="post" id="myformEdit">
  {% csrf_token %}

  <table class="table table-bordered table-hover">
       {{ formset.management_form }}
       <tr id="trlista" class="active">
           <th>Nombre</th>
           <th>Visible</th>
           <th>Tamaño</th>
           <th>Color</th>
           <th>Orden</th>
       </tr>

       {% for form in formset %}
       <tr id="{{forloop.counter}}">
           <td>{{form.nombre}}</td>
           <td>{{form.visible}}</td>
           <td>{{form.numero_de_columna}}</td>
           <td>{{form.color}}</td>
           <td>{{form.orden}}</td>
           <td>{{form.usuario}}</td>

       </tr>
       {% endfor %}


</table>

<button type='submit'>Aplicar</button>
</form>

{% endblock lista %}

{% block moduloAngular %}

<script language="javascript">
app.controller('controlForm',function($scope){

  $(function() {


{% for i in w_visble %}

  {% if i.visible == False %}

  document.getElementById('{{i.nombre.split|join:"-"}}').style.display='none';

    {% else %}

  {% endif %}

{% endfor %}

{% for form in formset %}
var fila =$("#id_form-"+{{forloop.counter0}}+"-numero_de_columna");
$("#id_form-"+{{forloop.counter0}}+"-numero_de_columna option").remove();

  {% if form.nombre.value == 'Autofiltros' %}

    {% if form.numero_de_columna.value == '1x0' %}

        fila.append('<option value=1x0 selected="selected">minimizado</option>');

      {% else %}

         fila.append('<option value=1x0>minimizado</option>');

    {% endif %}

    {% if form.numero_de_columna.value == '1x1' %}
        fila.append('<option value=1x1 selected="selected">1x1</option>');
      {% else %}
         fila.append('<option value=1x1>1x1</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '2x1' %}
        fila.append('<option value=2x1 selected="selected">2x1</option>');
      {% else %}
         fila.append('<option value=2x1>2x1</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '2x2' %}
        fila.append('<option value=2x2 selected="selected">2x2</option>');
      {% else %}
      fila.append('<option value=2x2>2x2</option>');
    {% endif %}

  {% elif form.nombre.value == 'Ficha' %}

    {% if form.numero_de_columna.value == '1x0' %}
        fila.append('<option value=1x0 selected="selected">minimizado</option>');
      {% else %}
         fila.append('<option value=1x0>minimizado</option>');
    {% endif %}
    {% if form.numero_de_columna.value == '1x3' %}
        fila.append('<option value=1x3 selected="selected">1x3</option>');
    {% else %}
         fila.append('<option value=1x3>1x3</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '2x3' %}
        fila.append('<option value=2x3 selected="selected">2x3</option>');
    {% else %}
      fila.append('<option value=2x3>2x3</option>');
    {% endif %}

  {% elif form.nombre.value == 'Filtros Rápidos' %}

    {% if form.numero_de_columna.value == '1x0' %}
        fila.append('<option value=1x0 selected="selected">minimizado</option>');
      {% else %}
         fila.append('<option value=1x0>minimizado</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '1x1' %}
        fila.append('<option value=1x1 selected="selected">1x1</option>');
      {% else %}
      fila.append('<option value=1x1>1x1</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '1x2' %}
        fila.append('<option value=1x2 selected="selected">1x2</option>');
      {% else %}
      fila.append('<option value=1x2>1x2</option>');
    {% endif %}

  {% elif form.nombre.value == 'Menú' %}

    {% if form.numero_de_columna.value == '1x0' %}
        fila.append('<option value=1x0 selected="selected">minimizado</option>');
      {% else %}
         fila.append('<option value=1x0>minimizado</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '1x2' %}
        fila.append('<option value=1x2 selected="selected">1x2</option>');
      {% else %}
      fila.append('<option value=1x2>1x2</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '1x3' %}
        fila.append('<option value=1x3 selected="selected">1x3</option>');
    {% else %}
         fila.append('<option value=1x3>1x3</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '2x3' %}
        fila.append('<option value=2x3 selected="selected">2x3</option>');
      {% else %}
      fila.append('<option value=2x3>2x3</option>');
    {% endif %}

  {% elif form.nombre.value == 'Tablas Relacionadas' %}

    {% if form.numero_de_columna.value == '1x0' %}
        fila.append('<option value=1x0 selected="selected">minimizado</option>');
      {% else %}
         fila.append('<option value=1x0>minimizado</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '1x2' %}
        fila.append('<option value=1x2 selected="selected">1x2</option>');
      {% else %}
      fila.append('<option value=1x2>1x2</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '1x3' %}
        fila.append('<option value=1x3 selected="selected">1x3</option>');
    {% else %}
         fila.append('<option value=1x3>1x3</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '2x2' %}
        fila.append('<option value=2x2 selected="selected">2x2</option>');
      {% else %}
      fila.append('<option value=2x2>2x2</option>');
    {% endif %}

    {% if form.numero_de_columna.value == '2x3' %}
        fila.append('<option value=2x3 selected="selected">2x3</option>');
      {% else %}
      fila.append('<option value=2x3>2x3</option>');
    {% endif %}

  {% else %}

    {% if form.numero_de_columna.value == '1x1' %}
          fila.append('<option value=1x1 selected="selected">Estandar</option>');
      {% else %}
           fila.append('<option value=1x1>1x1</option>');
    {% endif %}

  {% endif %}

{% endfor %}

});

});


</script>
{% endblock moduloAngular %}

