{% load widgets_extras %}
widgets:{{widgets}}
Nombres:{{arrayNombres}}
Ordenes:{{arrayOrdenes}}

    {% if ordenAD = 1 %}

            {% include "autofiltro.html" %}

    {% elif ordenFD = 1 %}

            {% include "ficha.html" %}

    {% elif ordenFRD = 1 %}

            {% include "filtrorapido.html" %}

    {% elif ordenMD = 1 %}

            {% include "Menu_general.html" %}

    {% elif ordenTRD = 1 %}

            {% include "tablas_relacionadas.html" %}

    {% endif %}


    {% if ordenAD = 2 %}

            {% include "autofiltro.html" %}

    {% elif ordenFD = 2 %}

            {% include "ficha.html" %}

    {% elif ordenFRD = 2 %}

            {% include "filtrorapido.html" %}

    {% elif ordenMD = 2 %}

            {% include "Menu_general.html" %}

    {% elif ordenTRD = 2 %}

            {% include "tablas_relacionadas.html" %}

    {% endif %}


    {% if ordenAD = 3 %}

            {% include "autofiltro.html" %}

    {% elif ordenFD = 3 %}

            {% include "ficha.html" %}

    {% elif ordenFRD = 3 %}

            {% include "filtrorapido.html" %}

    {% elif ordenMD = 3 %}

            {% include "Menu_general.html" %}

    {% elif ordenTRD = 3 %}

            {% include "tablas_relacionadas.html" %}

    {% endif %}


    {% if ordenAD = 4 %}

            {% include "autofiltro.html" %}

    {% elif ordenFD = 4 %}

            {% include "ficha.html" %}

    {% elif ordenFRD = 4 %}

            {% include "filtrorapido.html" %}

    {% elif ordenMD = 4 %}

            {% include "Menu_general.html" %}

    {% elif ordenTRD = 4 %}

            {% include "tablas_relacionadas.html" %}

    {% endif %}


    {% if ordenAD = 5 %}

            {% include "autofiltro.html" %}

    {% elif ordenFD = 5 %}

            {% include "ficha.html" %}

    {% elif ordenFRD = 5 %}

            {% include "filtrorapido.html" %}

    {% elif ordenMD = 5 %}

            {% include "Menu_general.html" %}

    {% elif ordenTRD = 5 %}

            {% include "tablas_relacionadas.html" %}

    {% endif %}


    {% if ordenAD = 6 %}

            {% include "autofiltro.html" %}

    {% elif ordenFD = 6 %}

            {% include "ficha.html" %}

    {% elif ordenFRD = 6 %}

            {% include "filtrorapido.html" %}

    {% elif ordenMD = 6 %}

            {% include "Menu_general.html" %}

    {% elif ordenTRD = 6 %}

            {% include "tablas_relacionadas.html" %}

    {% endif %}

<script type="text/javascript">
 //$('#q').append('{{w_visble }}');

{% for i in w_visble %}

{% if i.numero_de_columna == '2x3' %}

  $('#{{i.nombre}}-btnEN1').addClass('hidden');
  $('#{{i.nombre}}-btnEN2').removeClass('hidden');

  {% endif %}

{% endfor %}

</script>
