{% extends "base_personalizar.html" %}

{% block titulo %}

Administración de Widgets

{% endblock titulo %}


{% block contenido %}
<form ng-controller="controlForm" action="" method="post" id="myformEdit">

<script src="sortable.js"></script>
<link rel="stylesheet" href="sortable-theme-bootstrap.css">

  {% csrf_token %}

  <table class="sortable table table-bordered table-hover" id="unique_idlocode">
       {{ formset.management_form }}
       <tr id="trlista" class="active">
           <th>Nombre</th>
           <th>Visible</th>
           <th>Tamaño</th>
           <th>Color</th>
           <th>Orden</th>
       </tr>

       {% for form in formset %}
       <tr id="{{forloop.counter}}">
           <td>{{form.nombre}}</td>
           <td>{{form.visible}}</td>
           <td>{{form.numero_de_columna}}</td>
           <td>{{form.color}}</td>
           <td>{{form.orden}}</td>
           <td>{{form.usuario}}</td>

       </tr>
       {% endfor %}
  </table>

<button type='submit'>Aplicar</button>
</form>

{% endblock contenido %}


