{% extends "base.html" %}

{% block acceso_rapido %}

<a title="Volver" href="{% if request.GET.next = None %}../../{% else %}{{request.GET.next}}{% endif %}" tabindex="-1">
<span class="iconoVolver"></span>
</a>

{% endblock acceso_rapido %}

{% block contenido %}

<br>
<div  class="contenedor animated fadeIn">
  <div id="datosBasicos" class="panel panel-default">
    <div class="panel-body">
      <div class="controlFicha">
        <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_cliente' cliente.pk %}?next={{request.get_full_path}}" class="iconoEditar"></a>
        <span class="iconoGrupoControl"></span>
      </div>
      <div class="contenedor">
        <div class="contenedorFila">
          <h2>{{cliente.nombre}}</h2>
          <div class="col-md-12 col-lg-4">

            {% for i in contacto_cliente %}

            <p>
              <small>{{i.tipo_de_informacion_de_contacto}}:</small>
              {{i.informacion_de_contacto}}
            </p>

            {% endfor %}

          </div>
          <div class="col-md-12 col-lg-4">

            {% if cliente.tipo_de_cliente.tipo_de_cliente == 'Particular' or cliente.tipo_de_cliente.tipo_de_cliente == 'particular' %}

            <p>
              <strong>DNI: </strong>{{ contacto_cliente.0.contacto.dni }}
            </p>
            <p>
              <strong>Fecha de nacimiento: </strong>{{ contacto_cliente.0.contacto.fecha_nacimiento|date:'m/d/Y' }}
            </p>

            {% else %}

              <p>
                <strong>Cuit: </strong>{{ cliente.cuit }}
              </p>

            {% endif %}


          </div>
          <div class="col-md-12 col-lg-4">

            {% if cliente.tipo_de_cliente.tipo_de_cliente == 'Particular' or cliente.tipo_de_cliente.tipo_de_cliente == 'particular' %}

            <p>
              <strong>Sexo: </strong>{{ contacto_cliente.0.contacto.sexo }}
            </p>
            <p>
              <strong>Estado civil: </strong>{{ contacto_cliente.0.contacto.estado_civil }}
            </p>

            {% else %}

            {% endif %}

          </div>
        </div> <strong>Observaciones: </strong>{{ cliente.observaciones }}
      </div>
    </div>
  </div>

  <legend id="datosContacto" class="legendas" data-toggle="collapse" href="#contactoCollapse" aria-expanded="false" aria-controls="collapseExample">Personas de contacto de {{cliente.nombre}}.
  </legend>

  <div class="collapse datosContacto {% if contactos %}in{% else %}in{% endif %}" id="contactoCollapse">

    {% if not contactos %}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="contenedor">
          <div class="contenedorFila">

            <a class="btn btn-success hidden-print" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_contacto' %}?cliente={{cliente.pk}}&next={{request.get_full_path}}" style="float: right;" title="Agregar persona de contacto">Agregar persona de contacto</a>

          </div>
        </div>
      </div>
    </div>

    {% else %}

    {% regroup contactos by contacto as contacto_list %}

    {% for contacto in contacto_list %}

    <div class="panel panel-default {{ contacto.grouper.id }}">
      <div class="panel-body">
        <div style="float: right;display" class="controlFicha">
          <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_contacto' contacto.grouper.id %}?next={{request.get_full_path}}" class="iconoEditar"></a>
          <span class="iconoGrupoControl"></span>
        </div>
        <div class="contenedor">
          <div class="contenedorFila">
            <h3>{{ contacto.grouper }}</h3>
            <div class="col-md-12 col-lg-4">
              <p>{{contacto.list.0.contacto.tipo_de_relacion}}</p>
            </div>
            <div class="col-md-12 col-lg-4">

              {% for item in contacto.list %}

              <p>{{ item.tipo_de_informacion_de_contacto }}: {{ item.informacion_de_contacto }}</p>

              {% endfor %}

            </div>
            <div class="col-md-12 col-lg-4">
              <p>Sexo: {{contacto.list.0.contacto.sexo}}</p>
              <p>Estado civil: {{contacto.list.0.contacto.estado_civil}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

    <legend>
      <a title="Agregar contacto" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:add_contacto' %}?cliente={{cliente.pk}}&next={{request.get_full_path}}" class="iconoPlus" style="left: 97%;"></a>
    </legend>

    {% endif %}

  </div>

  <legend id="datosDireccion" class="legendas" data-toggle="collapse" href="#direccionesCollapse" aria-expanded="false" aria-controls="collapseExample">
    Direcciones de {{cliente.nombre}}.
  </legend>
  <div id="direccionesCollapse" class="collapse datosDireccion {% if direcciones %}in{% else %}in{% endif %}">

    {% if not direcciones %}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="contenedor">
          <div class="contenedorFila">

            <a class="btn btn-success hidden-print" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cliente.pk}}&next={{request.get_full_path}}" title="Agregar dirección" style="float: right;">Agregar dirección</a>

          </div>
        </div>
      </div>
    </div>

    {% else %}

    {% for direccion in direcciones %}

    <div class="panel panel-default {{direccion.id}}">
      <div class="panel-body">
        <div style="float: right;display" class="controlFicha">

          {% if direccion.inmueble.numero_de_inmueble %}

          <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_inmueble' direccion.inmueble.pk %}?next={{request.get_full_path}}&clientedireccion={{direccion.id}}" class="iconoEditar"></a>

          {% else %}

          <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_inmueble' %}?next={{request.get_full_path}}&clientedireccion={{direccion.id}}" class="iconoEditar"></a>

          {% endif %}

          <span class="iconoGrupoControl"></span>
        </div>
        <div class="contenedor">
          <div class="contenedorFila">

            <p>{{direccion.direccion.full_direccion}}</p>

            {% if direccion.edificacion.nombre_de_edificio %}

            <p><strong>Nombre de edificación: </strong> {{direccion.edificacion.nombre_de_edificio}}</p>

            {% endif %}

            {% if direccion.inmueble.numero_de_inmueble %}

            <p><strong>Numero de inmueble: </strong> N° {{direccion.inmueble.numero_de_inmueble}}</p>

            {% endif %}

          </div>
        </div>
      </div>
    </div>

    {% endfor %}

    <legend>
      <a title="Agregar dirección" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:add_direccion' %}?cliente={{cliente.pk}}&next={{request.get_full_path}}" class="iconoPlus" style="left: 97%;"></a>
    </legend>

    {% endif %}

  </div>
</div>
{% endblock contenido %}

{% block js_inferior %}



{% endblock js_inferior %}
