{% extends "base_editar.html" %}

{% block titulo %}

Inmueble

{% endblock titulo %}

{% block titulo_form %}

  Editar el inmueble: {{inmueble.especificacion_de_inmueble|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

<div class="blockForm">
<p id="msjtipodeinmuble"></p>
<input type="text" id="cambiarinmueble" name="cambiarinmueble" class="hidden">
<p>
    <span>
      <strong>Dirección de la edificación: </strong>

      {{direccion.0.full_direccion}}
<p class="botonesCampos">
      <a title='Editar' data-toggle='tooltip' data-placement='left' href="{% url 'uclientes:edit_direccion' direccion.0.id %}?next={{request.get_full_path}}" class='iconoEditar n1' tabindex='-1'></a>
</p>
    </span>
</p>

{{ form.as_p }}

</div>

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block js_inferior %}

<script type="text/javascript">
$('form').removeClass('hidden');
$("#id_cantidad_de_ambientes").parent().css('display', 'none');
$('#id_numero_de_inmueble').focus();
function cambiar() {
  $("#cambiarinmueble").val('si');
};
function cambiarno() {
  $('#id_especificacion_de_inmueble > option[value="{{form.especificacion_de_inmueble.value}}"]').attr('selected', 'selected');
   valor = '{{form.especificacion_de_inmueble.value}}';

//$("#id_especificacion_de_inmueble").select2("val", "{{form.especificacion_de_inmueble.value}}");

  console.log(valor);

};

$('#id_edificacion').after("<p class='botonesCampos'><a tabindex='-1' title='Editar' data-toggle='tooltip' data-placement='left' href='{% url 'uclientes:edit_edificacion' form.edificacion.value %}?next={{request.get_full_path}}&clientedireccion={{request.GET.clientedireccion}}' class='iconoEditar n1'></a><a tabindex='-1' title='Agregar' data-toggle='tooltip' data-placement='right' href='{% url 'uclientes:add_edificacion' %}?next={{request.get_full_path}}&clientedireccion={{request.GET.clientedireccion}}' class='iconoPlus n2'></a></p>");

  $("#id_especificacion_de_inmueble").on("change", function() {
    {% if request.GET.cotizacion %}
    $( "#msjtipodeinmuble" ).append('<span>Si cambia el tipo de inmueble se eliminaran todo los ambientes asociados a esta dirección, Desea eliminar los registros?<button type="button" class="btn btn-default" id="si" onclick="cambiar();">Si</button><button type="button" class="btn btn-default" id="no" onclick="cambiarno();">No</button></span>');
    {% else %}
    id_especificacion_de_inmueble = $("#id_especificacion_de_inmueble").val();
    $.get('/cliente/inmueble/exchange/'+id_especificacion_de_inmueble+'/',
      function(data) {
        console.log(data)
        $("#id_cantidad_de_ambientes").val(data.cant_ambiente);
      });
    {% endif %}

  });

{% if baulera == True %}

  $('#id_volumen_baulera').parent().css('opacity', '1');

  {% else %}

  $('#id_volumen_baulera').parent().css('opacity', '0');

{% endif %}

$('input[id=id_baulera]').on('switchChange.bootstrapSwitch', function(event, state) {
  if (state === true) {
    $('#id_volumen_baulera').parent().css('opacity', '1');
    $('#id_volumen_baulera').focus();
  }else{
    $('#id_volumen_baulera').parent().css('opacity', '0');
    $('#id_volumen_baulera').val('');
  }
});
radioSelectPlus();
</script>
<style>.paginacionEdit{height: 0;display: none;}</style>
{% endblock js_inferior %}
