{% extends "base_editar.html" %}

{% block titulo %}

    Dirección

{% endblock titulo %}

{% block titulo_form %}

Agregar dirección

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

<div class="col-xs-10 col-sm-10 col-md-10 col-lg-6" style="background: #fff;">

<p>
    <label for="id_titulo_de_direccion">Titulo de la dirección</label><br>
    <input id="id_titulo_de_direccion" name="titulo_de_direccion" type="text" value="" required="required">
</p>

  {{ form.as_p }}

</div>

{% endblock cuerpo_form %}

{% block js_inferior %}

<script type="text/javascript">
$('form').removeClass('hidden');
    $('#id_titulo_de_direccion').focus();


</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock js_inferior %}
