{% extends "base_editar.html" %}

{% block titulo %}

    Dirección

{% endblock titulo %}

{% block titulo_form %}

Agregar dirección

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}
  <input id="titulo_de_direccion" type="input" value="titulo dirección">
  {{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.pais = '{{form.pais.value}}';
    $scope.provincia = '{{form.provincia.value}}';
    $scope.ciudad = '{{form.ciudad.value}}';
    $('#titulo_de_direccion').focus();
  });
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
