{% extends "base_editar.html" %}

{% block titulo %}

    Dirección

{% endblock titulo %}

{% block titulo_form %}

Agregar inmueble

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

<div class="blockForm">
<p>
{% if request.GET.cotizacion %}
    <a title="Ficha" data-toggletooltip="tooltip" data-placement="left" href="{% url 'ucotizacionesweb:ficha_cotizacion' request.GET.cotizacion %}" class="iconoVerFicha">Regresar a la cotización</a>

{% endif %}
</p>

<p>
    <span>
      <strong>Dirección del inmueble: </strong>

      {{direccion.0.full_direccion}}

    </span>
</p>

  {{ form.as_p }}

</div>

{% endblock cuerpo_form %}

{% block js_inferior %}

<script type="text/javascript">
$('form').removeClass('hidden');
$("#id_cantidad_de_ambientes").parent().css('display', 'none');
radioSelectPlus();
$('#id_edificacion').focus();
$('label[for=id_edificacion]').text('Nombre de la edificación');
    $('#id_edificacion').after("<p class='botonesCampos'><a title='Agregar' data-toggletooltip='tooltip' data-placement='right' href='{% url 'uclientes:add_edificacion' %}?next={{request.get_full_path}}&clientedireccion={{request.GET.clientedireccion}}' class='iconoPlus n1'></a></p>");

    $("#id_especificacion_de_inmueble").on("change", function() {

     {% if request.GET.cotizacion %}

     $( "#msjtipodeinmuble" ).append('<span>Si cambia el tipo de inmueble se eliminaran todo los ambientes asociados a esta dirección, Desea eliminar los registros?<button type="button" class="btn btn-default" id="si" onclick="cambiar();">Si</button><button type="button" class="btn btn-default" id="no" onclick="cambiarno();">No</button></span>');

     {% else %}

     id_especificacion_de_inmueble = $("#id_especificacion_de_inmueble").val();
     $.get('/cliente/inmueble/exchange/'+id_especificacion_de_inmueble+'/',
       function(data) {
         console.log(data)
         $("#id_cantidad_de_ambientes").val(data.cant_ambiente);
       });

     {% endif %}

   });
$('#id_volumen_baulera').parent().css('opacity', '0');
$('input[id=id_baulera]').on('switchChange.bootstrapSwitch', function(event, state) {
  if (state === true) {
    $('#id_volumen_baulera').parent().css('opacity', '1');
    $('#id_volumen_baulera').focus();
  }else{
    $('#id_volumen_baulera').parent().css('opacity', '0');
  }
});
</script>
<style>.paginacionEdit{height: 0;display: none;}</style>
{% endblock js_inferior %}
