{% extends "base_editar.html" %}

{% block js_superior %}

<script type="text/javascript">
$(function() {
        $(".inline.{{ itemascensor_form.prefix }}").formset({
            prefix: "{{ itemascensor_form.prefix }}",
        })
        $(".inline.{{ itemhorariodisponible_form.prefix }}").formset({
            prefix: "{{ itemhorariodisponible_form.prefix }}",
        })
    })
</script>

{% endblock js_superior %}

{% block titulo %}

Edificación

{% endblock titulo %}

{% block titulo_form %}

  Editar la edificación: {{form.nombre_de_edificio.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

<div class="blockForm">

{{ form.as_p }}

  <fieldset>
    <legend>Ascensor de la edificación</legend>
    {{ itemascensor_form.management_form }}
    {{ itemascensor_form.non_form_errors }}

    {% for form in itemascensor_form %}

    <div class="inline {{ itemascensor_form.prefix }}">
        {{ form.id }}
        {{ form.tipo_de_ascensor.errors }}
        {{ form.tipo_de_ascensor.label_tag }}
        {{ form.tipo_de_ascensor }}
        {{ form.cantidad.errors }}
        {{ form.cantidad.label_tag }}
        {{ form.cantidad }}
        {{ form.piso_ascensor.errors }}
        {{ form.piso_ascensor.label_tag }}
        {{ form.piso_ascensor }}
        {{ form.velocidad_por_piso.errors }}
        {{ form.velocidad_por_piso.label_tag }}
        {{ form.velocidad_por_piso }}
        {{ form.ancho.errors }}
        {{ form.ancho.label_tag }}
        {{ form.ancho }}
        {{ form.largo.errors }}
        {{ form.largo.label_tag }}
        {{ form.largo }}
        {{ form.alto.errors }}
        {{ form.alto.label_tag }}
        {{ form.alto }}
        {{ form.capacidad_carga.errors }}
        {{ form.capacidad_carga.label_tag }}
        {{ form.capacidad_carga }}
    </div>

    {% endfor %}

  </fieldset>

  <fieldset>
    <legend>Horarios disponibles de la edificación</legend>
    {{ itemhorariodisponible_form.management_form }}
    {{ itemhorariodisponible_form.non_form_errors }}

    {% for form in itemhorariodisponible_form %}

    <div class="inline {{ itemhorariodisponible_form.prefix }}">
        {{ form.id }}
        {{ form.lunes.errors }}
        {{ form.lunes.label_tag }}
        {{ form.lunes }}
        {{ form.martes.errors }}
        {{ form.martes.label_tag }}
        {{ form.martes }}
        {{ form.miercoles.errors }}
        {{ form.miercoles.label_tag }}
        {{ form.miercoles }}
        {{ form.jueves.errors }}
        {{ form.jueves.label_tag }}
        {{ form.jueves }}
        {{ form.viernes.errors }}
        {{ form.viernes.label_tag }}
        {{ form.viernes }}
        {{ form.sabado.errors }}
        {{ form.sabado.label_tag }}
        {{ form.sabado }}
        {{ form.domingo.errors }}
        {{ form.domingo.label_tag }}
        {{ form.domingo }}
        {{ form.hora_desde.errors }}
        {{ form.hora_desde.label_tag }}
        {{ form.hora_desde }}
        {{ form.hora_hasta.errors }}
        {{ form.hora_hasta.label_tag }}
        {{ form.hora_hasta }}
        {{ form.edificio.errors }}
        {{ form.edificio.label_tag }}
        {{ form.edificio }}
        {{ form.ascensor.errors }}
        {{ form.ascensor.label_tag }}
        {{ form.ascensor }}
        {{ form.observacion.errors }}
        {{ form.observacion.label_tag }}
        {{ form.observacion }}

    </div>

    {% endfor %}

  </fieldset>
</div>

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block js_inferior %}

<script type="text/javascript">
$('form').removeClass('hidden');
$('#id_nombre_de_edificio').focus();
$('input[name=cantidad_de_pisosa], input[name=cantidad_de_inmuebles_por_pisoa]').on('change', function() {
    operacionX($('#id_cantidad_de_pisos').val(),$('#id_cantidad_de_inmuebles_por_piso').val(),$('#id_total_inmuebles'));
});
operacionX($('#id_cantidad_de_pisos').val(),$('#id_cantidad_de_inmuebles_por_piso').val(),$('#id_total_inmuebles'));
$('.ascensor_set .delete-row').click(function(){
        id_remove = $(this).parent().children('input[type=hidden]').val();
        if (id_remove!=''){
            $http.get("/cliente/ascensor/delete/"+id_remove+"/")
            .success(function(result) {});
        }
    });
    $('.horariodisponible_set .delete-row').click(function(){
        id_remove = $(this).parent().children('input[type=hidden]').val();
        id_parent = $(this).parent().attr("class");
        if (id_remove!=''){
            $http.get("/cliente/horariodisponible/delete/"+id_remove+"/")
            .success(function(result) {});
        }
    });
    $(function() {
        $('fieldset .inline input[type=hidden]').each(function(){
            if ($(this).val()==''){
                $(this).siblings('.delete-row').click();
            }
        });
    });
$('#id_volumen_baulera').parent().css('opacity', '0');
$('input[id=id_baulera]').on('switchChange.bootstrapSwitch', function(event, state) {
  if (state === true) {
    $('#id_volumen_baulera').parent().css('opacity', '1');
    $('#id_volumen_baulera').focus();
  }else{
    $('#id_volumen_baulera').parent().css('opacity', '0');
  }
});
radioSelectPlus();
$("#id_direccion").prop("disabled", true);
$('#myformEdit').submit(function() {
    $("#id_direccion").prop("disabled", false);
    operacionX($('#id_cantidad_de_pisos').val(),$('#id_cantidad_de_inmuebles_por_piso').val(),$('#id_total_inmuebles'));
});
</script>
<style>.paginacionEdit{height: 0;display: none;}</style>

{% endblock js_inferior %}
