{% extends "base_editar.html" %}

{% block titulo %}

    Cliente

{% endblock titulo %}

{% block titulo_form %}

Agregar cliente

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

<div class="blockForm">

  {{ form.as_p }}

</div>

{% endblock cuerpo_form %}

{% block js_inferior %}

<script>
//$('#id_cuit,#id_nombre,#id_observaciones').parent().css('visibility', 'hidden');
$('form').removeClass('hidden');
$('button[name=reg]').text('Siguiente');
$('#id_tipo_de_cliente').attr('tabindex', '1');
$('input[type=radio]').focus(function() {
   $(this).parent().parent().parent().addClass('inputFocus');
   radioColor();
}).focusout(function() {
    $(this).parent().parent().parent().removeClass('inputFocus');
    radioColor();
  });
    $('input[name=tipo_de_cliente]').on('click', function () {
        //alert($(this).val());
        $('#id_cuit,#id_nombre,#id_observaciones').parent().css('visibility', 'visible');
        if ($(this).val() === '1') {
            $('#id_cuit').parent().css('display', 'none');
            $('#id_observaciones').parent().css('display', 'none');
            $('#id_nombre').focus();
            $('#id_cuit').removeAttr('required');
            $('label[for=id_nombre]').text('Nombre del cliente');
        }else{
            $('#id_cuit').parent().css('display', 'block');
            $('#id_observaciones').parent().css('display', 'block');
            $('#id_cuit').focus();
            $('#id_cuit').attr('required', 'required');
            $('label[for=id_nombre]').text('Nombre de la entidad');
        }
    });
    radioColor();
    if ($('label:has(input[name=tipo_de_cliente]:checked)').text().trim() === 'Particular' || $('label:has(input[name=tipo_de_cliente]:checked)').text().trim() === 'particular') {
            $('#id_cuit').parent().css('display', 'none');
            $('#id_observaciones').parent().css('display', 'none');
            $('#id_nombre').focus();
            $('#id_cuit').removeAttr('required');
            $('label[id=id_nombre]').text('Nombre del cliente');
        }else{
            $('#id_cuit').parent().css('display', 'block');
            $('#id_observaciones').parent().css('display', 'block');
            $('#id_cuit').focus();
            $('#id_cuit').attr('required', 'required');
            $('label[for=id_nombre]').text('Nombre de la entidad');
        }
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock js_inferior %}
