{% extends "base_editar.html" %}

{% block titulo %}

Dirección

{% endblock titulo %}

{% block titulo_form %}

  Editar el dirección: {{titulo}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}
<input id="titulo_de_direccion" name="titulo_de_direccion" type="input" value="{{titulo}}">
{{ form.as_p }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block js_inferior %}

<script type="text/javascript">
$('form').removeClass('hidden');
$('#id_calle').focus();
</script>
<style>.paginacionEdit{height: 0;display: none;}</style>
{% endblock js_inferior %}
