{% extends "base.html" %}

{% block acceso_rapido %}

<a title="Volver" href="{% if request.GET.next = None %}../../{% else %}{{request.GET.next}}{% endif %}" tabindex="-1">
<span class="iconoVolver"></span>
</a>

{% endblock acceso_rapido %}

{% block contenido %}

<br>
<div  class="contenedor animated fadeIn">
  <div id="datosBasicos" class="panel panel-default">
    <div class="panel-body">
      <div class="controlFicha">
        <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_cliente' cliente.pk %}?next={{request.get_full_path}}" class="iconoEditar"></a>
        <span class="iconoGrupoControl"></span>
      </div>
      <div class="contenedor">
        <div class="contenedorFila">
          <h2>{{cliente.nombre}}</h2>
          <div class="col-md-12 col-lg-4">

            {% for i in contacto_cliente %}

            <p>
              <strong>{{i.tipo_de_informacion_de_contacto}}:</strong>
              {{i.informacion_de_contacto}}
            </p>

            {% endfor %}

          </div>
          <div class="col-md-12 col-lg-4">

            {% if cliente.tipo_de_cliente.tipo_de_cliente == 'Particular' or cliente.tipo_de_cliente.tipo_de_cliente == 'particular' %}

            {% if contacto_cliente.0.contacto.dni %}

            <p>
              <strong>DNI: </strong>{{ contacto_cliente.0.contacto.dni }}
            </p>

            {% endif %}

            {% if contacto_cliente.0.contacto.fecha_nacimiento %}

              <p>
                <strong>Fecha de nacimiento: </strong>{{ contacto_cliente.0.contacto.fecha_nacimiento|date:'m/d/Y' }}
              </p>

            {% endif %}


            {% else %}

              <p>
                <strong>Cuit: </strong>{{ cliente.cuit }}
              </p>

            {% endif %}


          </div>
          <div class="col-md-12 col-lg-4">

            {% if cliente.tipo_de_cliente.tipo_de_cliente == 'Particular' or cliente.tipo_de_cliente.tipo_de_cliente == 'particular' %}

            <p>
              <strong>Sexo: </strong>{{ contacto_cliente.0.contacto.sexo }}
            </p>
            <p>
              <strong>Estado civil: </strong>{{ contacto_cliente.0.contacto.estado_civil }}
            </p>

            {% else %}

            {% endif %}

          </div>
        </div> <strong>Observaciones: </strong>{{ cliente.observaciones }}
      </div>
    </div>
  </div>

  <legend id="datosContacto" class="legendas" data-toggle="collapse" href="#contactoCollapse" aria-expanded="false" aria-controls="collapseExample">Personas de contacto de {{cliente.nombre}}. <span class="btnToggle"></span>
  </legend>

  <div class="collapse datosContacto {% if contactos %}in{% else %}in{% endif %}" id="contactoCollapse">

    {% if not contactos %}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="contenedor">
          <div class="contenedorFila">

            <a class="btn btn-success hidden-print" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_contacto' %}?cliente={{cliente.pk}}&next={{request.get_full_path}}" style="float: right;" title="Agregar persona de contacto">Agregar persona de contacto</a>

          </div>
        </div>
      </div>
    </div>

    {% else %}

    {% regroup contactos by contacto as contacto_list %}

    {% for contacto in contacto_list %}

    <div class="panel panel-default" id="contacto{{ contacto.grouper.id }}">
      <div class="panel-body">
        <div style="float: right;display" class="controlFicha">
          <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_contacto' contacto.grouper.id %}?next={{request.get_full_path}}" class="iconoEditar"></a>
          <span class="iconoGrupoControl"></span>
        </div>
        <div class="contenedor">
          <div class="contenedorFila">
            <h3>{{ contacto.grouper }}</h3>
            <div class="col-md-12 col-lg-4">
              <p>{{contacto.list.0.contacto.tipo_de_relacion}}</p>
            </div>
            <div class="col-md-12 col-lg-4">

              {% for item in contacto.list %}

              <p><strong>{{ item.tipo_de_informacion_de_contacto }}</strong>: {{ item.informacion_de_contacto }}</p>

              {% endfor %}

            </div>
            <div class="col-md-12 col-lg-4">
              <p><strong>Sexo</strong>: {{contacto.list.0.contacto.sexo}}</p>
              <p><strong>Estado civil</strong>: {{contacto.list.0.contacto.estado_civil}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

    <legend>
      <a title="Agregar contacto" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:add_contacto' %}?cliente={{cliente.pk}}&next={{request.get_full_path}}" class="iconoPlus" style="left: 97%;"></a>
    </legend>

    {% endif %}

  </div>

  <legend id="datosDireccion" class="legendas" data-toggle="collapse" href="#direccionesCollapse" aria-expanded="false" aria-controls="collapseExample">
    Direcciones de {{cliente.nombre}}. <span class="btnToggle"></span>
  </legend>
  <div id="direccionesCollapse" class="collapse datosDireccion {% if direcciones %}in{% else %}in{% endif %}">

    {% if not direcciones %}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="contenedor">
          <div class="contenedorFila">

            <a class="btn btn-success hidden-print" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cliente.pk}}&next={{request.get_full_path}}" title="Agregar dirección" style="float: right;">Agregar dirección</a>

          </div>
        </div>
      </div>
    </div>

    {% else %}

    {% for direccion in direcciones %}

    <div class="panel panel-default" id="direccion{{ direccion.id }}">
      <div class="panel-body">
        <div style="float: right;display" class="controlFicha">

          {% if direccion.inmueble.numero_de_inmueble %}

          <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_inmueble' direccion.inmueble.pk %}?next={{request.get_full_path}}&clientedireccion={{direccion.id}}" class="iconoEditar"></a>

          {% else %}

          <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_inmueble' %}?next={{request.get_full_path}}&clientedireccion={{direccion.id}}" class="iconoEditar"></a>

          {% endif %}

          <span class="iconoGrupoControl"></span>
        </div>
        <div class="contenedor">
          <div class="contenedorFila">

            <h4>{{direccion.direccion.full_direccion}}</h4>
            <div class="col-md-12 col-lg-4">

              {% if direccion.edificacion.nombre_de_edificio %}

            <p><strong>{{direccion.edificacion.tipo_de_edificacion}}: </strong>{{direccion.edificacion.nombre_de_edificio}}</p>

            {% endif %}

            {% if direccion.inmueble.numero_de_inmueble %}

            <p><strong>Numero del inmueble: </strong> N° {{direccion.inmueble.numero_de_inmueble}}</p>

            {% endif %}

            {% if direccion.inmueble.numero_de_pisos > "1" %}

            <p><strong>Numero de pisos del inmueble: </strong> N° {{direccion.inmueble.numero_de_pisos}}</p>

            {% endif %}

            {% if direccion.inmueble.especificacion_de_inmueble %}

            <p><strong>Tipo de inmueble: </strong>{{direccion.inmueble.especificacion_de_inmueble}}</p>

            {% endif %}

            </div>
            <div class="col-md-12 col-lg-4">

              {% if direccion.edificacion.cantidad_de_pisos  %}

              {% if direccion.edificacion.cantidad_de_pisos > 1 %}

            <p><strong>Cantidad de pisos de la edificación: </strong>{{direccion.edificacion.cantidad_de_pisos}} Pisos</p>

            {% else %}

             <p><strong>Cantidad de piso de la edificación: </strong>{{direccion.edificacion.cantidad_de_pisos}} piso</p>

            {% endif %}

            {% endif %}

            {% if direccion.edificacion.distancia_del_vehiculo %}

            <p><strong>Distancia del vehiculo a la edificación: </strong>{{direccion.edificacion.distancia_del_vehiculo}} (m)</p>

            {% endif %}

            {% for i in ascensores %}

            {% if i.edificacion == direccion.edificacion %}

              <p><strong>Ascensor: </strong>{{i.cantidad}} {{i.tipo_de_ascensor|lower}} con capacidad de carga de {{ i.capacidad_carga}} (Kg)</p>

            {% endif %}

            {% endfor %}

            </div>
            <div class="col-md-12 col-lg-4">
              <p>

              {% for i in horarios %}

              {% if i.edificacion == direccion.edificacion %}

                <strong>Horario disponible para el {{i.edificio|yesno:"edificio,"}}{{i.ascensor|yesno:"ascensor,"}}: </strong>

              {{i.lunes|yesno:"Lunes,"}}

              {% if i.lunes %}
              ,
              {% endif %}

               {{i.martes|yesno:"Martes,"}}

               {% if i.martes %}
                 ,
               {% endif %}

                {{i.miercoles|yesno:"Miercoles,"}}

                {% if i.miercoles %}
                  ,
                {% endif %}

                 {{i.jueves|yesno:"Jueves,"}}

                 {% if i.jueves %}
                   ,
                 {% endif %}

                  {{i.viernes|yesno:"Viernes,"}}

                  {% if i.viernes %}
                    ,
                  {% endif %}

                   {{i.sabado|yesno:"Sabado,"}}

                   {% if i.sabado %}
                   ,
                   {% endif %}

                    {{i.domingo|yesno:"Domingo,"}}

                    {% if i.domingo %}
                      .
                    {% endif %}

                            desde las
          {{i.hora_desde}}  hasta las  {{i.hora_hasta}} <br>

          {% endif %}

            {% endfor %}
              </p>
            </div>
          </div><p>

          {% for i in horarios %}

          {% if i.observacion %}

          {% if i.edificacion == direccion.edificacion %}

          <strong>Observaciones del {{i.edificio|yesno:"edificio,"}}{{i.ascensor|yesno:"ascensor,"}}:  </strong> {{i.observacion}} <br>

          {% endif %}

          {% endif %}

          {% endfor %}

        </p>
        </div>
      </div>
    </div>

    {% endfor %}

    <legend>
      <a title="Agregar dirección" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:add_direccion' %}?cliente={{cliente.pk}}&next={{request.get_full_path}}" class="iconoPlus" style="left: 97%;"></a>
    </legend>

    {% endif %}

  </div>
</div>

{% endblock contenido %}

{% block js_inferior %}

{% if messages %}

{% for message in messages %}

{% if forloop.last %}

<div id="msjDeNotificacion" class="alert alert-success animated fadeInUp" role="alert">{{message}}</div>
<script>
setTimeout(function(){
    $('#msjDeNotificacion').addClass('fadeOutDown');
}, 6000);

var scroll = $(document.getElementsByClassName("page-content-wrapper"));
var id = '{{message.extra_tags}}';
var element = $('#'+id);
var pos = element.position();

if (id === 'datosBasicos') {
$(scroll).animate({ scrollTop: 0 - 250 }, 750);
element.addClass('regGuardado');
setTimeout(function(){
    element.removeClass('regGuardado');
}, 6000);
}else{
$(scroll).animate({ scrollTop: pos.top - 150 }, 750);
element.addClass('regGuardado').css('opacity', '1');
setTimeout(function(){
    element.removeClass('regGuardado');
}, 6000);
}
</script>

{% endif %}

{% endfor %}

{% endif %}

{% endblock js_inferior %}
