{% extends "base_editar.html" %}

{% block js_superior %}

<script type="text/javascript">
$(function() {
        $(".inline.{{ item_form.prefix }}").formset({
            prefix: "{{ item_form.prefix }}",
        })
    })
</script>

{% endblock js_superior %}

{% block titulo %}

    Contacto

{% endblock titulo %}

{% block titulo_form %}

{% if request.GET.relacion == 'cliente' %}

Agregar detalle del cliente: <small>{{ form.nombre.value }}</small>

{% else %}

Agregar contacto del cliente: <small>{{ cliente }}</small>

{% endif %}


{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

<div class="blockForm">

{{ form.as_p }}

<fieldset>

    {{ item_form.management_form }}
    {{ item_form.non_form_errors }}

    {% for form in item_form %}

    {{ form.id }}

    <div class="inline {{ item_form.prefix }}">

        {{ form.tipo_de_informacion_de_contacto.errors }}
        <p>
        {{ form.tipo_de_informacion_de_contacto.label_tag }}
        {{ form.tipo_de_informacion_de_contacto }}
        </p>
        {{ form.informacion_de_contacto.errors }}
        <p>
        {{ form.informacion_de_contacto.label_tag }}
        {{ form.informacion_de_contacto }}
        </p>

    </div>

    {% endfor %}

  </fieldset>

</div>


{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block js_inferior %}

<script type="text/javascript">
$('input[type=radio]').focus(function() {
   $(this).parent().parent().parent().addClass('inputFocus');
   $(this).click();
   radioColor();
}).focusout(function() {
    $(this).parent().parent().parent().removeClass('inputFocus');
    radioColor();
  });
radioColor();
$('form').removeClass('hidden');
$('ul[id]').attr('tabindex', '1');
$('.contenidoR').removeClass('hidden');
$('#id_dni').focus();
if ('{{request.GET.relacion}}' === 'cliente') {
   $('#id_cliente,#id_nombre,#id_tipo_de_relacion').parent('p').css('display', 'none');
}else{
    $('#id_dni,#id_cliente,#id_fecha_nacimiento,#id_observaciones').parent('p').css('display', 'none');
    $('#id_fecha_nacimiento').removeAttr('required');
    $('#id_dni').removeAttr('required');
    $('#id_nombre').focus();
    $('label[for=id_nombre]').text('Nombre del contacto:');
    $('p label[for=id_sexo_0]').text('Sexo del contacto:');
    $('p label[for=id_estado_civil_0]').text('Estado civil del contacto:');

}
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock js_inferior %}
