{% extends "base_editar.html" %}
{% block js_superior %}
<script type="text/javascript">
$(function() {
        $(".inline.{{ item_form.prefix }}").formset({
            prefix: "{{ item_form.prefix }}",
        })
    })
</script>
{% endblock js_superior %}
{% block titulo %}

Contacto

{% endblock titulo %}

{% block titulo_form %}

  Editar la persona de contacto: {{form.nombre.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if contacto_previous %}

        <li class="anterior">
            <md-button href="{% url 'uclientes:edit_contacto' contacto_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if contacto_next %}

        <li class="siguiente">
            <md-button href="{% url 'uclientes:edit_contacto' contacto_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

   {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

  <fieldset>
    <legend>Información de contacto</legend>
    {{ item_form.management_form }}
    {{ item_form.non_form_errors }}
    {% for form in item_form %}
    <div class="inline {{ item_form.prefix }}">
        {{ form.id }}
        {{ form.tipo_de_informacion_de_contacto.errors }}
        {{ form.tipo_de_informacion_de_contacto.label_tag }}
        {{ form.tipo_de_informacion_de_contacto }}
        {{ form.informacion_de_contacto.errors }}
        {{ form.informacion_de_contacto.label_tag }}
        {{ form.informacion_de_contacto }}
    </div>
    {% endfor %}
  </fieldset>
{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope, $http){
    $scope.nombre = '{{form.nombre.value}}';
    $('#id_nombre').focus();
    $('#id_nombre').parent().addClass('md-input-focused');
    $scope.dni = '{{form.dni.value}}';
    $scope.sexo = '{{form.sexo.value}}';
    $scope.estado_civil = '{{form.estado_civil.value}}';
    {% if form.fecha_nacimiento.value %}
        $scope.fecha_nacimiento = '{{form.fecha_nacimiento.value}}';
    {% endif %}

    $scope.tipo_de_relacion = '{{form.tipo_de_relacion.value}}';
    $scope.observaciones = '{{form.observaciones.value}}';
    $scope.cliente = '{{form.cliente.value}}';
    $('.delete-row').click(function(){
        id_remove = $(this).parent().children('input[type=hidden]').val();
        if (id_remove!=''){
            $http.get("/cliente/informaciondecontacto/delete/"+id_remove+"/")
            .success(function(result) {});
        }
    });
    $(function() {
        $('fieldset .inline input[type=hidden]').each(function(){
            if ($(this).val()==''){
                $(this).siblings('.delete-row').click();
            }
        });
    });
});
</script>
<style>.paginacionEdit{height: 0;display: none;}</style>
{% endblock moduloAngular %}
