{% extends "base_editar.html" %}

{% block js_superior %}

<script type="text/javascript">
$(function() {
        $(".inline.{{ item_form.prefix }}").formset({
            prefix: "{{ item_form.prefix }}",
        })
    })
</script>

{% endblock js_superior %}

{% block titulo %}

Contacto

{% endblock titulo %}

{% block titulo_form %}

  Editar la persona de contacto: {{form.nombre.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if contacto_previous %}

        <li class="anterior">
            <a href="{% url 'uclientes:edit_contacto' contacto_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</a>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <a href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</a>
        </li>

    {% endif %}

    {% if contacto_next %}

        <li class="siguiente">
            <a href="{% url 'uclientes:edit_contacto' contacto_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</a>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <a href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</a>
        </li>

   {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

<div class="col-md-12 col-lg-6" style="background: #fff;">


{{ form.as_p }}

</div>
<div class="col-md-12 col-lg-6" style="background: #fff;border-left: 1px solid #ededed;">
  <fieldset>
    <legend>Información de contacto</legend>
    {{ item_form.management_form }}
    {{ item_form.non_form_errors }}

    {% for form in item_form %}

    <div class="inline {{ item_form.prefix }}">
        {{ form.id }}
        {{ form.tipo_de_informacion_de_contacto.errors }}
        {{ form.tipo_de_informacion_de_contacto.label_tag }}
        {{ form.tipo_de_informacion_de_contacto }}
        {{ form.informacion_de_contacto.errors }}
        {{ form.informacion_de_contacto.label_tag }}
        {{ form.informacion_de_contacto }}
    </div>

    {% endfor %}

  </fieldset>
</div>

{% endblock cuerpo_form %}

{% block js_inferior %}

<script type="text/javascript">

$('form').removeClass('hidden');
$('.contenidoR').removeClass('hidden');
$('#id_dni').focus();
if ('{{request.GET.relacion}}' === 'cliente') {
   $('#id_cliente,#id_nombre,#id_tipo_de_relacion').parent('p').css('display', 'none');
}else{
    $('#id_dni,#id_cliente,#id_fecha_nacimiento,#id_observaciones').parent('p').css('display', 'none');
    $('#id_fecha_nacimiento').removeAttr('required');
    $('#id_dni').removeAttr('required');
    $('#id_nombre').focus();
    $('label[for=id_nombre]').text('Nombre del contacto:');
    $('p label[for=id_sexo_0]').text('Sexo del contacto');
}
radioColor();
    $(function() {
        $('.delete-row').click(function(){
        id_remove = $(this).parent().children('input[type=hidden]').val();
        if (id_remove!=''){
            $.get("/cliente/informaciondecontacto/delete/"+id_remove+"/", {}, function(result){

            });
            }
    });
        $('fieldset .inline input[type=hidden]').each(function(){
            if ($(this).val()==''){
                $(this).siblings('.delete-row').click();
            }
        });
    });


</script>
<style>.paginacionEdit{height: 0;display: none;}</style>

{% endblock js_inferior %}
