{% extends "base_ficha.html" %}

{% block titulo_ficha %}

  'Editar el estado civil: {{form.estado_civil.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if estado_civil_previous %}

        <li class="anterior">
            <md-button href="{% url 'uclientes:edit_estado_civil' estado_civil_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if estado_civil_next %}

        <li class="siguiente">
            <md-button href="{% url 'uclientes:edit_estado_civil' estado_civil_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

   {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

{{ form.as_md }}

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.estado_civil = '{{form.estado_civil.value}}';
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.estado_civil = '{{form.estado_civil.value}}';
    }
    $scope.onChange = function() {
        controlSubmit(event);
    };
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.estado_civil.value}}');
});
</script>

{% endblock moduloAngularFicha %}
