{% extends "base_editar.html" %}

{% block titulo %}

Cliente

{% endblock titulo%}

{% block titulo_form %}

Editar el sexo: {{form.sexo.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if sexo_previous %}

        <li class="anterior">
            <md-button href="{% url 'uclientes:edit_sexo' sexo_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if sexo_next %}

        <li class="siguiente">
            <md-button href="{% url 'uclientes:edit_sexo' sexo_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

      <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.sexo = '{{form.sexo.value}}';
    $('#id_sexo').focus();
    $('#id_sexo').parent().addClass('md-input-focused');

});
</script>

{% endblock moduloAngular %}
