{% extends "base_ficha.html" %}

{% block titulo_ficha %}

'Ficha del sexo: {{form.sexo.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if sexo_previous %}

        <li class="anterior">
            <md-button href="{% url 'uclientes:edit_sexo' sexo_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if sexo_next %}

        <li class="siguiente">
            <md-button href="{% url 'uclientes:edit_sexo' sexo_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

      <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

    {{form.sexo}}

</h3>
</md-input-container>

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.sexo = '{{form.sexo.value}}';
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.sexo = '{{form.sexo.value}}';
    }
    $scope.onChange = function() {
        controlSubmit(event);
    };
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.sexo.value}}');
});
</script>

{% endblock moduloAngularFicha %}
