{% extends "base_editar.html" %}

{% block titulo %}

    Tipo de contacto

{% endblock titulo %}

{% block titulo_form %}

Agregar tipo contacto

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {{ form.as_p }}

{% endblock cuerpo_form %}
<script type="text/javascript">

$('form').removeClass('hidden');
document.getElementById('id_tipo_de_relacion').focus()
</script>
<style>.paginacionEdit{height: 0;display: none;}</style>
{% endblock js_inferior %}
