{% extends "base_ficha.html" %}

{% block titulo_ficha %}

'Ficha del tipo de información de contacto: {{form.tipo_de_informacion_de_contacto.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if tipodeinformaciondecontacto_previous %}

        <li class="anterior">
            <a href="{% url 'uclientes:edit_tipo_de_informacion_de_contacto' tipodeinformaciondecontacto_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</a>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <a href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</a>
        </li>

    {% endif %}

    {% if tipodeinformaciondecontacto_next %}

        <li class="siguiente">
            <a href="{% url 'uclientes:edit_tipo_de_informacion_de_contacto' tipodeinformaciondecontacto_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</a>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <a href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</a>
        </li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

{{ form.as_p }}

{% endblock ficha_basica %}

{% block jsFicha %}

<script type="text/javascript">
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    var scroll = $(parent.document.getElementsByClassName("page-content-wrapper"));
    var pos = $(tr).position();
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.tipo_de_informacion_de_contacto.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.descripcion.value|truncatechars:"30"}}');
    $(scroll).animate({ scrollTop: pos.top - 250 }, 1000);
</script>

{% endblock jsFicha %}
