{% extends "base_editar.html" %}

{% block titulo %}

    Tipo de contacto

{% endblock titulo %}

{% block titulo_form %}

Editar el tipo de contacto {{form.tipo_de_contacto.value|lower}}

{% endblock titulo_form %}

{% block nav_lista %}

    {% if tipodecontacto_previous %}

        <li class="previous">
            <a href="{% url 'uclientes:edit_tipo_de_contacto' tipodecontacto_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
        </li>

    {% else %}

        <li class="previousBloqueado"><a href="#">&larr; Anterior</a></li>

    {% endif %}

    {% if tipodecontacto_next %}

        <li class="next">
            <a href="{% url 'uclientes:edit_tipo_de_contacto' tipodecontacto_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
        </li>

    {% else %}

      <li class="nextBloqueado"><a href="#">Siguiente &rarr;</a></li>

  {% endif %}

{% endblock nav_lista %}

{% block formulario %}

{{ form.as_p }}

<script type="text/javascript">
document.getElementById('id_tipo_de_contacto').focus()
</script>

{% endblock formulario %}
