{% extends "base_ficha.html" %}

{% block titulo_ficha %}

Ficha del tipo de información de contacto: <small>{{form.tipo_de_informacion_de_contacto.value|lower}}</small>

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if tipodeinformaciondecontacto_previous %}

        <li class="anterior">
            <md-button href="{% url 'uclientes:edit_tipo_de_informacion_de_contacto' tipodeinformaciondecontacto_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if tipodeinformaciondecontacto_next %}

        <li class="siguiente">
            <md-button href="{% url 'uclientes:edit_tipo_de_informacion_de_contacto' tipodeinformaciondecontacto_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

    {{form.tipo_de_informacion_de_contacto}}

</h3>
</md-input-container>
<md-input-container>
<label for="{{form.descripcion.id_for_label}}">

    {{form.descripcion.label}}

</label>

{{form.descripcion}}

</md-input-container>

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.tipo_de_informacion_de_contacto = '{{form.tipo_de_informacion_de_contacto.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.tipo_de_informacion_de_contacto = '{{form.tipo_de_informacion_de_contacto.value}}';
        $scope.descripcion = '{{form.descripcion.value}}';
    }
    $scope.onChange = function() {
        controlSubmit(event);
    };
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.tipo_de_informacion_de_contacto.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.descripcion.value|truncatechars:"40"}}');
});
</script>

{% endblock moduloAngularFicha %}
