{% extends "base_editar.html" %}

{% block titulo %}

Menú

{% endblock titulo %}

{% block titulo_form %}

Agregar un menú favorito

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
      $('#id_usuario').focus();
      $('#id_usuario').parent().addClass('md-input-focused');
  });
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
