{% extends "base_ficha.html" %}

{% block titulo_ficha %}

'Ficha del menú: {{form.menu.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if menu_previous %}

        <li class="anterior">
            <md-button href="{% url 'umenus:edit_menu' menu_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if menu_next %}

        <li class="siguiente">
            <md-button href="{% url 'umenus:edit_menu' menu_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

  {{form.menu}}

</h3>
</md-input-container>
<md-input-container>
<label for="{{form.transaccion.id_for_label}}">

  {{form.transaccion.label}}

</label>

{{form.transaccion}}

</md-input-container>
<md-input-container>
<label for="{{form.namespace.id_for_label}}">

  {{form.namespace.label}}

</label>

{{form.namespace}}

</md-input-container>
<md-input-container>
<label for="{{form.name.id_for_label}}">

  {{form.name.label}}

</label>

{{form.name}}

</md-input-container>
<md-input-container>
<label for="{{form.nivel.id_for_label}}">

  {{form.nivel.label}}

</label>

{{form.nivel}}

</md-input-container>
<md-input-container>
<span class="labelSwitch" for="{{form.padre.id_for_label}}">

  {{form.padre.label}}

</span>

{{form.padre}}

</md-input-container>
<md-input-container>
<span class="labelSwitch" for="{{form.menu_padre.id_for_label}}">

  {{form.menu_padre.label}}

</span>

{{form.menu_padre}}

</md-input-container>

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.menu = '{{form.menu.value}}';
    $scope.transaccion = '{{form.transaccion.value}}';
    $scope.namespace = '{{form.namespace.value}}';
    $scope.name = '{{form.name.value}}';
    $scope.nivel = '{{form.nivel.value}}';
    $scope.padre = {{form.padre.value|lower}};
    $scope.CancelarCambios = function() {
    removeHandler();
    $scope.menu = '{{form.menu.value}}';
    $scope.transaccion = '{{form.transaccion.value}}';
    $scope.namespace = '{{form.namespace.value}}';
    $scope.name = '{{form.name.value}}';
    $scope.nivel = '{{form.nivel.value}}';
    $scope.padre = {{form.padre.value|lower}};
  }
  $scope.onChange = function() {
    controlSubmit(event);
  }
  function enterNone(elemento) {
    $(elemento).keypress(function(e){
      if(e.which == 13){
        return false;
      }
    });
  }
  $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
  $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
  var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
  tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.menu.value}}');
  tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.transaccion.value}}');
  tr.children('td[id=td3_{{form.instance.pk}}]').text('{{form.namespace.value}}');
  tr.children('td[id=td4_{{form.instance.pk}}]').text('{{form.name.value}}');
  tr.children('td[id=td5_{{form.instance.pk}}]').text('{{form.nivel.value}}');
  tr.children('td[id=td6_{{form.instance.pk}}]').text('{{form.padre.value|yesno:"Es padre,No es padre"}}');
  tr.children('td[id=td7_{{form.instance.pk}}]').text('{{menu.menu_padre}}');
  setTimeout(function() {
    $("input[name='padre']").bootstrapSwitch();
    $('#id_menu_padre').zelect();
    enterNone('form');
    $('#id_menu_padre').on('change', function(event) { controlSubmit(event); })

  }, 100);
});
</script>

{% endblock moduloAngularFicha %}
