{% extends 'base_widget.html' %}
{% load menu_extras %}
{% load widgets_extras %}

{% block idContenedor %}Menú{% endblock idContenedor %}

{% block clasesContenedor %}
{% configurar_WidgetColumna 'Menú' %} {% configurar_WidgetColor 'Menú' %}
{% endblock clasesContenedor %}

{% block btnCerrar %}controlWidgetCerrar('Menú', 'Menú');{% endblock btnCerrar %}

{% block btnMinimizar %}minimizarColumna('Menú', 'Menú');{% endblock btnMinimizar %}

{% block idbtnEN1 %}Menú-btnEN1{% endblock idbtnEN1 %}

{% block idbtnEN2 %}Menú-btnEN2{% endblock idbtnEN2 %}

{% block btnExpandir1 %}actualizarColumna1('Menú-btnEN1', 'Menú-btnEN2', 'Menú', 'Menú');{% endblock btnExpandir1 %}

{% block btnExpandir2 %}actualizarColumna2('Menú-btnEN1', 'Menú-btnEN2', 'Menú', 'Menú');{% endblock btnExpandir2 %}

{% block titulo_widget %}
Menú
{% endblock titulo_widget %}

{% block botones_widget %}{% endblock botones_widget %}

{% block contenido_widget %}

            <div class="cuerpo-panel">

                    <div>
                        <ul class="claseFavorito">
                            <p class="nivel1">
                                <span class="iconoCarpetaCerrada"></span> Favoritos
                            </p>

                        {% for o in grupos %}


                            <li class="nivel33" ><p class="nivel2"><span class="iconoCarpetaCerrada"></span> {{o.grupo}}</p>
                                <ul class="nivel3">
                                {% for a in favoritos %}

                                    {% if o.grupo = a.grupo %}

                                        {% if a.id = idActualFav %}

                                            <li><span class=""></span> {{ a.menu }}
                                            </li>

                                        {% else %}

                                            <li>
                                                <a title='{{a.menu.transaccion}}' data-toggletooltip="tooltip" data-placement="left" href="{% url_Menu a.menu.namespace a.menu.name %}?next={{ request.get_full_path }}">{{ a.menu.menu }}</a>
                                            </li>

                                        {% endif %}

                                    {% endif %}

                                {% endfor %}
                                </ul>
                            </li>


                        {% endfor %}
                    </ul>
                    </div>
                {% for i in nivel1 %}

                <ul class="claseMenu">
                    <li><p class="nivel1"><span class="iconoCarpetaCerrada"></span> {{ i.menu }}</p>
                    <ul class="nivel33">
                        {% for j in nivel2 %}

                        {% if j.menu_padre.id = i.id %}


                            <li><p class="nivel2"><span class="iconoCarpetaCerrada"> {{ j.menu }}</span></p>
                        <ul class="nivel3">
                                {% for k in nivel3 %}

                                {% if k.menu_padre.id = j.id %}
                                {% if k.id = idActual %}

                                    <li><a>{{ k.menu }}</a>

                                    </li>

                                {% else %}


                                    <li><a title= {{k.transaccion}} data-toggletooltip="tooltip" data-placement="left" href="{% url_Menu k.namespace k.name %}?next={{ request.get_full_path }}">{{ k.menu }}</a>

                                    </li>


                                {% endif %}
                                {% endif %}
                                {% endfor %}
                        </ul>
                            </li>


                        {% endif %}
                        {% endfor %}
                    </ul>
                    </li>
                </ul>

                {% endfor %}
    </div>

{% endblock contenido_widget %}
