{% extends "base_editar.html" %}

{% block titulo %}

Menú

{% endblock titulo %}

{% block titulo_form %}

Editar el relación: {{form.item_origen.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if menu_previous %}

        <li class="anterior">
            <md-button href="{% url 'umenus:edit_menu' menu_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if menu_next %}

        <li class="siguiente">
            <md-button href="{% url 'umenus:edit_menu' menu_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.item_origen = '{{form.item_origen.value}}';
    $scope.item_relacion = '{{form.item_relacion.value}}';
    $scope.nombre = '{{form.nombre.value}}';
    //$('#id_mueble').focus();
    //$('#id_mueble').parent().addClass('md-input-focused');
});
</script>

{% endblock moduloAngular %}
