{% load menu_extras %}
{% load widgets_extras %}
{% include "jquery.html" %}

<div id='panelrelacion' class="{% configurar_Widget 'Tablas Relacionadas' %}">
    <div class="{% configurar_WidgetColor 'Tablas Relacionadas' %}">
        <h12 class="titulo-panel">Tablas Relacionadas</h12>
        <button id="cerrarRelacion" title="Cerrar" class="glyphicon glyphicon-remove-circle" onclick="controlWidgetCerrar('panelrelacion', 'Tablas Relacionadas');"></button>
    </div>
        <div class="panel-body">

            <div class="">

             {% for k in relacion %}

                    <ul>
                        <li><a href="{% url_Menu k.item_relacion.namespace k.item_relacion.name %}">{{ k.nombre }}</a>
                        </li>
                    </ul>

            {% endfor %}

            </div>

        </div>
</div>
