{% extends 'base_widget.html' %}
{% load menu_extras %}
{% load widgets_extras %}

{% block idContenedor %}Tablas-Relacionadas{% endblock idContenedor %}

{% block clasesContenedor %}
{% configurar_WidgetColumna 'Tablas Relacionadas' %} {% configurar_WidgetColor 'Tablas Relacionadas' %}
{% endblock clasesContenedor %}

{% block btnCerrar %}controlWidgetCerrar('Tablas-Relacionadas', 'Tablas Relacionadas');{% endblock btnCerrar %}

{% block btnMinimizar %}minimizarColumna('Tablas-Relacionadas', 'Tablas Relacionadas');{% endblock btnMinimizar %}

{% block idbtnEN1 %}TablasRelacionadas-btnEN1{% endblock idbtnEN1 %}

{% block idbtnEN2 %}TablasRelacionadas-btnEN2{% endblock idbtnEN2 %}

{% block btnExpandir1 %}actualizarColumna1('TablasRelacionadas-btnEN1', 'TablasRelacionadas-btnEN2', 'Tablas-Relacionadas', 'Tablas Relacionadas');{% endblock btnExpandir1 %}

{% block btnExpandir2 %}actualizarColumna2('TablasRelacionadas-btnEN1', 'TablasRelacionadas-btnEN2', 'Tablas-Relacionadas', 'Tablas Relacionadas');{% endblock btnExpandir2 %}

{% block titulo_widget %}
Tablas Relacionadas
{% endblock titulo_widget %}

{% block botones_widget %}{% endblock botones_widget %}

{% block contenido_widget %}

    <div class="cuerpo-panel">

        {% for k in relacion %}

            <ul>
                <li><a href="{% url_Menu k.item_relacion.namespace k.item_relacion.name %}">{{ k.nombre }}</a>
                </li>
            </ul>

        {% endfor %}

    </div>

{% endblock contenido_widget %}


