{% extends "base_editar.html" %}

{% block titulo %}

Gestión de documento

{% endblock titulo %}

{% block titulo_form %}

Editar el Estado de documento: {{form.estado_de_documento.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if estadodedocumento_previous %}

        <li class="anterior">
            <md-button href="{% url 'ugestiondedocumentos:edit_estadodedocumento' estadodedocumento_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

       <li class="anteriorBloqueado">
        <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if estadodedocumento_next %}

        <li class="siguiente">
            <md-button href="{% url 'ugestiondedocumentos:edit_estadodedocumento' estadodedocumento_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

   {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.tipo_de_documento = '{{form.tipo_de_documento.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.estado_de_documento = '{{form.estado_de_documento.value}}';
    $scope.orden = '{{form.orden.value}}';
    $scope.observacion = '{{form.observacion.value}}';
    $('#id_tipo_de_documento').focus();
});
</script>

{% endblock moduloAngular %}
