{% extends "base_editar.html" %}

{% block titulo %}

    Estado de documento

{% endblock titulo %}

{% block titulo_form %}

Editar el Estado de documento {{form.estado_de_documento.value|lower}}

{% endblock titulo_form %}

{% block nav_lista %}

    {% if estadodedocumento_previous %}

        <li class="previous">
            <a href="{% url 'ugestiondedocumentos:edit_estadodedocumento' estadodedocumento_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
        </li>

    {% else %}

       <li class="previousBloqueado"><a href="#">&larr; Anterior</a></li>

    {% endif %}

    {% if estadodedocumento_next %}

        <li class="next">
            <a href="{% url 'ugestiondedocumentos:edit_estadodedocumento' estadodedocumento_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
        </li>

    {% else %}

        <li class="nextBloqueado"><a href="#">Siguiente &rarr;</a></li>

   {% endif %}

{% endblock nav_lista %}

{% block formulario %}

{{ form.as_p }}

<script type="text/javascript">
document.getElementById('id_tipo_de_documento').focus()
</script>

{% endblock formulario %}
