{% extends "base_editar.html" %}

{% block titulo %}

Estado de registro

{% endblock titulo %}

{% block titulo_form %}

Editar el Estado de registro: {{form.estado.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

    {% if estadoderegistro_previous %}

        <li class="anterior">
            <md-button href="{% url 'uestadoderegistros:edit_estadoderegistro' estadoderegistro_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if estadoderegistro_next %}

        <li class="siguiente">
            <md-button href="{% url 'uestadoderegistros:edit_estadoderegistro' estadoderegistro_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.estado = '{{form.estado.value}}';
    $scope.model = '{{form.model.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.observacion = '{{form.observacion.value}}';
    $('#id_estado').focus();
    $('#id_estado').parent().addClass('md-input-focused');
});
</script>

{% endblock moduloAngular %}
