{% extends "base_ficha.html" %}

{% block titulo_ficha %}

'Ficha del estado de registro: {{form.estado.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if estadoderegistro_previous %}

        <li class="anterior">
            <md-button href="{% url 'uestadoderegistros:edit_estadoderegistro' estadoderegistro_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if estadoderegistro_next %}

        <li class="siguiente">
            <md-button href="{% url 'uestadoderegistros:edit_estadoderegistro' estadoderegistro_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

{{ form.as_md }}

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.estado = '{{form.estado.value}}';
    $scope.model = '{{form.model.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.observacion = '{{form.observacion.value}}';
    $('#id_estado').focus();
    $('#id_estado').parent().addClass('md-input-focused');
});
</script>

{% endblock moduloAngularFicha %}
