{% extends "base_editar.html"%}

{% block titulo_form %}

Editar el Tipo de registro {{form.tipo_de_registro.value|lower}}

{% endblock titulo_form %}

{% block nav_lista %}

    {% if tipoderegistro_previous %}

        <li class="previous">
            <a href="{% url 'uestadoderegistros:edit_tipoderegistro' tipoderegistro_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
        </li>

    {% else %}

        <li class="previous disabled"><a href="#">&larr; Anterior</a></li>

    {% endif %}

    {% if tipoderegistro_next %}

        <li class="next">
            <a href="{% url 'uestadoderegistros:edit_tipoderegistro' tipoderegistro_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
        </li>

    {% else %}

        <li class="next disabled"><a href="#">Siguiente &rarr;</a></li>

   {% endif %}

{% endblock nav_lista %}

{% block formulario %}

{{ form.as_p }}

<script type="text/javascript">
document.getElementById('id_tipo_de_registro').focus()
</script>

{% endblock formulario %}
