{% extends "base_ficha.html" %}

{% block titulo_ficha %}

'Ficha de concepto de cotización: {{form.concepto.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

{% if conceptodecotizacion_previous %}

<li class="anterior">
    <md-button href="{% url 'ucotizacionesweb:edit_conceptodecotizacion' conceptodecotizacion_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">&larr; anterior</md-button>
</li>

{% endif %}

{% if conceptodecotizacion_next %}

<li class="siguiente">
    <md-button href="{% url 'ucotizacionesweb:edit_conceptodecotizacion' conceptodecotizacion_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

    {{form.concepto}}

</h3>
</md-input-container>
<md-input-container>
<label for="{{form.descripcion.id_for_label}}">

    {{form.descripcion.label}}

</label>

{{form.descripcion}}

</md-input-container>
<md-input-container ng-cloak>
<span class="labelSwitch">

{{form.positivo.label}}

</span >

{{form.positivo}}

</md-input-container>
{% endblock ficha_basica %}

{% block js_inferior %}

<script type="text/javascript">
$('form').removeClass('hidden');
app.controller('controlForm',function($scope){
    $scope.concepto = '{{form.concepto.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.positivo = {{form.positivo.value|lower}};
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.concepto = '{{form.concepto.value}}';
        $scope.descripcion = '{{form.descripcion.value}}';
        $scope.positivo = {{form.positivo.value|lower}};
    };
    $scope.onChange = function() {
        controlSubmit(event);
    };

    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.concepto.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.descripcion.value|truncatechars:"40"}}');
});
</script>

{% endblock js_inferior %}
