{% extends "base.html" %}
{% block contenido %}
<div role="tabpanel">

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="datos">
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <table class="table table-hover">
              <tr>
                <td colspan="2">
                  {{muebles.0.volumen}}
                  {{mudanza}}
                  <strong> Nro de cotización: </strong><br>
                  <p>Estado actual de la cotización: {{estadoactual.0.estado_de_documento.estado_de_documento}}</p>
                </td>
              </tr>
              {% if mudanza and visita %}

              <tr>
                <td colspan="2">
                  <strong> Cotizador: </strong>
                  {{ cotizacion.cotizador.id_trabajador.nombre }}
                  {{ cotizacion.cotizador.id_trabajador.apellido }}
                  <p>
                    <span>
                      <strong>Fecha de la visita: </strong>

                      {{ visita.0.fecha }}

                    </span>
                  </p>
                  <p>
                    <span>
                      <strong>Fecha de la mudanza: </strong>

                      {{ mudanza.0.fecha }}

                    </span>
                  </p>
                </td>
              </tr>

              {% endif %}

              <tr>
                <td class="">
                  Datos del cliente <br>
                  <strong> Nombre: </strong>
                  {{ cotizacion.cliente.nombre }}
                  <p>
                    <span>
                      <strong>CUIT: </strong>

                      {{ cotizacion.cliente.cuit }}

                    </span>
                  </p>
                  {% if cotizacion.cliente.tipo_de_cliente.tipo_de_cliente == 'Particular' %}
                  <p>
                    <span>
                      <strong>DNI: </strong>

                      {{ contacto_cliente.0.contacto.dni }}

                    </span>

                  </p>
                  <p>
                    <span>
                      <strong>Sexo: </strong>

                      {{ contacto_cliente.0.contacto.sexo }}

                    </span>

                  </p>
                  <p>
                    <span>
                      <strong>Estado civil: </strong>

                      {{ contacto_cliente.0.contacto.estado_civil }}

                    </span>

                  </p>
                  {% for i in contacto_cliente %}

                  <p>
                    <span>
                      <strong>{{i.tipo_de_informacion_de_contacto}}: </strong>

                      {{i.informacion_de_contacto}}

                    </span>
                  </p>
                  {% endfor %}
                  {% endif %}
                  <p>
                    <span>
                      <strong> Observaciones: </strong>

                      {{ cliente.observaciones }}

                    </span>

                  </p>
                  <p>
                    <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'upromociones:add_fuentedepromocion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}" title="Agregar fuente de promoción">Agregar fuente de promoción
                  </a>
                  </p>
                </td>

                <td>
                  <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_cliente' cotizacion.cliente.pk %}?cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                </td>

              </tr>

            {% if not contactos %}
              <tr>
                <td colspan="2">
                  <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_contacto' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}" title="Agregar persona de contacto">Agregar persona de contacto
                  </a>
                </td>
              </tr>

              {% else %}

              <tr>
                <td class="">
                  <strong>Persona de contacto: </strong>
                  {% regroup contactos by contacto as contacto_list %}
                  <ul>
                    {% for contacto in contacto_list %}
                    <li>{{ contacto.grouper }}
                      <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_contacto' contacto.grouper.id %}?next={{request.get_full_path}}" class="iconoEditar"></a>
                      <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:eliminar_contacto' contacto.grouper.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                      <ul>
                        {% for item in contacto.list %}
                        <li>{{ item.tipo_de_informacion_de_contacto }}: {{ item.informacion_de_contacto }}</li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                  </ul>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_contacto' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}" class="iconoPlus"></a>
                </td>
              </tr>
              {% endif %}
              {% if not direccion_origen %}
              <tr>
                <td colspan="2">
                  <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" title="Agregar dirección">Agregar dirección de origen
                  </a>
                </td>
              </tr>

              {% else %}
              <tr>
                <td class="">
                  <strong>Direcciones de origen: </strong>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" class="iconoPlus"></a>
                </td>
              </tr>
              {% for direccion in direccion_origen %}
              <tr>
                <td>
                  {{direccion.direccion}}

                {% if direccion.nombre_de_edificio %}
                  - {{direccion.nombre_de_edificio}}
                {% endif %}
                {% if direccion.numero_de_inmueble %}
                  n° {{direccion.numero_de_inmueble}}
                {% endif %}
                </td>
                <td>
                  {% if direccion.clientedireccion.inmueble %}

                  <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_inmueble' direccion.clientedireccion.inmueble.id %}?clientedireccion={{direccion.clientedireccion.id}}&cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:eliminar_direccion' direccion.clientedireccion.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                  {% else %}

                  <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_inmueble' %}?clientedireccion={{direccion.clientedireccion.id}}&cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:eliminar_direccion' direccion.clientedireccion.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {% if not ambientes %}
                  <table>
                    <tr>
                      <td colspan="2">
                        <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" title="Agregar dirección">Agregar ambiente
                        </a>
                      </td>
                    </tr>
                  </table>
                  {% else %}
                  <table>
                    <tr>
                      <td class="">
                        <strong>Ambientes: </strong>
                      </td>
                      <td>
                        <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" class="iconoPlus"></a>
                      </td>
                    </tr>
                    {% for ambiente in ambientes %}
                    {% if ambiente.direccion_origen.id = direccion.id %}
                    <tr>
                      <td>
                        <strong>{{ambiente.nombre}}</strong>
                        {% if not muebles %}
                        <table>
                          <tr>
                            <td colspan="2">
                              <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" title="Agregar dirección">Agregar mueble
                              </a>
                            </td>
                          </tr>
                        </table>
                        {% else %}
                        <table>
                          <tr>
                            <td class="">
                              <strong>Muebles: </strong>
                            </td>
                            <td>
                              <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" class="iconoPlus"></a>
                            </td>
                          </tr>
                          {% for mueble in muebles %}
                          {% if mueble.cotizacion_ambiente.id = ambiente.id %}
                          <tr>
                            <td>
                              {{mueble.nombre_especificacion_de_mueble}}
                            </td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                          {% endif %}
                        </table>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                  </table>
                </td>
              </tr>
              {% endfor %}
              {% endif %}

              {% if not direccion_destino %}
              <tr>
                <td colspan="2">
                  <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Destino" title="Agregar dirección">Agregar dirección de Destino
                  </a>
                </td>
              </tr>

              {% else %}
              <tr>
                <td class="">
                  <strong>Direcciones de destino: </strong>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Destino" class="iconoPlus"></a>
                </td>
              </tr>
              {% for direccion in direccion_destino %}
              <tr>
                <td>
                  {{direccion.direccion}}

                {% if direccion.nombre_de_edificio %}
                  - {{direccion.nombre_de_edificio}}
                {% endif %}
                {% if direccion.numero_de_inmueble %}
                  n° {{direccion.numero_de_inmueble}}
                {% endif %}
                </td>
                <td>
                  {% if direccion.clientedireccion.inmueble %}

                  <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_inmueble' direccion.clientedireccion.inmueble.id %}?clientedireccion={{direccion.clientedireccion.id}}&cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:eliminar_direccion' direccion.clientedireccion.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                  {% else %}

                  <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_inmueble' %}?clientedireccion={{direccion.clientedireccion.id}}&cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:eliminar_direccion' direccion.clientedireccion.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% endif %}

              {% if not mudanza and not visita %}
              <tr>
                <td colspan="2">

                  <form action="" method="post" id="myformEdit">

                    {% csrf_token %}

                    <div class="grupoInput">
                      {{ form.as_p }}
                    </div>
                    <div class="botonRegistrar">
                      <md-button tabindex="-1" class="md-fab" type="submit" name="regEdit">
                        <md-icon class="glyphicon glyphicon-ok"></md-icon>
                        <md-tooltip md-direction="buttom">Guardar</md-tooltip>
                      </md-button>
                    </div>
                  </form>
                </td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  {% if not bitacora %}
              <tr>
                <td colspan="2">
                  <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:add_bitacoradecotizacion' %}?cotizacion={{cotizacion.pk}}&origen=M" title="Agregar dirección">Agregar bitácora
                  </a>
                </td>
              </tr>
              {% else %}
              <tr>
                <td class="">
                  <strong>Bitácora: </strong>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:add_bitacoradecotizacion' %}?cotizacion={{cotizacion.pk}}&origen=M" class="iconoPlus"></a>
                </td>
              </tr>
              {% for i in bitacora %}
              <tr>
                <td colspan="2">
                  <strong>
                    {{i.origen_de_registro}}
                  </strong>
                  {{i.fecha_registro}}
                  {{i.hora_registro}}
                  <p>
                    <span>
                      {{i.observacion}}
                    </span>
                  </p>
                </td>

              </tr>
              {% endfor %}
              {% endif %}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
