{% extends "base.html" %}

{% block contenido %}

<br>
<div id="datosBasicos" class="panel panel-default">
  <div class="panel-body">
    <div class="controlFicha">
      <a title="Editar" data-toggletooltip="tooltip" data-placement="left"  class="iconoEditar"></a>
      <span class="iconoGrupoControl"></span>
    </div>
    <div class="contenedor">
      <div class="contenedorFila">
        <h3>{{ cotizacion.cliente.nombre }}</h3>
        <div class="col-md-12 col-lg-3">

          {% if cotizacion.cliente.cuit %}

          <p>
            <span>
              <strong>CUIT: </strong>

              {{ cotizacion.cliente.cuit }}

            </span>
          </p>

          {% endif %}

          {% if cotizacion.cliente.tipo_de_cliente.tipo_de_cliente == 'Particular' %}

          {% if contacto_cliente.0.contacto.dni %}

          <p>
            <span>
              <strong>DNI: </strong>

              {{ contacto_cliente.0.contacto.dni }}

            </span>

          </p>

          {% endif %}

        </div>
        <div class="col-md-12 col-lg-3">

          <p>
            <span>
              <strong>Sexo: </strong>

              {{ contacto_cliente.0.contacto.sexo }}

            </span>

          </p>
          <p>
            <span>
              <strong>Estado civil: </strong>

              {{ contacto_cliente.0.contacto.estado_civil }}

            </span>

          </p>
        </div>
        <div class="col-md-12 col-lg-3">

          {% for i in contacto_cliente %}

          <p>
            <span>
              <strong>{{i.tipo_de_informacion_de_contacto}}: </strong>

              {{i.informacion_de_contacto}}

            </span>
          </p>

          {% endfor %}

          {% endif %}

        </div>
        <div class="col-md-12 col-lg-3">
          <p>
            <strong> Nro de cotización: </strong> C0001
          </p>

          <p><strong>Estado:</strong> {{estadoactual.0.estado_de_documento.estado_de_documento}}</p>

        </div>
      </div> <p>
      <span>
        <strong> Observaciones: </strong>

        {{ cliente.observaciones }}

      </span>

    </p>
  </div>
</div>
</div>




<div role="tabpanel">

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="datos">
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <table class="table table-hover">
              <tr>
                <td>
                  <strong> Nro de cotización: </strong><br>
                  <p>Estado actual de la cotización: {{estadoactual.0.estado_de_documento.estado_de_documento}}</p>
                </td>
                <td>
                  <strong> Cotizador: </strong>
                  {{ cotizacion.cotizador.id_trabajador.nombre }}
                  {{ cotizacion.cotizador.id_trabajador.apellido }} <br>
                  {% if estadoactual.0.estado_de_documento.orden == 3 %}

                  <button type="button">
                    <a href="{% url 'ucotizacionesweb:cambiar_estadodedocumento' cotizacion.id %}?estado_orden=4">Iniciar cotización</a>
                  </button>

                  {% endif %}

                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <strong>Fechas de la cotización</strong><br>
                  {% if fechasdecotizacion %}
                  {% for i in fechasdecotizacion %}
                    <p>
                    <span>
                      <strong>{{ i.nombre_tipo_fecha }}: </strong>
                      {{ i.fecha }}
                    </span>
                    </p>
                  {% endfor %}

                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="">
                  Datos del cliente <br>
                  <strong> Nombre: </strong>
                  {{ cotizacion.cliente.nombre }}
                  <p>
                    <span>
                      <strong>CUIT: </strong>

                      {{ cotizacion.cliente.cuit }}

                    </span>
                  </p>
                  {% if cotizacion.cliente.tipo_de_cliente.tipo_de_cliente == 'Particular' %}
                  <p>
                    <span>
                      <strong>DNI: </strong>

                      {{ contacto_cliente.0.contacto.dni }}

                    </span>

                  </p>
                  <p>
                    <span>
                      <strong>Sexo: </strong>

                      {{ contacto_cliente.0.contacto.sexo }}

                    </span>

                  </p>
                  <p>
                    <span>
                      <strong>Estado civil: </strong>

                      {{ contacto_cliente.0.contacto.estado_civil }}

                    </span>

                  </p>
                  {% for i in contacto_cliente %}

                  <p>
                    <span>
                      <strong>{{i.tipo_de_informacion_de_contacto}}: </strong>

                      {{i.informacion_de_contacto}}

                    </span>
                  </p>
                  {% endfor %}
                  {% endif %}
                  <p>
                    <span>
                      <strong> Observaciones: </strong>

                      {{ cliente.observaciones }}

                    </span>

                  </p>
                  <p>
                    <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'upromociones:add_fuentedepromocion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}" title="Agregar fuente de promoción">Agregar fuente de promoción
                  </a>
                  </p>
                </td>

                <td>
                  <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_cliente' cotizacion.cliente.pk %}?cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  {% if estadoactual.0.estado_de_documento.orden == 4 %}
                  <button type="button" class="glyphicon glyphicon-ok">
                    <a href="{% url 'ucotizacionesweb:cambiar_estadodedocumento' cotizacion.id %}?estado_orden=5">Verificar datos del cliente</a>
                  </button>
                  {% endif %}
                </td>

              </tr>

            {% if not contactos %}
              <tr>
                <td colspan="2">
                  <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_contacto' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}" title="Agregar persona de contacto">Agregar persona de contacto
                  </a>
                </td>
              </tr>

              {% else %}

              <tr>
                <td class="">
                  <strong>Persona de contacto: </strong>
                  {% regroup contactos by contacto as contacto_list %}
                  <ul>
                    {% for contacto in contacto_list %}
                    <li>{{ contacto.grouper }}
                      <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_contacto' contacto.grouper.id %}?next={{request.get_full_path}}" class="iconoEditar"></a>
                      <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:eliminar_contacto' contacto.grouper.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                      <ul>
                        {% for item in contacto.list %}
                        <li>{{ item.tipo_de_informacion_de_contacto }}: {{ item.informacion_de_contacto }}</li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                  </ul>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_contacto' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}" class="iconoPlus"></a>
                </td>
              </tr>
              {% endif %}
              {% if not direccion_origen %}
              <tr>
                <td colspan="2">
                  <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" title="Agregar dirección">Agregar dirección de origen
                  </a>
                </td>
              </tr>

              {% else %}
              <tr>
                <td class="">
                  <strong>Direcciones de origen: </strong>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" class="iconoPlus"></a>
                  {% if estadoactual.0.estado_de_documento.orden == 5 %}
                    <button type="button" class="glyphicon glyphicon-ok">
                      <a href="{% url 'ucotizacionesweb:cambiar_estadodedocumento' cotizacion.id %}?estado_orden=6">Verificar datos de direcciones</a>
                    </button>
                  {% endif %}
                </td>
              </tr>
              {% for direccion in direccion_origen %}
              <tr>
                <td>
                  {{direccion.direccion}}

                {% if direccion.nombre_de_edificio %}
                  - {{direccion.nombre_de_edificio}}
                {% endif %}
                {% if direccion.numero_de_inmueble %}
                  n° {{direccion.numero_de_inmueble}}
                {% endif %}
                </td>
                <td>
                  {% if direccion.clientedireccion.inmueble %}

                  <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_inmueble' direccion.clientedireccion.inmueble.id %}?clientedireccion={{direccion.clientedireccion.id}}&cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:eliminar_cotizaciondireccion' direccion.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                  {% else %}

                  <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_inmueble' %}?clientedireccion={{direccion.clientedireccion.id}}&cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:eliminar_cotizaciondireccion' direccion.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                  {% endif %}
                </td>
              </tr>
              {% if estadoactual.0.estado_de_documento.orden == 6 %}
              <tr>
                <td colspan="2">
                  {% if not ambientes %}
                  <table>
                    <tr>
                      <td colspan="2">
                        <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Origen" title="Agregar dirección">Agregar ambiente
                        </a>
                      </td>
                    </tr>
                  </table>
                  {% else %}
                  <table>
                    <tr>
                      <td class="">
                        <strong>Ambientes: </strong>
                      </td>

                      <td>
                        <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:add_cotizacionambiente' %}?direccion={{direccion.id}}" class="iconoPlus"></a>
                      </td>
                    </tr>
                    {% for ambiente in ambientes %}
                    {% if ambiente.direccion_origen.id = direccion.id %}
                    <tr>
                      <td>
                        <strong>{{ambiente}}</strong>
                        <a title="Ficha" data-toggletooltip="tooltip" data-placement="left" href="{% url 'ucotizacionesweb:ficha_cotizacionambiente' ambiente.pk %}?next={{request.get_full_path}}" class="iconoVerFicha"></a>
                        <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:eliminar_cotizacionambiente' ambiente.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                  </table>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
              <tr>
                <td>
                  {% if estadoactual.0.estado_de_documento.orden == 6 %}
                  {% if ambientes %}

                  <button type="button" class="glyphicon glyphicon-ok">
                  <a href="{% url 'ucotizacionesweb:cambiar_estadodedocumento' cotizacion.id %}?estado_orden=7">Finalizar carga de muebles</a>
                  </button>

                  {% endif %}
                  {% endif %}

                </td>
              </tr>
              {% endif %}

              {% if not direccion_destino %}
              <tr>
                <td colspan="2">
                  <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Destino" title="Agregar dirección">Agregar dirección de Destino
                  </a>
                </td>
              </tr>

              {% else %}
              <tr>
                <td class="">
                  <strong>Direcciones de destino: </strong>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_direccion' %}?cliente={{cotizacion.cliente.pk}}&cotizacion={{cotizacion.pk}}&tipo=Destino" class="iconoPlus"></a>
                </td>
              </tr>
              {% for direccion in direccion_destino %}
              <tr>
                <td>
                  {{direccion.direccion}}

                {% if direccion.nombre_de_edificio %}
                  - {{direccion.nombre_de_edificio}}
                {% endif %}
                {% if direccion.numero_de_inmueble %}
                  n° {{direccion.numero_de_inmueble}}
                {% endif %}
                </td>
                <td>
                  {% if direccion.clientedireccion.inmueble %}

                  <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uclientes:edit_inmueble' direccion.clientedireccion.inmueble.id %}?clientedireccion={{direccion.clientedireccion.id}}&cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:eliminar_cotizaciondireccion' direccion.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                  {% else %}

                  <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uclientes:add_inmueble' %}?clientedireccion={{direccion.clientedireccion.id}}&cotizacion={{cotizacion.pk}}" class="iconoEditar"></a>
                  <a title="Eliminar" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:eliminar_cotizaciondireccion' direccion.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% endif %}

              {% if not mudanza and not visita %}
              <tr>
                <td colspan="2">

                  <form action="" method="post" id="myformEdit">

                    {% csrf_token %}

                    <div class="grupoInput">
                      {{ form.as_p }}
                    </div>
                    <div class="botonRegistrar">
                      <md-button tabindex="-1" class="md-fab" type="submit" name="regEdit">
                        <md-icon class="glyphicon glyphicon-ok"></md-icon>
                        <md-tooltip md-direction="buttom">Guardar</md-tooltip>
                      </md-button>
                    </div>
                  </form>
                </td>
              </tr>
              {% endif %}

              {% if not bitacora %}
              <tr>
                <td colspan="2">
                  <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:add_bitacoradecotizacion' %}?cotizacion={{cotizacion.pk}}&origen=M" title="Agregar dirección">Agregar bitácora
                  </a>
                </td>
              </tr>
              {% else %}
              <tr>
                <td class="">
                  <strong>Bitácora: </strong>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="{% url 'ucotizacionesweb:add_bitacoradecotizacion' %}?cotizacion={{cotizacion.pk}}&origen=M" class="iconoPlus"></a>
                </td>
              </tr>
              {% for i in bitacora %}
              <tr>
                <td colspan="2">
                  <strong>
                    {{i.origen_de_registro}}
                  </strong>
                  {{i.fecha_registro}}
                  {{i.hora_registro}}
                  <p>
                    <span>
                      {{i.observacion}}
                    </span>
                  </p>
                </td>

              </tr>
              {% endfor %}
              {% endif %}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
