{% extends "base_ficha.html" %}

{% block titulo_ficha %}

'Ficha de fecha de cotización: {{form.nombre_fecha.value|lower}}'

{% endblock titulo_ficha %}

{% block paginacionFicha %}

{% if fechadecotizacion_previous %}

<li class="anterior">
    <md-button href="{% url 'ucotizacionesweb:edit_fechadecotizacion' fechadecotizacion_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">&larr; anterior</md-button>
</li>

{% endif %}

{% if fechadecotizacion_next %}

<li class="siguiente">
    <md-button href="{% url 'ucotizacionesweb:edit_fechadecotizacion' fechadecotizacion_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

    {{form.nombre_fecha}}

</h3>
</md-input-container>
<md-input-container>
<label for="{{form.descripcion.id_for_label}}">

    {{form.descripcion.label}}

</label>

{{form.descripcion}}

</md-input-container>

{% endblock ficha_basica %}

{% block js_inferior %}

<script type="text/javascript">
$('form').removeClass('hidden');
 $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.nombre_fecha.value}}');
</script>

{% endblock js_inferior %}
