{% load staticfiles %}
{% load menu_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>

        {% block titulo %}{% endblock titulo %}

    </title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    {% include "jquery.html" %}

    {% block js_superior %}{% endblock js_superior %}

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a href="#menu-toggle" class="menu-toggle" title="Cerrar"></a>
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>

                {% block link_navegacion %}

                {% endblock link_navegacion %}


            {% block widget_menu_general %}
            <input type="text" value="" id="transaccion" onkeypress="controlarEnter(event)"/>

            <input type="button" value="Ir" onclick="transaccion()">
            {% include "Menu_general.html" %}
            {% endblock widget_menu_general %}

            {% block widget_sidebar %}
            {% block titulo2 %}
            Tablas Relacionadas
            {% endblock titulo2 %}
            {% include "tablas_relacionadas.html" %}
            {% endblock widget_sidebar %}

            </ul>

        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <nav class="navbarapp">
            <div class="container-fluid">
                <a tilte="Mudarte" class="navbar-brand">Mudarte <span class="glyphicon glyphicon-road"></span></a>
                <a class="navbar-brand" href="#">
                    <!--<img alt="" src="...">-->
                </a>
                <span class="divide"></span>

                {% block acceso_rapido %}{% endblock acceso_rapido %}

                <a href="#menu-toggle" class="menu-toggle menuSidebar" id="menuSidebar"></a>
            </div>
        </nav>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">

                    {% block contenido %}{% endblock contenido %}

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    {% include "script.html" %}

    {% block js_inferior %}{% endblock js_inferior %}

</body>
</html>
