{% extends "base.html" %}

{% block acceso_rapido %}

<a title="Volver" class="navbar-brand" href="#">
<span class="volver"></span>
</a>
<a title="Nuevo" class="navbar-brand" href="nuevo/?next={{request.get_full_path}}">
    <span class="plus"></span>
</a>
<a title="Imprimir" class="navbar-brand" onclick="window.print();">
    <span class="imprimir"></span>
</a>
<a title="Volver" class="navbar-brand" onclick="window.print();">
    <span class="volver-right"></span>
</a>
<a title="Descarga" class="navbar-brand" onclick="window.print();">
    <span class="descargar"></span>
</a>

{% endblock acceso_rapido %}

{% block contenido %}

<div class="col-md-12">
    <br>
    <input class="buscarEnLista" type="text" id="search" name="search" placeholder="Buscar...">

    {% block titulo_lista %}{% endblock titulo_lista %}

    <nav class="paginacionLista">
        <ul>

            {% block paginacion %}{% endblock paginacion %}

        </ul>
    </nav>
    <table class="tablaLista" id="tabla">

        {% block lista %}{% endblock lista %}

    </table>
</div>
<script type="text/javascript">
document.getElementById('search').focus();
function ocultarASCDesc(id){
    if ('{{request.GET.order_by}}' == id){
        $('#'+id).css('display', 'none');
    }else{
        $('#-'+id).css('display', 'none');
    }
}
</script>

{% endblock contenido %}
