{% extends "base.html" %}

{% load menu_extras %}

{% block widget_menu_general %}
<div class="">


    {% for i in nivel1 %}
    <ul>
        <li><a>{{ i.menu }}</a>

            {% for j in nivel2 %}

            {% if j.menu_padre.id = i.id %}

            <ul>
                <li><a>{{ j.menu }}</a>

                    {% for k in nivel3 %}

                    {% if k.menu_padre.id = j.id %}

                    <ul>
                        <li><a href="{% url_Menu k.namespace k.name %}">{{ k.menu }}</a>

                        </li>
                    </ul>
                    {% endif %}
                    {% endfor %}

                </li>
            </ul>
            {% endif %}
            {% endfor %}

        </li>
    </ul>
    {% endfor %}
</div>

{% endblock widget_menu_general %}
