{% extends "base_editar.html" %}

{% block titulo %}

Variante visual

{% endblock titulo %}

{% block titulo_form %}

Editar la variante visual: {{form.usuario.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if variantevisual_previous %}

<li class="anterior">
    <md-button href="{% url 'upremisas:edit_variantevisual' variantevisual_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado"><md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button></li>

{% endif %}

{% if variantevisual_next %}

<li class="siguiente">
    <md-button href="{% url 'upremisas:edit_variantevisual' variantevisual_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button ng-href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

<div class="prueba">

    {{ form.as_md }}

    <fieldset>
        <legend>Variante Detalle</legend>
        {{ item_form.management_form }}
        {{ item_form.non_form_errors }}
        {% for form in item_form %}
        {{ form.id }}
        <div class="inline {{ item_form.prefix }}">
            {{ form.campo.errors }}
            {{ form.campo.label_tag }}
            {{ form.campo }}
            {{ form.visibilidad.errors }}
            {{ form.visibilidad.label_tag }}
            {{ form.visibilidad }}
        </div>
        {% endfor %}
    </fieldset>
</div>
<script type="text/javascript">
document.getElementById('id_usuario').focus()
</script>

{% endblock cuerpo_form %}

{% block contenido_relacionado %}{% endblock contenido_relacionado %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.usuario = '{{form.usuario.value}}';
    $scope.nombre = '{{form.nombre.value}}';
    $scope.model = '{{form.model.value}}';
    $('.delete-row').click(function(){
        id_remove = $(this).parent().children('input[type=hidden]').val();
        if (id_remove!=''){
            //falta terminar la funcion delete detalle de variante
            $http.get("//"+id_remove+"/")
            .success(function(result) {});
        }
    });
    $(function() {
        $('fieldset .inline input[type=hidden]').each(function(){
            if ($(this).val()==''){
                $(this).siblings('.delete-row').click();
            }
        });
    });
  });
</script>

{% endblock moduloAngular %}
