/*
 * componentes de crear nuevo y editar
 */
.botonRegistrar > button, .botonRegistrar > a {
    @extend .md-raised;
    margin-left: 0;
    background: #fff;
    margin-top: 20px;
}
.paginacionEdit {
    position: fixed;
    top: 0;
    background: #eee;
    width: 100%;
    padding: 0;
    margin-right: 5px;
    list-style: none;
    display: block;
    height: 45px;
    z-index: 2000;
    .anteriorBloqueado {
        float: left;
        height: 20px;
    }
    .siguienteBloqueado {
        float: right;
        height: 20px;
    }
    .anterior {
        float: left;
        height: 20px;
    }
    .siguiente {
        float: right;
        height: 20px;
    }
}
ul {
  list-style: none;
}
.grupoInput {
    background: #fff;
    padding: 1px 15px;
    padding-bottom: 50px;
    box-shadow: $sombra;
    md-input-container {
      color: $brand-primary;
    }
    label {
      font-size: 18px;
    }
    input[type=text],
    input[type=number],
    input[type=password],
    input[type=email],
    input[type=date],
    select, textarea {
      width: 100%;
    }
}
span.labelSwitch {
    color: rgba(0,0,0,0.54);
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}
.focusMD {
  span.labelSwitch, .labelSelect {
    color: #3f51b5!important;
  }
}
.grupoInputX2 {
  display: flex;
        md-input-container{
          flex:2;
          span.labelSwitch {
            color: rgba(0,0,0,0.54);
            font-size: 14px;
            font-weight: bold;
            position: relative;
            margin-bottom: 10px;
          }
        }
    }
.grupoInputX3 {
  display: flex;
  md-input-container {
    flex:3;
  }

}
/*!
 * Ficha para tablas basicas
 */
.botonGuardar {

    position: absolute;
    right: 150px;
    top: -45px;
    background: #5cb85c!important;
    z-index: 2001!important;
}
.botonCancelar {

    position: absolute;
    right: 250px;
    top: -45px;
    background: #777!important;
    z-index: 2001!important;
}
.tituloFicha {
    display: inline-block;
}
.contenedorFicha {
    margin-right: 5px;
    height: calc(100% - 15%);
    overflow-y: auto;
    margin-top: 45px;
    form {
      h6 {
        margin: 0;
      }
    }
}
.dynamic-form {
  border-bottom: 1px solid #eee;
}
@media (max-width:225px) {
  .paginacionEdit{
    display: none;
  }
  .botonGuardar{
    position: relative;
    right: -140px;
    top: -20px;
  }
  .botonCancelar {
    position: relative;
    right: 80px;
    top: -20px;
  }
}
.msj{
  @extend .alert;
  @extend .alert-warning;
}
/*
 * componentes botones
 */
.btnSuccess {

}
.btnDefault {

}
/*
 * componentes de listas
 */
.numRegistro {
    @extend .badge;
}
.btn-ordenarLista {
    font-size: 16px;
    position: absolute;
    display: block;
    top: 50%;
    left: 93%;
    z-index: 1000;
}
.buscarEnLista {

    max-width: 250px;
    float:right!important;
}
.paginacionLista {
    float: right;
    @extend .hidden-print;
    ul {
        @extend .pagination;
        box-shadow: $sombra;
    }
}
.tablaLista {
    @extend .mdl-data-table;
    box-shadow: $sombra;
    width: 100%;
    td:last-of-type {
      padding-right: 0;
    }
    thead{
      tr[class="active"] th {
        text-align: center;
      }
    }
    tbody {
      th, td {
        text-align: center;
        max-width: 300px;
    }
    }
}
.tablaListaRelacion {

    table {

    }
}
.controlLista {
    width: 80px;
    text-align: center;
    overflow: none;
}
.ascendenteAlfabetico {
    @extend .glyphicon;
    @extend .glyphicon-sort-by-alphabet;
    @extend .btn-ordenarLista;
}
.descendenteAlfabetico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-alphabet-alt;
     @extend .btn-ordenarLista;
}
.ascendenteNumerico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-order;
     @extend .btn-ordenarLista;
}
.descendenteNumerico {
     @extend .glyphicon;
     @extend .glyphicon-sort-by-order-alt;
     @extend .btn-ordenarLista;
}
.c_td {
  display: inline-block!important;
  position: absolute!important;
  right: 10px!important;
  background: transparent!important;
  border: none!important;
  opacity: 1!important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.c_td a {
  margin-left: 50px;
  margin-right: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.12)!important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
  display: none;
  font-size: 23px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.c_td span {
  color: rgb(63,81,181);
  font-size: 24px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.c_td:hover {
  background: transparent!important;
}
.c_td:hover a {
  display: inline-block;
  opacity: 1!important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.c_td_hover {
  opacity: .2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.seleccion {
  background: $brand-primary;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.seleccion:hover {
  background: $brand-primary!important;
  color: #fff!important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.seleccion .c_td a, .seleccion .c_td span {
  color: #fff!important;
}

/*
 * iconos
 */
.iconoPlus {
    @extend .glyphicon;
    @extend .glyphicon-plus;
}
.iconoVolver {
    @extend .glyphicon;
    @extend .glyphicon-chevron-left;
}
.iconoImprimir {
    @extend .glyphicon;
    @extend .glyphicon-print;
}
.iconoEditar {
    @extend .glyphicon;
    @extend .glyphicon-edit;
}
.iconoRemover {
    @extend .glyphicon;
    @extend .glyphicon-remove;
}
.iconoVerFicha {
    @extend .glyphicon;
    @extend .glyphicon-file;
}
.iconoDescargar {
    @extend .glyphicon;
    @extend .glyphicon-download-alt;
}
.iconoCarpetaAbierta {
    @extend .glyphicon;
    @extend .glyphicon-folder-open;
}
.iconoExpandirLeft {
  @extend .glyphicon;
  @extend .glyphicon-menu-left;
}
.iconoExpandirRight {
  @extend .glyphicon;
  @extend .glyphicon-menu-right;
}
.iconoExpandirFull {
  @extend .glyphicon;
  @extend .glyphicon-fullscreen;
}
.iconoGrupoControl {
  @extend .glyphicon;
  @extend .glyphicon-option-horizontal;
}
/*!
 * navbar
 */
.navbarApp {
    md-toolbar {
      background: $brand-primary;
      box-shadow: $sombra;
    }
    //@extend .navbar;
    //@extend .navbar-default!optional;
    background: $brand-primary;
    div a md-icon {
        @extend .navbar-brand;
        font-size: 18px!important;
    }
}
.menuSidebar {
    @extend .navbar-brand;
    z-index:1;
    color:#fff!important;
    float: right!important;
}
.menu-toggle {
    @extend .navbar-brand;
    z-index:1;
    float: right;
    &:hover {
        color:$navbar-default-brand-hover-color;
    }
    md-icon {
        color:#fff!important;
        margin-right: 25px;
    }
}
.divide {
    height: 63px;
    border-left: 1px solid #fff;
    @extend .navbar-brand;
    margin:0 -15px 0 30px;
}
/*!
 * sidebar
 */
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.wrapper.toggled {
    padding-right: 250px;
}

.sidebar-wrapper {
    z-index: 2;
    position: fixed;
    right: -20px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    background: $brand-primary;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
    right: 0;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    height: calc(100% - 70px);
    overflow-y: auto;
    background: $body-bg;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .page-content-wrapper {
    width: calc(100% - 250px);
    position: absolute;
    margin-right: -250px;
    height: calc(100% - 70px);
    overflow-y: auto;
}
.expandirNivel2, .expandirNivel1 {
    z-index: 1002;
}
.expandirNivel2 md-icon, .expandirNivel1 md-icon {
    color: #fff;
}
.wrapper.toggled.nivel2 .page-content-wrapper {
    width: calc(100% - 500px);
    position: absolute;
    margin-right: -500px;
    height: calc(100% - 70px);
    overflow-y: auto;
}
.wrapper.toggled.nivel2 .sidebar-wrapper {
    width: 500px;
    right: 0;
}
.wrapper.toggled.nivel2 {
    padding-right: 500px;
}

/* Sidebar Styles */
.headerSidebar {
  display: block;
  height: $app-bar-height;
  margin-bottom: -5px;
  button md-icon {
    @extend .navbar-brand;
  }
}

.sidebarWidget {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.sidebarWidget > li {
    float: left;
    cursor: move;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: $sombra;
}
.sidebarWidget > li > span {
  float: right;
  cursor: default;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
    &:hover {
        color:#fff;
        background: none;
    }
}
/*!
 * componente select con buscador
 */
.zelect {
      display: inline-block;
      background-color: white;
      cursor: pointer;
      line-height: 25px;
      border-radius: 6px;
      position: relative;
      margin-bottom: 20px;
    }

 .zelected {
      display:block;
      position: absolute;
      padding-left: 0;
      padding: 10px 0;
      margin-bottom: 10;
      top: 0;
      width: 100%;
      border-bottom: 2px solid #dbdece;
    }

 .zelected.placeholder {
      color: #999f82;
    }

 .zelected:hover {
      border-color: $brand-primary;

    }

 .zelect.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

 .dropdown {
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #dbdece;
      border-top: none;
      position: absolute;
      left:-1px;
      right:-1px;
      top: 36px;
      z-index: 2;
      padding: 3px 5px 3px 3px;
      max-height: 280px;
      box-shadow: $sombra;
    }

 .dropdown input {
      font-family: sans-serif;
      outline: none;
      font-size: 14px;
      border: none;
      border-bottom: 2px solid $brand-primary;
      width: 100%;
      padding: 7px 0 7px 10px;
    }

 .dropdown ol {
      padding: 0;
      margin: 3px 0 0 0;
      list-style-type: none;
      max-height: 225px;
      overflow-y: scroll;
    }

 .dropdown li {
      padding: 10px;
    }

 .dropdown li.current {
      background-color: $brand-primary;
      color: #fff;
    }
/*!
 * general
 */
.btn-disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}
body{
    overflow-y: hidden;
    background: #eee;
}
.add-row {
  @extend .iconoPlus;
  float: right;
  padding-bottom: 5px;
}
.delete-row{
  @extend .iconoRemover;
  margin-left: 96%;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: hidden!important;
}
.contenedor {
    @extend .container-fluid;
}
.contenedorFila {
    @extend .row;
}
.columna12 {
    @extend .col-md-12;
}
.columna6 {
    @extend .col-md-6;
}
.columna1 {
    @extend .col-md-1;
}
.columna2 {
    @extend .col-md-2;
}
.columna3 {
    @extend .col-md-3;
}
.columna4 {
    @extend .col-md-4;
}
.columna5 {
    @extend .col-md-5;
}
.columna7 {
    @extend .col-md-7;
}
.columna8 {
    @extend .col-md-8;
}
.columna9 {
    @extend .col-md-9;
}
.columna10 {
    @extend .col-md-10;
}
.columna11 {
    @extend .col-md-11;
}

/*!
 * bootstrap-switch
 */

.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  box-shadow: $sombra;
}
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;

  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: $brand-primary;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #fff;
  background: #337ab7;
}
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.1s;
  -o-transition: margin-left 0.1s;
  transition: margin-left 0.1s;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
