@import "./_variables.scss";
@import "../stylesheets/_bootstrap.scss";
.fixed-panel {
overflow-y: hidden;
margin-left: 15px;
}
.titulo-panel{
  @extend .panel-title;
}
.forma-panel {
    @extend .panel;
    border: 3px solid transparent;
    border-radius: 7px;
}
.cabecera-panel{
    @extend .panel-heading;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.cuerpo-panel{
    @extend .panel-body;
}
.size-transaccion{
    width: 140px;
}
.claseRojo{
  border-color: #D0231C;
    .cabecera-panel{
      color: #fff;
      background-color: #DC4040;
    }
}
.claseAzul{
  border-color: #809fff;
    .cabecera-panel{
      color: #31708f;
      background-color: #bce8f1;
    }
}
.claseVerde{
    border-color: #1CD0A6;
    .cabecera-panel{
      color: #3DA073;
      background-color: #7DEAC7;
    }
}
.minima{
    height: 44px;
    width: 222px;
    margin: 5px;
}
.tamano1x1{
    height: 200px;
    width: 222px;
    margin: 5px;
}
.tamano1x2{
    height: 400px;
    width: 222px;
    margin: 5px;
}
.tamano2x1{
    height: 200px;
    width: 475px;
    margin: 5px;
}
.tamano2x2{
    height: 400px;
    width: 475px;
    margin: 5px;
}
.tamano1x3{
    height: 600px;
    width: 222px;
    margin: 5px;
}
.tamano2x3{
    height: 600px;
    width: 475px;
    margin: 5px;
}
.c_w {
    position: relative;
    display: inline!important;
    background: transparent!important;
    border: none!important;
    opacity: 1!important;
    float: right;
    bottom: 15px!important;
    height: 10px;
}
.c_w a {
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.12)!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
    display: none;
}
.c_w span {
    color: rgb(63,81,181);
}
.c_w:hover {
    background: transparent!important;
}
.c_w:hover a {
    cursor: pointer;
    display: inline;
    opacity: 1!important;
}
.c_w_hover {
    opacity: .2;
}
.iconoExpandirMax {
  @extend .glyphicon;
  @extend .glyphicon-resize-full;
}
.iconoExpandirMin {
  @extend .glyphicon;
  @extend .glyphicon-resize-small;
}
.iconoMinimizar {
  @extend .glyphicon;
  @extend .glyphicon-minus;
}
