@import "../stylesheets/_bootstrap.scss";
.fixed-panel {
overflow-y: hidden;
margin-left: 15px;
}
.titulo-panel{
  @extend .panel-title;
}
.forma-panel {
    @extend .panel;
    border: 3px solid transparent;
    border-radius: 7px;
}
.cabecera-panel{
    @extend .panel-heading;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.cuerpo-panel{
    @extend .panel-body;
    overflow-y: scroll;
    height: calc(100% - 40px);
}
.size-transaccion{
    width: 120px;
    margin: -5px;
    background-color: rgb(250,250,250);
    color: #333;
    margin-bottom: 28px;
    button{
      color: #3F51B5;
    }
}
.claseRojo{
  border-color: #455A64;
    .cabecera-panel{
      color: #263238;
      background-color: #607D8B;
    }
}
.claseAzul{
  border-color: #0288D1;
    .cabecera-panel{
      color: #01579B;
      background-color: #03A9F4;
    }
}
.claseVerde{
    border-color: #009688;
    .cabecera-panel{
      color: #00796B;
      background-color: #4DB6AC;
    }
}
.minima{
    height: 44px;
    width: 222px;
    margin: 5px;
}
.tamano1x1{
    height: 200px;
    width: 222px;
    margin: 5px;
}
.tamano1x2{
    height: 400px;
    width: 222px;
    margin: 5px;
}
.tamano2x1{
    height: 200px;
    width: 475px;
    margin: 5px;
}
.tamano2x2{
    height: 400px;
    width: 475px;
    margin: 5px;
}
.tamano1x3{
    height: 600px;
    width: 222px;
    margin: 5px;
}
.tamano2x3{
    height: 600px;
    width: 475px;
    margin: 5px;
}
.c_w {
    position: relative;
    display: inline!important;
    background: transparent!important;
    border: none!important;
    opacity: 1!important;
    float: right;
    bottom: 15px!important;
    height: 10px;
}
.c_w a {
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.12)!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
    display: none;
}
.c_w span {
    color: rgb(63,81,181);
}
.c_w:hover {
    background: transparent!important;
}
.c_w:hover a {
    cursor: pointer;
    display: inline;
    opacity: 1!important;
}
.c_w_hover {
    opacity: .2;
}
.iconoExpandirMax {
  @extend .glyphicon;
  @extend .glyphicon-resize-full;
}
.iconoExpandirMin {
  @extend .glyphicon;
  @extend .glyphicon-resize-small;
}
.iconoMinimizar {
  @extend .glyphicon;
  @extend .glyphicon-minus;
}
.claseFavorito {
  padding-left: 0;
  list-style: none;
  cursor: default;
  p {
    margin: 0;
    padding: 10px;
    span {
      float: left;
      padding-right: 5px;
    }
    p:hover {
      background: rgba(0,0,0,0.2);
    }
  }
  li {
    padding-left: 10px;
    width: 100%;
    p {
      cursor: default;
      margin: 0;
      padding: 10px;
      background: #EEE;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    cursor: default;
    li.activo {
      background-color: #7DEAC7;
      padding-left: 30px;
      a {
        padding: 10px;
        padding-left: 5px;
        width: 100%;
        display: block;
        text-decoration: none;
      }
    }
    li {
      padding: 0;
      padding-left: 30px;
      a {
        padding: 10px;
        padding-left: 5px;
        width: 100%;
        display: block;
        text-decoration: none;
      }
      a:hover {
        background: rgba(0,0,0,0.2);
      }
    }
  }
}
.claseMenu {
  border-color: #1CD0A6;
  padding-left: 0;
  list-style: none;
  cursor: default;
  li {
    padding-left: 10px;
    width: 100%;
    cursor: default;
    p {
      span {
      float: left;
      padding-right: 5px;
    }
    }
    ul{
      padding: 0;
      list-style: none;
      cursor: default;
      width: 100%;
      li{
        padding-left: 10px;
        width: 100%;
        p {
          margin: 0;
          padding: 10px;
          background: #EEE;
          cursor: default;
        }
        ul {
          padding: 0;
          list-style: none;
          cursor: default;
          li.activo {
            background-color: #7DEAC7;
            padding-left: 30px;
            a {
              padding: 10px;
              padding-left: 5px;
              width: 100%;
              display: block;
              text-decoration: none;
            }
          }
          li {
          padding: 0;
          padding-left: 30px;
          a {
            padding: 10px;
            padding-left: 5px;
            width: 100%;
            display: block;
            text-decoration: none;
          }
          a:hover {
            background: rgba(0,0,0,0.2);
          }
          }
        }
      }
    }
  }
}
.iconoCarpetaAbierta {
  @extend .glyphicon;
  @extend .glyphicon-folder-open;
}
.iconoCarpetaCerrada {
  @extend .glyphicon;
  @extend .glyphicon-folder-close;
}
.claseTablasRelacionadas {
  border-color: #1CD0A6;
  padding-left: 0;
  list-style: none;
  cursor: default;
  li {
    padding-left: 0;
    a {
      padding: 10px;
      padding-left: 15px;
      width: 100%;
      display: block;
      text-decoration: none;
    }
    a:hover {
      background: rgba(0,0,0,0.2);
    }
  }
}
.iconoOK {
  @extend .glyphicon;
  @extend .glyphicon-ok;
}
.iconoMinus {
  @extend .glyphicon;
  @extend .glyphicon-minus;
}
.iconoStar {
  @extend .glyphicon;
  @extend .glyphicon-star;
}
.claseFasesSuperadas {
  cursor: default;
  color: #00C853;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  display: block;
  text-decoration: none;
}
.claseFaseActual {
  cursor: default;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  display: block;
  text-decoration: none;}
.claseFasesFaltantes {
  cursor: default;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  display: block;
  text-decoration: none;
}
