{% extends "base_editar.html" %}

{% block titulo %}

Fuente de promoción

{% endblock titulo %}

{% block titulo_form %}

Agregar Fuente de promoción

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {{ form.as_md }}

{% endblock cuerpo_form %}
{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    function enterNone(elemento) {
        $(elemento).keypress(function(e){
            if(e.which == 13){
                return false;
            }
        });
    }
    $scope.cliente = '{{request.GET.cliente}}';
    $('#id_medio_especifico').focus();
    setTimeout(function() {
        $('#id_medio_especifico').zelect();
        $('#id_tipo_de_referido').zelect();
        $('#id_barrio').zelect();
        enterNone('form');
        $('#id_medio_especifico').on('change', function(event) { controlSubmit(event); })
    }, 100);
});
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
