{% extends "base_editar.html" %}

{% block titulo %}

Institución

{% endblock titulo %}

{% block titulo_form %}

Editar la institución: {{form.nombre.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if institucion_previous %}

<li class="anterior">
    <md-button href="{% url 'upromociones:edit_institucion' institucion_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado"><md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button></li>

{% endif %}

{% if institucion_next %}

<li class="siguiente">
    <md-button href="{% url 'upromociones:edit_institucion' institucion_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>
{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.alianza = '{{form.alianza.value}}';
    $scope.nombre = '{{form.nombre.value}}';
    $scope.cuit = '{{form.cuit.value}}';
    $scope.pagina_web = '{{form.pagina_web.value}}';
    $scope.persona_contacto = '{{form.persona_contacto.value}}';
    $scope.telefono = '{{form.telefono.value}}';
    $scope.telefono_movil = '{{form.telefono_movil.value}}';
    $scope.email = '{{form.email.value}}';
      $('#id_alianza').focus();
  });
</script>

{% endblock moduloAngular %}
