{% extends "base_lista.html" %}

{% block titulo %}

Promoción

{% endblock titulo %}

{% block titulo_lista %}

<h2>Listado de personas aliadas</h2>
<h6>Cantidad de personas aliadas encontrados:
    <span class="numRegistro" id="count_reg">

        {{ personaaliados.count }}

    </span>
</h6>

{% endblock titulo_lista %}

{% block paginacion_lista %}

{% if request.GET.page == "0" %}

<li><a href="?page=1">Paginar</a></li>

{% else %}

{% if page_obj.has_previous %}

{% if request.GET.order_by %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
  <a href="#" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
  <a href="#" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% endif %}

{% if request.GET.page == "1" %}

<li class="btn-disabled">
  <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">Primero...</a>
</li>

{% else %}

<li class="">
  <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">Primero...</a>
</li>

{% endif %}

{% for p in page_range2 %}

{% if p == page_obj.number %}

<li class="active">
  <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">{{p}}</a>
</li>

{% else %}

<li>
  <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">{{p}}</a>
</li>

{% endif %}

{% endfor %}

{% if page_obj.paginator.num_pages %}

{% if request.GET.page == ultimo %}

<li class="btn-disabled">
  <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">...Ultimo</a>
</li>

{% else %}

<li class="">
  <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">...Ultimo</a>
</li>

{% endif %}

{% endif %}

{% if page_obj.has_next %}

{% if request.GET.order_by %}

<li>
  <a href="?page={{ page_obj.next_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li>
  <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
  <a href="#" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
  <a href="#" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endif %}

<li><a href="?page=0" tabindex="-1">Ver todo</a></li>

{% endif %}

{% endblock paginacion_lista %}

{% block lista %}

{% if personaaliados %}

<tr class="active">
    <th>
        DNI de la persona aliada

        {% if request.GET.page %}

        {% if request.GET.order_by == "dni" %}

        <a href="?order_by=-dni&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-dni"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=dni&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="dni" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "dni" %}

        <a href="?order_by=-dni&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-dni"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=dni&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="dni" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Nombre de la persona aliada

        {% if request.GET.page %}

        {% if request.GET.order_by == "nombre" %}

        <a href="?order_by=-nombre&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-nombre"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=nombre&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="nombre" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "nombre" %}

        <a href="?order_by=-nombre&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-nombre"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=nombre&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="nombre" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Teléfono de la persona aliada

        {% if request.GET.page %}

        {% if request.GET.order_by == "telefono" %}

        <a href="?order_by=-telefono&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-telefono"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=telefono&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="telefono" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "telefono" %}

        <a href="?order_by=-telefono&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-telefono"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=telefono&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="telefono" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Teléfono móvil 1 de la persona aliada

        {% if request.GET.page %}

        {% if request.GET.order_by == "telefono_movil_1" %}

        <a href="?order_by=-telefono_movil_1&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-telefono_movil_1"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=telefono_movil_1&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="telefono_movil_1" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "telefono_movil_1" %}

        <a href="?order_by=-telefono_movil_1&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-telefono_movil_1"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=telefono_movil_1&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="telefono_movil_1" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Teléfono móvil 2 de la persona aliada

        {% if request.GET.page %}

        {% if request.GET.order_by == "telefono_movil_2" %}

        <a href="?order_by=-telefono_movil_2&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-telefono_movil_2"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=telefono_movil_2&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="telefono_movil_2" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "telefono_movil_2" %}

        <a href="?order_by=-telefono_movil_2&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-telefono_movil_2"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=telefono_movil_2&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="telefono_movil_2" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Correo principal de la persona aliada

        {% if request.GET.page %}

        {% if request.GET.order_by == "email_principal" %}

        <a href="?order_by=-email_principal&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-email_principal"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=email_principal&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="email_principal" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "email_principal" %}

        <a href="?order_by=-email_principal&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-email_principal"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=email_principal&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="email_principal" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Correo secundario de la persona aliada

        {% if request.GET.page %}

        {% if request.GET.order_by == "email_secundario" %}

        <a href="?order_by=-email_secundario&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-email_secundario"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=email_secundario&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="email_secundario" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "email_secundario" %}

        <a href="?order_by=-email_secundario&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-email_secundario"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=email_secundario&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="email_secundario" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Observación de la persona alada

        {% if request.GET.page %}

        {% if request.GET.order_by == "observacion" %}

        <a href="?order_by=-observacion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-observacion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=observacion&page={{request.GET.page}}" id="observacion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "observacion" %}

        <a href="?order_by=-observacion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-observacion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=observacion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="observacion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Institución asociada

        {% if request.GET.page %}

        {% if request.GET.order_by == "institucion" %}

        <a href="?order_by=-institucion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-institucion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=institucion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="institucion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "institucion" %}

        <a href="?order_by=-institucion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-institucion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=institucion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="institucion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
</tr>
<tbody>
{% for i in personaaliados %}

<tr id="tr{{i.pk}}" data-url="{% url 'upromociones:edit_personaaliado' i.pk %}?next={{request.get_full_path}}" class="btnFicha">
    <td id="td1_{{i.pk}}">

        {{ i.dni }}

    </td>
    <td id="td2_{{i.pk}}">

        {{ i.nombre }}

    </td>
    <td id="td3_{{i.pk}}">

        {{ i.telefono }}

    </td>
    <td id="td4_{{i.pk}}">

        {{ i.telefono_movil_1 }}

    </td>
    <td id="td5_{{i.pk}}">

        {{ i.telefono_movil_2 }}

    </td>
    <td id="td6_{{i.pk}}">

        {{ i.email_principal }}

    </td>
    <td id="td7_{{i.pk}}">

        {{ i.email_secundario }}

    </td>
    <td id="td8_{{i.pk}}">

        {{ i.observacion|truncatechars:"30" }}

    </td>
    <td id="td9_{{i.pk}}">

        {{ i.institucion }}

    </td>
    <td class="c_td">
      <a title="Eliminar" data-toggletooltip="tooltip" data-placement="left" data-url="{% url 'upromociones:eliminar_personaaliado' i.pk %}?next={{request.get_full_path}}" data-id="{{ i.id }}" data-nombre="{{ i.personaaliados }}" class="iconoRemover btnEliminar" data-toggle="modal" data-target="#modalEliminar" id="eliminar{{i.id}}"></a>
      <span class="iconoGrupoControl"></span>
    </td>
</tr>

{% endfor %}

{% else %}

<tr>
    <td> No se encontraron registros </td>
</tr>

{% endif %}

{% endblock lista %}
