{% extends "base_lista.html" %}

{% block titulo %}

Promoción

{% endblock titulo %}

{% block titulo_lista %}

<h2>Listado de personas aliadas</h2>
<h6>Cantidad de personas aliadas encontrados:
    <span class="badge" id="count_reg">

        {{ personaaliados.count }}

    </span>
</h6>

{% endblock titulo_lista %}

{% block paginacion_lista %}

{% if request.GET.page == "0" %}

<li><a href="?page=1">Paginar</a></li>

{% else %}

{% if page_obj.has_previous %}

{% if request.GET.order_by %}

<li>
    <a href="?page={{ page_obj.previous_page_number }}&order_by={{request.GET.order_by}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li>
    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% else %}

<li class="btn-disabled">
    <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% if request.GET.page == "1" %}

<li class="btn-disabled">
    <a href="?page=1&order_by={{request.GET.order_by}}">Primero...</a>
</li>

{% else %}

<li class="">
    <a href="?page=1&order_by={{request.GET.order_by}}">Primero...</a>
</li>

{% endif %}

{% for p in page_range2 %}

{% if p == page_obj.number %}

<li class="active">
    <a href="?page={{p}}&order_by={{request.GET.order_by}}">{{p}}</a>
</li>

{% else %}

<li>
    <a href="?page={{p}}&order_by={{request.GET.order_by}}">{{p}}</a>
</li>

{% endif %}

{% endfor %}

{% if page_obj.paginator.num_pages %}

{% if request.GET.page == ultimo %}

<li class="btn-disabled">
    <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}">...Ultimo</a>
</li>

{% else %}

<li class="">
    <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}">...Ultimo</a>
</li>

{% endif %}

{% endif %}

{% if page_obj.has_next %}

{% if request.GET.order_by %}

<li>
    <a href="?page={{ page_obj.next_page_number }}&order_by={{request.GET.order_by}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li>
    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endif %}

<li><a href="?page=0">Ver todo</a></li>

{% endif %}

{% endblock paginacion_lista %}

{% block lista %}

{% if personaaliados %}

<tr class="active">
    <th>
        DNI de la persona aliada

        {% if request.GET.page %}

        <a href="?order_by=dni&page={{request.GET.page}}" id="dni" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-dni&page={{request.GET.page}}" id="-dni"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=dni" id="dni" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-dni" id="-dni"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Nombre de la persona aliada

        {% if request.GET.page %}

        <a href="?order_by=nombre&page={{request.GET.page}}" id="nombre" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-nombre&page={{request.GET.page}}" id="-nombre"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=nombre" id="nombre" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-nombre" id="-nombre"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Teléfono de la persona aliada

        {% if request.GET.page %}

        <a href="?order_by=telefono&page={{request.GET.page}}" id="telefono" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-telefono&page={{request.GET.page}}" id="-telefono"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=telefono" id="telefono" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-telefono" id="-telefono"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Teléfono móvil 1 de la persona aliada

        {% if request.GET.page %}

        <a href="?order_by=telefono_movil_1&page={{request.GET.page}}" id="telefono_movil_1" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-telefono_movil_1&page={{request.GET.page}}" id="-telefono_movil_1"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=telefono_movil_1" id="telefono_movil_1" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-telefono_movil_1" id="-telefono_movil_1"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Teléfono móvil 2 de la persona aliada

        {% if request.GET.page %}

        <a href="?order_by=telefono_movil_2&page={{request.GET.page}}" id="telefono_movil_2" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-telefono_movil_2&page={{request.GET.page}}" id="-telefono_movil_2"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=telefono_movil_2" id="telefono_movil_2" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-telefono_movil_2" id="-telefono_movil_2"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Correo principal de la persona aliada

        {% if request.GET.page %}

        <a href="?order_by=email_principal&page={{request.GET.page}}" id="email_principal" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-email_principal&page={{request.GET.page}}" id="-email_principal"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=email_principal" id="email_principal" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-email_principal" id="-email_principal"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Correo secundario de la persona aliada

        {% if request.GET.page %}

        <a href="?order_by=email_secundario&page={{request.GET.page}}" id="email_secundario" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-email_secundario&page={{request.GET.page}}" id="-email_secundario"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=email_secundario" id="email_secundario" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-email_secundario" id="-email_secundario"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Observación de la persona alada

        {% if request.GET.page %}

        <a href="?order_by=observacion&page={{request.GET.page}}" id="observacion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-observacion&page={{request.GET.page}}" id="-observacion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=observacion" id="observacion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-observacion" id="-observacion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Institución asociada

        {% if request.GET.page %}

        <a href="?order_by=institucion&page={{request.GET.page}}" id="institucion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-institucion&page={{request.GET.page}}" id="-institucion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=institucion" id="institucion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-institucion" id="-institucion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th class="controlLista">Ficha</th>
    <th class="controlLista">Editar</th>
    <th class="controlLista">Eliminar</th>
</tr>

{% for i in personaaliados %}

<tr id="tr{{i.pk}}">
    <td>

        {{ i.dni }}

    </td>
    <td>

        {{ i.nombre }}

    </td>
    <td>

        {{ i.telefono }}

    </td>
    <td>

        {{ i.telefono_movil_1 }}

    </td>
    <td>

        {{ i.telefono_movil_2 }}

    </td>
    <td>

        {{ i.email_principal }}

    </td>
    <td>

        {{ i.email_secundario }}

    </td>
    <td>

        {{ i.observacion }}

    </td>
    <td>

        {{ i.institucion }}

    </td>
    <td>
      <a title="Ver ficha" data-toggletooltip="tooltip" data-placement="left" href="#" class="iconoVerFicha"></a>
    </td>
    <td>
        <a title="Editar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'upromociones:edit_personaaliado' i.pk %}?next={{request.get_full_path}}" class="iconoEditar"></a>
    </td>
    <td>
        <a title="Eliminar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'upromociones:eliminar_personaaliado' i.pk %}?next={{request.get_full_path}}" class="iconoRemover"></a>
    </td>
</tr>

{% endfor %}

{% else %}

<tr>
    <td> No se encontraron registros </td>
</tr>

{% endif %}

<script>
    $(document).on('ready',function(){
        ocultarASCDesc('institucion');
        ocultarASCDesc('nombre');
        ocultarASCDesc('dni');
        ocultarASCDesc('telefono');
        ocultarASCDesc('telefono_movil_1');
        ocultarASCDesc('telefono_movil_2');
        ocultarASCDesc('email_secundario');
        ocultarASCDesc('email_principal');
        ocultarASCDesc('observacion');
    });
</script>

{% endblock lista %}
