{% extends "base_editar.html" %}

{% block titulo %}

Chofer asignado

{% endblock titulo %}

{% block titulo_form %}

Editar chofer asignado {{form.trabajador.value|lower}}

{% endblock titulo_form %}

{% block nav_lista %}

{% if choferasignado_previous %}

<li class="previous">
    <a href="{% url 'uvehiculos:edit_choferasignado' choferasignado_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
</li>

{% else %}

<li class="previousBloqueado"><a href="#">&larr; Anterior</a></li>

{% endif %}

{% if choferasignado_next %}

<li class="next">
    <a href="{% url 'uvehiculos:edit_choferasignado' choferasignado_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
</li>

{% else %}

<li class="nextBloqueado"><a href="#">Siguiente &rarr;</a></li>

{% endif %}

{% endblock nav_lista %}

{% block formulario %}

<div class="prueba">

{{ form.as_md }}

</div>

<script type="text/javascript">
document.getElementById('id_detalle_de_vehiculo').focus()
</script>

{% endblock formulario %}
