{% extends "base_editar.html" %}

{% block titulo %}

Vehículo

{% endblock titulo %}

{% block titulo_form %}

Editar el detalle de vehículo: {{form.vehiculo.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if detalledevehiculo_previous %}

<li class="anterior">
    <md-button href="{% url 'uvehiculos:edit_detalledevehiculo' detalledevehiculo_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
</li>

{% endif %}

{% if detalledevehiculo_next %}

<li class="siguiente">
    <md-button href="{% url 'uvehiculos:edit_detalledevehiculo' detalledevehiculo_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.vehiculo = '{{form.vehiculo.value}}';
    $scope.numero_de_camion = '{{form.numero_de_camion.value}}';
    $scope.ancho = '{{form.ancho.value}}';
    $scope.largo = '{{form.largo.value}}';
    $scope.alto = '{{form.alto.value}}';
    $scope.ancho_aux = '{{form.ancho_aux.value}}';
    $scope.largo_aux = '{{form.largo_aux.value}}';
    $scope.alto_aux = '{{form.alto_aux.value}}';
    $scope.tara_vehiculo = '{{form.tara_vehiculo.value}}';
    $scope.observacion = '{{form.observacion.value}}';
    $('#id_vehiculo').focus();
});
</script>

{% endblock moduloAngular %}
