{% extends "base_ficha.html" %}

{% block titulo_ficha %}

Ficha del vehículo: <small>{{form.marca.value|lower}} {{form.modelo.value|lower}}</small>

{% endblock titulo_ficha %}

{% block paginacionFicha %}

{% if vehiculo_previous %}

<li class="anterior">
    <md-button href="{% url 'uvehiculos:edit_vehiculo' vehiculo_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado"><md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button></li>

{% endif %}

{% if vehiculo_next %}

<li class="siguiente">
    <md-button href="{% url 'uvehiculos:edit_vehiculo' vehiculo_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

{% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

{{ form.as_md }}

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.marca = '{{form.marca.value}}';
    $scope.modelo = '{{form.modelo.value}}';
    $scope.transmision = '{{form.transmision.value}}';
    $scope.motor = '{{form.motor.value}}';
    $scope.volumen_total_carga = '{{form.volumen_total_carga.value}}';
    $scope.peso_total_carga = '{{form.peso_total_carga.value}}';
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.marca = '{{form.marca.value}}';
        $scope.modelo = '{{form.modelo.value}}';
        $scope.transmision = '{{form.transmision.value}}';
        $scope.motor = '{{form.motor.value}}';
        $scope.volumen_total_carga = '{{form.volumen_total_carga.value}}';
        $scope.peso_total_carga = '{{form.peso_total_carga.value}}';
    }
    $scope.onChange = function() {
        controlSubmit(event);
    };
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.marca.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.modelo.value|truncatechars:"40"}}');
    tr.children('td[id=td3_{{form.instance.pk}}]').text('{{form.transmision.value}}');
    tr.children('td[id=td4_{{form.instance.pk}}]').text('{{form.motor.value}}');
    tr.children('td[id=td5_{{form.instance.pk}}]').text('{{form.volumen_total_carga.value}}');
    tr.children('td[id=td6_{{form.instance.pk}}]').text('{{form.peso_total_carga.value}}');
  });
</script>

{% endblock moduloAngularFicha %}
