{% extends "base_editar.html" %}

{% block titulo %}

Vehículo

{% endblock titulo %}

{% block titulo_form %}

Editar el vehículo: {{form.marca.value|lower}} {{form.modelo.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if vehiculo_previous %}

<li class="anterior">
    <md-button href="{% url 'uvehiculos:edit_vehiculo' vehiculo_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado"><md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button></li>

{% endif %}

{% if vehiculo_next %}

<li class="siguiente">
    <md-button href="{% url 'uvehiculos:edit_vehiculo' vehiculo_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
        </li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.marca = '{{form.marca.value}}';
    $scope.modelo = '{{form.modelo.value}}';
    $scope.transmision = '{{form.transmision.value}}';
    $scope.motor = '{{form.motor.value}}';
    $scope.volumen_total_carga = '{{form.volumen_total_carga.value}}';
    $scope.peso_total_carga = '{{form.peso_total_carga.value}}';
      $('#id_marca').focus();
  });
</script>

{% endblock moduloAngular %}
