{% extends "base_lista.html" %}

{% block titulo %}

Vehículo

{% endblock titulo %}

{% block titulo_lista %}

<h2>Listado de vehículos</h2>
<h6>Cantidad de vehículos encontrados:
    <span class="badge" id="count_reg">

        {{ vehiculos.count }}

    </span>
</h6>

{% endblock titulo_lista %}

{% block paginacion_lista %}

{% if request.GET.page == "0" %}

<li><a href="?page=1">Paginar</a></li>

{% else %}

{% if page_obj.has_previous %}

{% if request.GET.order_by %}

<li>
    <a href="?page={{ page_obj.previous_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li>
    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% else %}

<li class="btn-disabled">
    <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% if request.GET.page == "1" %}

<li class="btn-disabled">
    <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">Primero...</a>
</li>

{% else %}

<li class="">
    <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">Primero...</a>
</li>

{% endif %}

{% for p in page_range2 %}

{% if p == page_obj.number %}

<li class="active">
    <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{p}}</a>
</li>

{% else %}

<li>
    <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{p}}</a>
</li>

{% endif %}

{% endfor %}

{% if page_obj.paginator.num_pages %}

{% if request.GET.page == ultimo %}

<li class="btn-disabled">
    <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">...Ultimo</a>
</li>

{% else %}

<li class="">
    <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">...Ultimo</a>
</li>

{% endif %}

{% endif %}

{% if page_obj.has_next %}

{% if request.GET.order_by %}

<li>
    <a href="?page={{ page_obj.next_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li>
    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endif %}

<li><a href="?page=0">Ver todo</a></li>

{% endif %}

{% endblock paginacion_lista %}

{% block lista %}

{% if vehiculos %}

<tr class="active">
    <th>
        Marca del vehículo

        {% if request.GET.page %}

        <a href="?order_by=marca&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="marca" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-marca&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-marca"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=marca{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="marca" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-marca{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-marca"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Modelo del vehículo

        {% if request.GET.page %}

        <a href="?order_by=modelo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="modelo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-modelo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-modelo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=modelo{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="modelo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-modelo{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-modelo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Transmisión del vehículo

        {% if request.GET.page %}

        <a href="?order_by=transmision&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="transmision" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-transmision&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-transmision"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=transmision{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="transmision" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-transmision{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-transmision"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Motor del vehículo

        {% if request.GET.page %}

        <a href="?order_by=motor&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="motor" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-motor&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-motor"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=motor{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="motor" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-motor{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-motor"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Volumen de carga del vehículo

        {% if request.GET.page %}

        <a href="?order_by=volumen_total_carga&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="volumen_total_carga" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-volumen_total_carga&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-volumen_total_carga"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=volumen_total_carga{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="volumen_total_carga" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-volumen_total_carga{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-volumen_total_carga"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
    <th>
        Peso de carga del vehículo

        {% if request.GET.page %}

        <a href="?order_by=peso_total_carga&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="peso_total_carga" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-peso_total_carga&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-peso_total_carga"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% else %}

        <a href="?order_by=peso_total_carga{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="peso_total_carga" class="ascendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente"></a>
        <a href="?order_by=-peso_total_carga{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-peso_total_carga"  class="descendenteNumerico" data-placement="left" data-toggletooltip="tooltip" title="Descendente"></a>

        {% endif %}

    </th>
</tr>

{% for i in vehiculos %}

<tr id="tr{{i.pk}}" data-url="{% url 'uvehiculos:edit_vehiculo' i.pk %}?next={{request.get_full_path}}" class="btnFicha">
    <td id="td1_{{i.pk}}">

        {{ i.marca }}

    </td>
    <td id="td2_{{i.pk}}">

        {{ i.modelo }}

    </td>
    <td id="td3_{{i.pk}}">

        {{ i.transmision }}

    </td>
    <td id="td4_{{i.pk}}">

        {{ i.motor }}

    </td>
    <td id="td5_{{i.pk}}">

        {{ i.volumen_total_carga }}

    </td>
    <td id="td6_{{i.pk}}">

        {{ i.peso_total_carga }}

    </td>
    <td class="c_td">
            <a title="Eliminar" data-toggletooltip="tooltip" data-placement="left" href="{% url 'uvehiculos:eliminar_vehiculo' i.pk %}?next={{request.get_full_path}}" class="iconoRemover"></a>
            <span class="iconoGrupoControl"></span>
    </td>
</tr>

{% endfor %}

{% else %}

<tr>
    <td> No se encontraron registros </td>
</tr>

{% endif %}

<script>
    $(document).on('ready',function(){
        ocultarASCDesc('marca');
        ocultarASCDesc('modelo');
        ocultarASCDesc('transmision');
        ocultarASCDesc('motor');
        ocultarASCDesc('volumen_total_carga');
        ocultarASCDesc('peso_total_carga');
    });
</script>

{% endblock lista %}
