{% extends "base_lista.html" %}

{% block titulo %}

Contenedor

{% endblock titulo %}

{% block titulo_lista %}

<h2>Listado de contenedores</h2>
 <h6>Cantidad de contenedores encontrados:
    <span class="badge" id="count_reg">

        {{ contenedores.count }}

    </span>
</h6>

{% endblock titulo_lista %}

{% block paginacion_lista %}

{% if request.GET.page == "0" %}

<li><a href="?page=1">Paginar</a></li>

{% else %}

{% if page_obj.has_previous %}

{% if request.GET.order_by %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
  <a href="#" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
  <a href="#" aria-label="Previous" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

{% endif %}

{% if request.GET.page == "1" %}

<li class="btn-disabled">
  <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">Primero...</a>
</li>

{% else %}

<li class="">
  <a href="?page=1&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">Primero...</a>
</li>

{% endif %}

{% for p in page_range2 %}

{% if p == page_obj.number %}

<li class="active">
  <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">{{p}}</a>
</li>

{% else %}

<li>
  <a href="?page={{p}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">{{p}}</a>
</li>

{% endif %}

{% endfor %}

{% if page_obj.paginator.num_pages %}

{% if request.GET.page == ultimo %}

<li class="btn-disabled">
  <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">...Ultimo</a>
</li>

{% else %}

<li class="">
  <a href="?page={{page_obj.paginator.num_pages}}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" tabindex="-1">...Ultimo</a>
</li>

{% endif %}

{% endif %}

{% if page_obj.has_next %}

{% if request.GET.order_by %}

<li>
  <a href="?page={{ page_obj.next_page_number }}&order_by={{request.GET.order_by}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li>
  <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% else %}

{% if request.GET.order_by %}

<li class="btn-disabled">
  <a href="#" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% else %}

<li class="btn-disabled">
  <a href="#" aria-label="Next" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endif %}

<li><a href="?page=0" tabindex="-1">Ver todo</a></li>

{% endif %}

{% endblock paginacion_lista %}

{% block lista %}

{% if contenedores %}

<tr class="active">
    <th>
        Nombre del contenedor

        {% if request.GET.page %}

        {% if request.GET.order_by == "contenedor" %}

        <a href="?order_by=-contenedor&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-contenedor"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=contenedor&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="contenedor" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "contenedor" %}

        <a href="?order_by=-contenedor&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-contenedor"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=contenedor&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="contenedor" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Descripción del contenedor

        {% if request.GET.page %}

        {% if request.GET.order_by == "descripcion" %}

        <a href="?order_by=-descripcion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-descripcion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=descripcion&page={{request.GET.page}}" id="descripcion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "descripcion" %}

        <a href="?order_by=-descripcion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-descripcion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=descripcion{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="descripcion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Volumen del contenedor

        {% if request.GET.page %}

        {% if request.GET.order_by == "capacidad_de_volumen" %}

        <a href="?order_by=-capacidad_de_volumen&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-capacidad_de_volumen"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=capacidad_de_volumen&page={{request.GET.page}}" id="capacidad_de_volumen" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "capacidad_de_volumen" %}

        <a href="?order_by=-capacidad_de_volumen{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-capacidad_de_volumen"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=capacidad_de_volumen{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="capacidad_de_volumen" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Peso del contenedor

        {% if request.GET.page %}

        {% if request.GET.order_by == "capacidad_de_peso" %}

        <a href="?order_by=-capacidad_de_peso&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-capacidad_de_peso"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=capacidad_de_peso&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="capacidad_de_peso" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "capacidad_de_peso" %}

        <a href="?order_by=-capacidad_de_peso&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-capacidad_de_peso"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=capacidad_de_peso&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="capacidad_de_peso" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Ancho del contenedor

        {% if request.GET.page %}

        {% if request.GET.order_by == "ancho" %}

        <a href="?order_by=-ancho&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-ancho"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

    {% else %}

    <a href="?order_by=ancho&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="ancho" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

    {% endif %}

    {% else %}

    {% if request.GET.order_by == "ancho" %}

    <a href="?order_by=-ancho&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-ancho"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

    {% else %}

    <a href="?order_by=ancho&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="ancho" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

    {% endif %}

    {% endif %}

    </th>
    <th>
        Largo del contenedor

        {% if request.GET.page %}

        {% if request.GET.order_by == "largo" %}

        <a href="?order_by=-largo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-largo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=largo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="largo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "largo" %}

        <a href="?order_by=-largo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-largo"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=largo&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="largo" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Alto del contenendor

        {% if request.GET.page %}

        {% if request.GET.order_by == "alto" %}

        <a href="?order_by=-alto&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-alto"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=alto&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="alto" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "alto" %}

        <a href="?order_by=-alto&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-alto"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=alto&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="alto" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
    <th>
        Volumen en camión del contenedor

        {% if request.GET.page %}

        {% if request.GET.order_by == "volumen_en_camion" %}

        <a href="?order_by=-volumen_en_camion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-volumen_en_camion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=volumen_en_camion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="volumen_en_camion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% else %}

        {% if request.GET.order_by == "volumen_en_camion" %}

        <a href="?order_by=-volumen_en_camion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="-volumen_en_camion"  class="descendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Descendente" tabindex="-1"></a>

        {% else %}

        <a href="?order_by=volumen_en_camion&page={{request.GET.page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" id="volumen_en_camion" class="ascendenteAlfabetico" data-placement="left" data-toggletooltip="tooltip" title="Ascendente" tabindex="-1"></a>

        {% endif %}

        {% endif %}

    </th>
</tr>

{% for i in contenedores %}

<tr id="tr{{i.pk}}" data-url="{% url 'ucontenedores:edit_contenedor' i.pk %}?next={{request.get_full_path}}" class="btnFicha">
    <td id="td1_{{i.pk}}">

        {{ i.contenedor }}

    </td>
    <td id="td2_{{i.pk}}">

        {{ i.descripcion|truncatechars:"30" }}

    </td>
    <td id="td3_{{i.pk}}">

        {{ i.capacidad_de_volumen }}

    </td>
    <td id="td4_{{i.pk}}">

        {{ i.capacidad_de_peso }}

    </td>
    <td id="td5_{{i.pk}}">

        {{ i.ancho }}

    </td>
    <td id="td6_{{i.pk}}">

        {{ i.largo }}

    </td>
    <td id="td7_{{i.pk}}">

        {{ i.alto }}

    </td>
    <td id="td8_{{i.pk}}">

        {{ i.volumen_en_camion }}

    </td>
    <td class="c_td">
      <a title="Eliminar" data-toggletooltip="tooltip" data-placement="left" data-url="{% url 'ucontenedores:eliminar_contenedor' i.pk %}?next={{request.get_full_path}}" data-id="{{ i.id }}" data-nombre="{{ i.contenedores }}" class="iconoRemover btnEliminar" data-toggle="modal" data-target="#modalEliminar" id="eliminar{{i.id}}"></a>
      <span class="iconoGrupoControl"></span>
    </td>
</tr>

{% endfor %}

{% else %}

<tr>
    <td> No se encontraron registros</td>
</tr>

{% endif %}

{% endblock lista %}
