{% extends "base_ficha.html" %}

{% block titulo_ficha %}

Ficha del contenedor: <small>{{form.contenedor.value|lower}}</small>

{% endblock titulo_ficha %}

{% block paginacionFicha %}

    {% if contenedor_previous %}

        <li class="anterior">
            <md-button href="{% url 'ucontenedores:edit_contenedor' contenedor_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</md-button>
        </li>

    {% else %}

        <li class="anteriorBloqueado">
            <md-button href="#" ng-disabled="true">&larr; Anterior</md-button>
        </li>

    {% endif %}

    {% if contenedor_next %}

        <li class="siguiente">
            <md-button href="{% url 'ucontenedores:edit_contenedor' contenedor_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</md-button>
        </li>

    {% else %}

        <li class="siguienteBloqueado">
            <md-button href="#" ng-disabled="true">Siguiente &rarr;</md-button>
        </li>

    {% endif %}

{% endblock paginacionFicha %}

{% block ficha_basica %}

<md-input-container>
<h3>

    {{form.contenedor}}

</h3>
</md-input-container>
<md-input-container>
<label for="{{form.descripcion.id_for_label}}">

    {{form.descripcion.label}}

</label>

{{form.descripcion}}

</md-input-container>
<md-input-container>
<label for="{{form.capacidad_de_volumen.id_for_label}}">

    {{form.capacidad_de_volumen.label}}

</label>

{{form.capacidad_de_volumen}}

</md-input-container>
<md-input-container>
<label for="{{form.capacidad_de_peso.id_for_label}}">

    {{form.capacidad_de_peso.label}}

</label>

{{form.capacidad_de_peso}}

</md-input-container>
<md-input-container>
<label for="{{form.ancho.id_for_label}}">

    {{form.ancho.label}}

</label>

{{form.ancho}}

</md-input-container>
<md-input-container>
<label for="{{form.largo.id_for_label}}">

    {{form.largo.label}}

</label>

{{form.largo}}

</md-input-container>
<md-input-container>
<label for="{{form.alto.id_for_label}}">

    {{form.alto.label}}

</label>

{{form.alto}}

</md-input-container>
<md-input-container>
<label for="{{form.volumen_en_camion.id_for_label}}">

    {{form.volumen_en_camion.label}}

</label>

{{form.volumen_en_camion}}

</md-input-container>

{% endblock ficha_basica %}

{% block moduloAngularFicha %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.contenedor = '{{form.contenedor.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.capacidad_de_volumen = '{{form.capacidad_de_volumen.value}}';
    $scope.capacidad_de_peso = '{{form.capacidad_de_peso.value}}';
    $scope.ancho = '{{form.ancho.value}}';
    $scope.largo = '{{form.largo.value}}';
    $scope.alto = '{{form.alto.value}}';
    $scope.volumen_en_camion = '{{form.volumen_en_camion.value}}';
    $scope.CancelarCambios = function() {
        removeHandler();
        $scope.contenedor = '{{form.contenedor.value}}';
        $scope.descripcion = '{{form.descripcion.value}}';
        $scope.capacidad_de_volumen = '{{form.capacidad_de_volumen.value}}';
        $scope.capacidad_de_peso = '{{form.capacidad_de_peso.value}}';
        $scope.ancho = '{{form.ancho.value}}';
        $scope.largo = '{{form.largo.value}}';
        $scope.alto = '{{form.alto.value}}';
        $scope.volumen_en_camion = '{{form.volumen_en_camion.value}}';
    }
    $scope.onChange = function() {
        controlSubmit(event);
    };
    $(parent.document.getElementsByClassName("btnFicha")).removeClass('seleccion');
    $(parent.document.getElementById("tr"+{{form.instance.pk}})).addClass('seleccion');
    var tr = $(parent.document.getElementById("tr"+{{form.instance.pk}}));
    tr.children('td[id=td1_{{form.instance.pk}}]').text('{{form.contenedor.value}}');
    tr.children('td[id=td2_{{form.instance.pk}}]').text('{{form.descripcion.value|truncatechars:"40"}}');
    tr.children('td[id=td3_{{form.instance.pk}}]').text('{{form.capacidad_de_volumen.value}}');
    tr.children('td[id=td4_{{form.instance.pk}}]').text('{{form.capacidad_de_peso.value}}');
    tr.children('td[id=td5_{{form.instance.pk}}]').text('{{form.ancho.value}}');
    tr.children('td[id=td6_{{form.instance.pk}}]').text('{{form.largo.value}}');
    tr.children('td[id=td7_{{form.instance.pk}}]').text('{{form.alto.value}}');
    tr.children('td[id=td8_{{form.instance.pk}}]').text('{{form.volumen_en_camion.value}}');
});
</script>

{% endblock moduloAngularFicha %}
