{% extends "base_editar.html" %}

{% block titulo %}

Herramienta

{% endblock titulo %}

{% block titulo_form %}

Agregar una herramienta

{% endblock titulo_form %}

{% block nav_lista_form %}{% endblock nav_lista_form %}

{% block cuerpo_form %}

  {{ form.as_md }}

<script type="text/javascript">
document.getElementById('id_herramienta').focus()
</script>

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
      $('#id_herramienta').focus();
        });
</script>
<style>.paginacionEdit{height: 0;}</style>

{% endblock moduloAngular %}
