{% extends "base_editar.html" %}

{% block titulo %}

Herramienta

{% endblock titulo %}

{% block titulo_form %}

Editar la herramienta: {{form.herramienta.value|lower}}

{% endblock titulo_form %}

{% block nav_lista_form %}

{% if herramienta_previous %}

<li class="anterior">
    <md-button href="{% url 'uherramientas:edit_herramienta' herramienta_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">&larr; Anterior</md-button>
</li>

{% else %}

<li class="anteriorBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">&larr; Anterior</md-button>
</li>

{% endif %}

{% if herramienta_next %}

<li class="siguiente">
    <md-button href="{% url 'uherramientas:edit_herramienta' herramienta_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% else %}

<li class="siguienteBloqueado">
    <md-button href="#" ng-disabled="true" tabindex="-1">Siguiente &rarr;</md-button>
</li>

{% endif %}

{% endblock nav_lista_form %}

{% block cuerpo_form %}

{{ form.as_md }}

{% endblock cuerpo_form %}

{% block moduloAngular %}

<script type="text/javascript">
app.controller('controlForm',function($scope){
    $scope.unidad = '{{form.unidad.value}}';
    $scope.herramienta = '{{form.herramienta.value}}';
    $scope.descripcion = '{{form.descripcion.value}}';
    $scope.volumen_en_camion = '{{form.volumen_en_camion.value}}';
    $scope.peso_kg = '{{form.peso_kg.value}}';
    $('#id_herramienta').focus();
});
</script>

{% endblock moduloAngular %}
